In [2]:
import requests, csv, numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url = "https://ainsworthsports.com/soccer_player_rankings_all_time_1_to_1000.htm"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
tags = soup.find_all("td")
df = pd.DataFrame()
players = pd.DataFrame(columns={"id", "player_name"})
bad_names = []
for i in range(29, len(tags), 4): #jump to first name tag, names are every 4 tags
    player_name = tags[i].text.strip()
    id_response_json = requests.get(f"http://localhost:8000/players/search/{player_name}").json()
    if "results" in id_response_json and id_response_json["results"]:
        print(player_name)
        player_id = id_response_json['results'][0]["id"]
        teams_response = requests.get(f"http://localhost:8000/players/{player_id}/transfers")
        players = pd.concat([players, pd.DataFrame([{"id": int(player_id), "player_name": player_name}])], ignore_index=True)
        df = pd.concat([df, pd.DataFrame([teams_response.json()])], ignore_index=True)
    else:
        bad_names.append(player_name)
df

Pele
Cristiano Ronaldo
Lionel Messi
Diego Maradona
Franz Beckenbauer
Michel Platini
Johan Cruyff
Ronaldo
Marco van Basten
Eusebio
Gerd Muller
Bobby Charlton
Karl-Heinz Rummenigge
Zinedine Zidane
Lothar Matthaus
Ruud Gullit
Lev Yashin
Andriy Shevchenko
Raymond Kopa
Gianni Rivera
Bobby Moore
Franco Baresi
Rivaldo
Luis Figo
Florian Albert
Denis Law
Michael Owen
Roberto Baggio
Robert Lewandowski
Hristo Stoichkov
Ferenc Puskas
Ronaldinho
Paolo Rossi
Kaka
Luka Modric
Alfredo Di Stefano
Pavel Nedved
Jean-Pierre Papin
Oleg Blokhin
Garrincha
Kevin Keegan
George Best
Allan Simonsen
Omar Sivori
Josef Masopust
Matthias Sammer
Fabio Cannavaro
Romario
Mario Kempes
Zico
George Weah
Stanley Matthews
Igor Belanov
Paolo Maldini
Jurgen Klinsmann
Kenny Dalglish
David Beckham
Thierry Henry
Andres Iniesta
Dino Zoff
John Charles
Raul
Gianluigi Buffon
Roberto Carlos
Gabriel Batistuta
Giacinto Facchetti
Gheorghe Hagi
Frank Lampard
Gary Lineker
Paul Breitner
Ian Rush
Dennis Bergkamp
Preben Elkjaer
Eric Cantona
Deco
Gordon Banks
Davor Suker
Rob Rensenbrink
Bernd Schuster
Luigi Riva
Gunter Netzer
Alessandro Mazzola
Alain Giresse
Hans Krankl
Helmut Rahn
Dejan Savicevic
Paulo Futre
Predrag Mijatovic
Jean Tigana
Jairzinho
Rivelino
Giuseppe Meazza
Didi
Billy Wright
Salvatore Schillaci
Darko Pancev
Xavi
Neymar
Michael Laudrup
Zbigniew Boniek
Dragan Dzajic
Steven Gerrard
Alan Shearer
Manuel Neuer
Peter Schmeichel
Ruud Krol
Fernando Torres
Jimmy Greaves
Franck Ribery
Uwe Seeler
Kazimierz Deyna
Frank Rijkaard
Oliver Kahn
Karl-Heinz Schnellinger
Just Fontaine
Amancio Amaro
Emilio Butragueno
Antoine Griezmann
Andreas Brehme
Paul Gascoigne
Ivo Viktor
Johnny Haynes
Roger Milla
Jari Litmanen
Duncan Edwards
Jimmy Johnstone
Jose Luis Chilavert
Claudio Caniggia
Tostao
Tom Finney
Ryan Giggs
Wayne Rooney
Didier Drogba
Zlatan Ibrahimovic
Samuel Eto'o
Iker Casillas
Karim Benzema
Alessandro Del Piero
Sergio Ramos
Rinat Dasayev
Sergio Aguero
Luis Suarez
Ruud van Nistelrooy
Francisco Gento
Arjen Robben
Cesc Fabregas
Kevin De Bruyne
Thomas Muller
Yaya Toure
Paul Scholes
Patrick Vieira
Marcel Desailly
David Villa
Lilian Thuram
Francesco Totti
Andrea Pirlo
Petr Cech
Eden Hazard
Edinson Cavani
Pierre-Emerick Aubameyang
Harry Kane
Michael Ballack
Berti Vogts
Robin van Persie
Mesut Ozil
Kylian Mbappe
Bastian Schweinsteiger
John Terry
Toni Kroos
Gareth Bale
Christian Vieri
Philipp Lahm
Peter Shilton
Ferenc Bene
Rudi Voller
Fabien Barthez
Bryan Robson
Johan Neeskens
Edwin van der Sar
Thibaut Courtois
Mario Gotze
Paul Pogba
Hugo Lloris
Radamel Falcao
Miroslav Klose
David Seaman
Sadio Mane
Jimmy Floyd Hasselbaink
Edin Dzeko
Andy Cole
David de Gea
Ian Wright
Neville Southall
Michael Essien
Diego Forlan
Arturo Vidal
Jan Ceulemans
Dimitar Berbatov
Wolfgang Overath
Dwight Yorke
Jamie Vardy
David Trezeguet
Sami Hyypia
Emmanuel Adebayor
Patrick Kluivert
John Barnes
Xabi Alonso
William Gallas
Grzegorz Lato
Diego
Joe Cole
Jens Lehmann
Fernando Hierro
Carlos Tevez
Robert Pires
Gianluca Vialli
Dimitri Payet
Thiago Silva
James Rodriguez
Roberto Firmino
Marcelo
Mats Hummels
Angel Di Maria
Roy Keane
Hernan Crespo
Mario Mandzukic
David Platt
Gianfranco Zola
Lukas Podolski
Mohamed Salah
Peter Beardsley
Tomas Brolin
Alexis Sanchez
Paul McGrath
Mario Balotelli
Philippe Coutinho
Tim Cahill
Emmanuel Petit
Florent Malouda
Rio Ferdinand
Paul Van Himst
Nemanja Vidic
Riyad Mahrez
Harry Kewell
Mark Hughes
Sol Campbell
Nwankwo Kanu
Kurt Hamrin
Tibor Nyilasi
Horst Szymaniak
Pirri
Marius Tresor
Andreas Moller
Tomas Rosicky
Claude Makelele
Thiago Alcantara
Rafael van der Vaart
Enzo Scifo
Hristo Bonev
Oleksandr Zavarov
Sepp Maier
Juan Alberto Schiaffino
Laurent Blanc
Michel Preud'homme
Dragan Stojkovic
Gyula Grosics
El Hadji Diouf
Yoann Gourcuff
Kolo Toure
Djibril Cisse
Ricardo Carvalho
David Ginola
Henrik Larsson
Nani
Diego Costa
Gary Pallister
Asamoah Gyan
Gordon Strachan
Dean Saunders
Marc Overmars
Gerhard Hanappi
Mario Coluna
Youri Djorkaeff
Sylvain Wiltord
Frederic Kanoute
Sandor Kocsis
Ivan Rakitic
Ronnie Hellstrom
Wilfried Van Moer
Sandro Mazzola
Pat Jennings
Franco Causio
Rainer Bonhof
Bruno Pezzey
Ronald Koeman
Juninho
Philippe Albert
Jean-Marie Pfaff
Brian Laudrup
Luca Toni
Roberto Bettega
Andrey Arshavin
Lajos Tichy
Juan Sebastian Veron
Geoff Hurst
Alessandro Altobelli
Oliver Bierhoff
Pauleta
Virgil van Dijk
Luis Enrique
Wesley Sneijder
Milan Baros
Dani Alves
Papa Bouba Diop
Christian Ziege
Ludovic Giuly
Cris
Diego Godin
Fernando Morientes
Gaizka Mendieta
Jamie Carragher
Ivan Kolev
Alan Ball
Ove Kindvall
Wlodzimierz Lubanski
Giancarlo Antognoni
Liam Brady
Glenn Hysen
Clarence Seedorf
Alessandro Nesta
Chris Waddle
Adriano
Danny Blanchflower
John Wark
Raphael Varane
Robinho
Helmut Haller
Gonzalo Higuain
Ralf Edstrom
Michel
Jose Altafini
Georgi Asparuhov
Graeme Souness
Hansi Muller
Soren Lerby
Stephane Chapuisat
Rui Costa
Filippo Inzaghi
Luis Garcia
Jozsef Bozsik
Manuel Amoros
Gianluca Zambrotta
Carles Puyol
Alisson
Fabrizio Ravanelli
Jan Tomaszewski
Bebeto
Igor Chislenko
Walter Schachner
Pierre Littbarski
Robert Prosinecki
Julio Cesar Soares
Erwin Vandenbergh
Daniel Passarella
Rui Patricio
Jose Antonio Reyes
Des Walker
Maniche
Junichi Inamoto
Mark Hateley
Dominique Rocheteau
Julio Salinas
Dries Mertens
Eduard Streltsov
Jef Jurion
Dragoslav Sekularac
Andrej Kvasnak
Janos Gorocs
Louis Pilot
Mario Corso
Billy Bremner
Trevor Brooking
Dudu Georgescu
Zdenek Nehoda
Morten Olsen
Oleksiy Mykhaylychenko
Stefan Effenberg
Roy Makaay
Juan Roman Riquelme
Martin Dahlin
Jan Oblak
Krasimir Balakov
Gennaro Gattuso
Didier Deschamps
Gregory Coupet
Jon Dahl Tomasson
Paulo Dybala
Isco
Walter Zenga
Agne Simonsson
Jose Augusto
Milan Galic
Jesper Olsen
Nils Liedholm
Jurgen Croy
Antonin Panenka
Trevor Francis
Dieter Muller
Klaus Allofs
Ronald de Boer
Karoly Sandor
Josip Skoblar
Janos Farkas
Angelo Domenghini
Branko Oblak
Juan Manuel Asensi
Rene van de Kerkhof
Horst Hrubesch
Luis Arconada
Vladimir Petrovic
Bruno Conti
Maxime Bossis
Safet Susic
Luis Fernandez
Bixente Lizarazu
Claudio Lopez
Viliam Schrojf
Ernst Ocwirk
Hasan Sas
Alen Boksic
Gunnar Gren
Harry Gregg
Roberto Ayala
Tony Yeboah
Karl-Heinz Riedle
Javier Mascherano
Uli Hoeness
Tiago Mendes
Johnny Rep
Jozef Mlynarczyk
Valentin Ivanov
Gianluca Pagliuca
Marc Wilmots
Socrates
Gerard Pique
Martin Peters
Wlodzimierz Smolarek
Glenn Hoddle
Rai
Adrian Mutu
Jose Aguas
Jack Charlton
Ladislav Novak
Luis del Sol
Slava Metreveli
Horst Nemec
Franny Lee
Mimis Domazos
Nestor Combin
Willi Schulz
Antal Dunai
Murtaz Khurtsilava
Piet Keizer
Tommy Gemmell
Terry Cooper
Jupp Heynckes
Hans-Jurgen Kreische
Ruud Geels
Jean-Marc Guillou
Barry Hulshoff
Gordon McQueen
Marian Masny
Eric Gerets
Manfred Kaltz
Torbjorn Nilsson
Gerard Janvion
Herbert Prohaska
Uli Stielike
Dominique Bathenay
Fernando Gomes
Ladislav Vizek
Hans-Peter Briegel
Dimitris Saravakos
Anatoliy Demyanenko
Guido Buchwald
Oleh Kuznetsov
Roberto Mancini
Rune Bratseth
Flemming Povlsen
Giuseppe Signori
Thomas Hassler
Zvonimir Boban
Sonny Anderson
Paulo Sousa
Zlatko Zahovic
Francesco Toldo
Giovane Elber
Mario Jardel
Ruben Baraja
Pablo Aimar
Laszlo Kubala
Jim Baxter
Pierre van Hooijdonk
Finidi George
Ricardo Zamora
Jose Nasazzi
Jose Santamaria
Cesare Maldini
Hidetoshi Nakata
Koke
Mahamadou Diarra
Karel Poborsky
Max Morlock
Viv Anderson
Kennet Andersson
Anatoliy Byshovets
Marcelo Salas
Roger Piantoni
Jose Luis Caminero
Luis Fabiano
Leonardo Bonucci
Theodoros Zagorakis
Antoni Ramallets
Ivor Allchurch
Viktor Ponedelnik
Archie Gemmill
Florea Dumitrache
Heinz Flohe
Roland Sandberg
Klaus Fischer
Arie Haan
Joachim Streich
Silviu Lung
Didier Six
Marco Tardelli
Andreas Kopke
Dino Baggio
John Jensen
Cafu
Charles Antenen
Giampiero Boniperti
Lennart Skoglund
Colin McDonald
Georgi Naydenov
Karl Koller
Milos Milutinovic
Joaquin Peiro
Erno Solymosi
Peter Lorimer
Sigfried Held
Josip Katalinski
Jurgen Grabowski
Jurgen Sparwasser
Manuel Bento
Jerzy Gorgon
Vladislav Bogicevic
Francesco Graziani
Willy van de Kerkhof
Ramaz Shengelia
Aleksandre Chivadze
Steve Archibald
Carlos Manuel Santos
Thomas Ravelli
Enzo Francescoli
Lajos Detari
Carlos Valderrama
Pavlo Yakovenko
Georges Grun
Norman Whiteside
Toni Polster
Txiki Begiristain
Emil Kostadinov
Andreas Herzog
Sinisa Mihajlovic
Hakan Sukur

Pep Guardiola
Vitor Baia
Victor Ikpeba
Bernd Schneider
Ebbe Sand
Edmilson
Jan Koller
Juan Carlos Valeron
Emmanuel Olisadebe
Fabio Grosso
Edison Mendez
Shunsuke Nakamura
Javier Saviola
Ricardo Quaresma
Mark van Bommel
Eric Abidal
Jaap Stam
Vicente Rodriguez
Dixie Dean
Stefan Bozhkov
Kees Rijvers
Roger Marche
Robert Jonquet
Vujadin Boskov
Bengt Gustavsson
Campanal II
Joseph Ujlaki
Svatopluk Pluskal
Thadee Cisowski
Ake Johansson
Karl Stotz
Orvar Bergmark
Igor Netto
Jimmy McIlroy
Joan Segarra
Tommy Taylor
Yuriy Voynov
Bobby Smith
Dezso Bundzsak
Dumitru Macri
Julio Botelho
Manfred Kaiser
Andre Lerond
Blagoje Vidinic
Borivoje Kostic
Germano de Figueiredo
Norbert Eschmann
Bretislav Dolejsi
Erich Hof
Pierre Bernard
Rudolf Kucera
Lucien Muller
Miguel Montuori
Titus Bubernik
Coen Moulijn
Jozef Adamec
Metin Oktay
Mikheil Meskhi
Ole Madsen
Antonio Angelillo
Ezio Pascutti
Bruno Nicole
Harry Bild
Nikola Kotkov
Zygfryd Szołtysik
Gernot Fraydl
Johnny Giles
Ken Jones
Robert Herbin
Angelo Sormani
Giorgos Sideris
Jean Djorkaeff
Mirsad Fazlagic
Tony Dunne
Zvezdan Cebinac
Francis Lee
Giovanni Trapattoni
Ivica Osim
Jean Nicolay
Gert Dorfel
Gilbert Gress
Ivan Curkovic
Klaus Urbanczyk
Jakob Kuhn
John Greig
Philippe Gondet
Franz Hasil
Jorn Bjerregaard
Manuel Velazquez
Martin Chivers
Petar Zhekov
Rinus Israel
Willem van Hanegem
Gerrie Muhren
Emlyn Hughes
Giorgio Chinaglia
Pedro de Felipe
Carles Rexach
Jan Pivarnik
Jaroslav Pollak
Pierino Prati
Robert Gadocha
Colin Todd
Cornel Dinu
Anders Linderoth
David Kipiani
Ray Kennedy
Benny Wendt
Costica Stefanescu
Don Givens
Terry McDermott
Anton Ondrus
Frans Thijssen
Kees Kist
Santillana
Steve Heighway
Antonio Oliveira
Francois Van Der Elst
Leonid Buryak
Rui Jordao
Vahid Halilhodzic
Ali Kemal Denizci
Felix Magath
Gaetano Scirea
Marcel Raducanu
Vasilis Hatzipanagis
Jesus Zamora
Tony Woodcock
Antonio Maceda
Frank Stapleton
Rodion Camataru
Frank Arnesen
Rafael Gordillo
Fernando Chalana
Georgi Dimitrov
Simon Tahamata
Zlatko Vujovic
Fedor Cherenkov
Heinz Hermann
Karl-Heinz Forster
Ally McCoist
Stelios Manolas
Guy Hellers
John Sivebaek
Theo Snelders
Bruno Martini
Otto Konrad
Paul McStay
Sokol Kushta
Gary Stevens
Henrik Andersen
Miodrag Belodedici
Tanju Colak
Andreas Thom
Basile Boli
Franck Sauzee
Henrik Larsen
Ivan Zamorano
Jurgen Kohler
Olaf Thon
Rafael Martin Vazquez
Thomas Doll
Trifon Ivanov
Ciro Ferrara
Fernando Redondo
Angelo Peruzzi
Kubilay Turkyilmaz
Bent Skammelsrud
Mario Basler
Ciriaco Sforza
Juan Esnaider
Michalis Kapsis
Radek Bejbl
Rogerio Ceni
Sergi Barjuan
Patrick Berger
Johan Micoud
Ailton Goncalves
Damiano Tommasi
Samuel Kuffour
Traianos Dellas
Ivan Helguera
Mauro Camoranesi
Willy Sagnol
Cristian Chivu
Mista
Yildiray Basturk
Lucio
Marcos Senna
Nihat Kahveci
Giourkas Seitaridis
Younis Mahmoud
Lajos Szucs
Sergio Busquets
Hatem Trabelsi
Darko Kovacevic
Angelos Charisteas
Michel Salgado
Peter Reid
David O'Leary
Vincent Candela
Dion Dublin
Ashley Young
Pepe Reina
Gylfi Sigurdsson
Kevin Nolan
Romelu Lukaku
Gary Speed
Alexandre Lacazette
David Unsworth
Stephane Ruffier
Joe Hart
Nicolas Anelka
David Silva
Nigel Martyn
Les Ferdinand
Robbie Fowler
Marco Reus
Leighton Baines
Olivier Giroud
Brad Friedel
David James
Gonzalo Castro
Nolberto Solano
Bafetimbi Gomis
Gus Poyet
Tim Howard
Dirk Kuyt
Bernd Leno
Mark Schwarzer
Danny Murphy
James Milner
Robbie Keane
Gary McAllister
Oliver Baumann
Edgar Davids
Dan Petrescu
Darren Bent
Anthony Lopes
Nicky Butt
Steed Malbranque
Yakubu Aiyegbeni
Ian Harte
Trevor Sinclair
Gareth Barry
Mario Gomez
Steve Mandanda
Lee Bowyer
Christian Gentner
Raheem Sterling
Salomon Kalou
Teddy Sheringham
Lars Stindl
Branislav Ivanovic
Daniel Caligiuri
Antonio Valencia
Thomas Sorensen
Andre Ayew
Chris Sutton
Gary Cahill
Ole Gunnar Solskjaer
Sejad Salihovic
Mikel Arteta
Aaron Ramsey
Theodor Gebre Selassie
Cedric Carrasso
Nolan Roux
Mathieu Debuchy
Robbie Earle
Anthony Modeste
Mark Viduka
David Alaba
Loic Remy
Steve Watson
Charles N'Zogbia
Stefan Kiessling
Klaas-Jan Huntelaar
Emile Heskey
Kieran Richardson
Javier Hernandez
Tim Flowers
Jimmy Briand
Max Kruse
Shay Given
Leon Osman
Muzzy Izzet
Nils Petersen
Xherdan Shaqiri
Joel Matip
Kevin Trapp
Simon Mignolet
Julien Feret
Danijel Subasic
Steve McManaman
Kevin Volland
Laurent Koscielny
Raffael
Matt Le Tissier
Claudio Pizarro
Peter Crouch
Jussi Jaaskelainen
Marouane Fellaini
Mevlut Erdinc
Geoffrey Jourdren
Ron-Robert Zieler
Patrik Berger
David Ospina
Remy Cabella
Kasper Schmeichel
Paul Ince
James Beattie
Jermaine Jenas
Cheick Diabate
Ugo Ehiogu
Mark Noble
Wahbi Khazri
Aleksandar Kolarov
Benoit Costil
Kevin Phillips
Yohan Cabaye
Denis Irwin
Ben Foster
Rildo
Tim Sherwood
Darren Anderton
Ryad Boudebouz
Clint Dempsey
Mark Bosnich
Andre Schurrle
Ilkay Gundogan
Lukasz Piszczek
Lukasz Fabianski
Ivan Perisic
Timo Werner
Ian Walker
Ralf Fahrmann
Daniel Sturridge
Yunus Malli
Dennis Wise
Tony Cottee
Rene Adler
Paolo Di Canio
Lewis Holtby
Simon Davies
Florian Thauvin
Willian
Neil Sullivan
Matthew Taylor
Seamus Coleman
Shinji Kagawa
Kevin Davies
Paulo Wanchope
Oyvind Leonhardsen
Joleon Lescott
Oscar Wendt
Alexander Meier
Shaka Hislop
Martin Harnik
Diego Benaglio
David Luiz
Paul Jones
Don Hutchison
Hermann Hreidarsson
Andrej Kramaric
Asmir Begovic
Adam Johnson
David Dunn
Morgan Sanson
Gareth Southgate
Paul Scharner
Marcell Jansen
Louis Saha
Souleymane Camara
Kevin Kilbane
Andre Hahn
Boudewijn Zenden
Yossi Benayoun
Vincent Kompany
Craig Bellamy
Christian Benteke
Romain Hamouma
Ashley Cole
Glen Johnson
Marko Arnautovic
Ruel Fox
Ivica Olic
Julian Brandt
Robert Huth
Christophe Jallet
Jordan Henderson
Shinji Okazaki
Anthony Martial
Craig Gardner

,id,transfers,youthClubs,updatedAt
0,17121,"[{'id': '27815', 'from': {'clubID': '4835', 'c...","[Bauru Atletico Clube (1952-1956), FC Santos (...",2024-11-07T22:02:41.387407
1,8198,"[{'id': '4197140', 'from': {'clubID': '515', '...",[CF Andorinha (1992-1995)],2024-11-07T22:02:43.060794
2,28003,"[{'id': '4418847', 'from': {'clubID': '583', '...","[Grandoli FC (1992-1995), Newell's Old Boys (1...",2024-11-07T22:02:44.394691
3,8024,"[{'id': '231513', 'from': {'clubID': '189', 'c...",NaN,2024-11-07T22:02:46.032325
4,72347,"[{'id': '186730', 'from': {'clubID': '4835', '...","[SC 1906 München, FC Bayern München (-1964)]",2024-11-07T22:02:47.246001
...,...,...,...,...
963,28335,"[{'id': '2946756', 'from': {'clubID': '1416', ...","[UA Cognac (1992–1998), Chamois Niortais FC (1...",2024-11-07T22:26:59.976866
964,61651,"[{'id': '4831591', 'from': {'clubID': '7732', ...","[Fulwell Juniors (1996-1998), AFC Sunderland (...",2024-11-07T22:27:01.624904
965,79642,"[{'id': '4909451', 'from': {'clubID': '475', '...",[Takarazuka Junior FC],2024-11-07T22:27:03.034920
966,182877,"[{'id': '5277762', 'from': {'clubID': '515', '...","[CO Les Ulis (2001-2009), Olympique Lyonnais (...",2024-11-07T22:27:04.494740
967,37171,"[{'id': '2924972', 'from': {'clubID': '337', '...",NaN,2024-11-07T22:27:05.970156

In [9]:
df = df[df['transfers'].notna()]
df.shape

(967, 4)

In [10]:
df

,id,transfers,youthClubs,updatedAt
0,17121,"[{'id': '27815', 'from': {'clubID': '4835', 'c...","[Bauru Atletico Clube (1952-1956), FC Santos (...",2024-11-07T22:02:41.387407
1,8198,"[{'id': '4197140', 'from': {'clubID': '515', '...",[CF Andorinha (1992-1995)],2024-11-07T22:02:43.060794
2,28003,"[{'id': '4418847', 'from': {'clubID': '583', '...","[Grandoli FC (1992-1995), Newell's Old Boys (1...",2024-11-07T22:02:44.394691
3,8024,"[{'id': '231513', 'from': {'clubID': '189', 'c...",NaN,2024-11-07T22:02:46.032325
4,72347,"[{'id': '186730', 'from': {'clubID': '4835', '...","[SC 1906 München, FC Bayern München (-1964)]",2024-11-07T22:02:47.246001
...,...,...,...,...
963,28335,"[{'id': '2946756', 'from': {'clubID': '1416', ...","[UA Cognac (1992–1998), Chamois Niortais FC (1...",2024-11-07T22:26:59.976866
964,61651,"[{'id': '4831591', 'from': {'clubID': '7732', ...","[Fulwell Juniors (1996-1998), AFC Sunderland (...",2024-11-07T22:27:01.624904
965,79642,"[{'id': '4909451', 'from': {'clubID': '475', '...",[Takarazuka Junior FC],2024-11-07T22:27:03.034920
966,182877,"[{'id': '5277762', 'from': {'clubID': '515', '...","[CO Les Ulis (2001-2009), Olympique Lyonnais (...",2024-11-07T22:27:04.494740
967,37171,"[{'id': '2924972', 'from': {'clubID': '337', '...",NaN,2024-11-07T22:27:05.970156

In [11]:
bad_names

['Luisito Suarez',
 'Park Ji-Sung',
 'Harald Schumacher',
 'Valery Voronin',
 'Albert Shesternyov',
 'Joao Resende Alves',
 'Jose Augusto Torres',
 'Packie Bonner',
 'Yevgeniy Rudakov',
 'Andras Toroczik',
 'Emerson (1976)',
 'Maicon Sisenando',
 'Seol Ki-Hyeon',
 'Yordan Letchkov',
 'Frankie Vercauteren',
 'Oleg Protassov',
 'Alberto Costa Pereira',
 'Pepillo II',
 'Vladimir Muntyan',
 'Stoicho Mladenov',
 'Helmuth Duckadam',
 'Robby Langers',
 'Antonios Nikopolidis',
 'Sergei Kiriakov',
 'Nikos Machlas',
 'Yuri Zhirkov',
 'Son Heung-Min',
 'Naldo (1982)',
 'Paul Robinson (GK)',
 'Gabby Agbonlahor',
 'Koo Ja-Cheol',
 'Papiss Cisse']

In [12]:
players_df = df
players_df

,id,transfers,youthClubs,updatedAt
0,17121,"[{'id': '27815', 'from': {'clubID': '4835', 'c...","[Bauru Atletico Clube (1952-1956), FC Santos (...",2024-11-07T22:02:41.387407
1,8198,"[{'id': '4197140', 'from': {'clubID': '515', '...",[CF Andorinha (1992-1995)],2024-11-07T22:02:43.060794
2,28003,"[{'id': '4418847', 'from': {'clubID': '583', '...","[Grandoli FC (1992-1995), Newell's Old Boys (1...",2024-11-07T22:02:44.394691
3,8024,"[{'id': '231513', 'from': {'clubID': '189', 'c...",NaN,2024-11-07T22:02:46.032325
4,72347,"[{'id': '186730', 'from': {'clubID': '4835', '...","[SC 1906 München, FC Bayern München (-1964)]",2024-11-07T22:02:47.246001
...,...,...,...,...
963,28335,"[{'id': '2946756', 'from': {'clubID': '1416', ...","[UA Cognac (1992–1998), Chamois Niortais FC (1...",2024-11-07T22:26:59.976866
964,61651,"[{'id': '4831591', 'from': {'clubID': '7732', ...","[Fulwell Juniors (1996-1998), AFC Sunderland (...",2024-11-07T22:27:01.624904
965,79642,"[{'id': '4909451', 'from': {'clubID': '475', '...",[Takarazuka Junior FC],2024-11-07T22:27:03.034920
966,182877,"[{'id': '5277762', 'from': {'clubID': '515', '...","[CO Les Ulis (2001-2009), Olympique Lyonnais (...",2024-11-07T22:27:04.494740
967,37171,"[{'id': '2924972', 'from': {'clubID': '337', '...",NaN,2024-11-07T22:27:05.970156

In [13]:
def add_player_to_df(player_name):
    global players_df
    id_response_json = requests.get(f"http://localhost:8000/players/search/{player_name}").json()
    if id_response_json["results"]:
        player_id = id_response_json['results'][0]["id"]
        teams_response = requests.get(f"http://localhost:8000/players/{player_id}/transfers")
        players_df = pd.concat([pd.DataFrame([teams_response.json()]), players_df], ignore_index=True)
    else:
        print(f"Failed for {player_name}")
add_player_to_df("Maicon")
add_player_to_df("Heung-Min Son")
add_player_to_df("Ji-Sung Park")
players_df

,id,transfers,youthClubs,updatedAt
0,4592,"[{'id': '1059677', 'from': {'clubID': '1039', ...",[Suwon Technical High School (1996-1998)],2024-11-07T23:07:30.365063
1,91845,"[{'id': '1330448', 'from': {'clubID': '15', 'c...",[Chuncheon Kasan Elementary School (춘천가산초등학교)],2024-11-07T23:07:28.711638
2,18301,"[{'id': '3759892', 'from': {'clubID': '10747',...","[Grêmio, Criciúma, Cruzeiro]",2024-11-07T23:07:26.972802
3,17121,"[{'id': '27815', 'from': {'clubID': '4835', 'c...","[Bauru Atletico Clube (1952-1956), FC Santos (...",2024-11-07T22:02:41.387407
4,8198,"[{'id': '4197140', 'from': {'clubID': '515', '...",[CF Andorinha (1992-1995)],2024-11-07T22:02:43.060794
...,...,...,...,...
965,28335,"[{'id': '2946756', 'from': {'clubID': '1416', ...","[UA Cognac (1992–1998), Chamois Niortais FC (1...",2024-11-07T22:26:59.976866
966,61651,"[{'id': '4831591', 'from': {'clubID': '7732', ...","[Fulwell Juniors (1996-1998), AFC Sunderland (...",2024-11-07T22:27:01.624904
967,79642,"[{'id': '4909451', 'from': {'clubID': '475', '...",[Takarazuka Junior FC],2024-11-07T22:27:03.034920
968,182877,"[{'id': '5277762', 'from': {'clubID': '515', '...","[CO Les Ulis (2001-2009), Olympique Lyonnais (...",2024-11-07T22:27:04.494740
969,37171,"[{'id': '2924972', 'from': {'clubID': '337', '...",NaN,2024-11-07T22:27:05.970156

In [14]:
add_player_to_df("Deco")

In [15]:
id_response_json = requests.get(f"http://localhost:8000/players/search/Neymar").json()
player_id = id_response_json['results'][0]["id"]
teams_response = requests.get(f"http://localhost:8000/players/{player_id}/transfers")
print(teams_response.json())

{'id': '68290', 'transfers': [{'id': '4585197', 'from': {'clubID': '583', 'clubName': 'Paris SG'}, 'to': {'clubID': '1114', 'clubName': 'Al-Hilal'}, 'date': 'Aug 15, 2023', 'upcoming': False, 'season': '23/24', 'marketValue': '€60.00m', 'fee': '€90.00m'}, {'id': '1866385', 'from': {'clubID': '131', 'clubName': 'Barcelona'}, 'to': {'clubID': '583', 'clubName': 'Paris SG'}, 'date': 'Aug 3, 2017', 'upcoming': False, 'season': '17/18', 'marketValue': '€100.00m', 'fee': '€222.00m'}, {'id': '874846', 'from': {'clubID': '221', 'clubName': 'Santos'}, 'to': {'clubID': '131', 'clubName': 'Barcelona'}, 'date': 'Jul 1, 2013', 'upcoming': False, 'season': '13/14', 'marketValue': '€50.00m', 'fee': '€88.00m'}, {'id': '271376', 'from': {'clubID': '9540', 'clubName': 'Santos U20'}, 'to': {'clubID': '221', 'clubName': 'Santos'}, 'date': 'Jan 1, 2009', 'upcoming': False, 'season': '08/09'}], 'updatedAt': '2024-11-07T23:07:35.572834'}

In [18]:
transfers.iloc[0]['transfers']

[{'id': '938001',
  'from': {'clubID': '2462', 'clubName': 'Fluminense'},
  'to': {'clubID': '123', 'clubName': 'Retired'},
  'date': 'Aug 26, 2013',
  'upcoming': False,
  'season': '13/14',
  'marketValue': '€500k'},
 {'id': '463511',
  'from': {'clubID': '631', 'clubName': 'Chelsea'},
  'to': {'clubID': '2462', 'clubName': 'Fluminense'},
  'date': 'Aug 6, 2010',
  'upcoming': False,
  'season': '10/11',
  'marketValue': '€10.00m',
  'fee': 'free transfer'},
 {'id': '206175',
  'from': {'clubID': '131', 'clubName': 'Barcelona'},
  'to': {'clubID': '631', 'clubName': 'Chelsea'},
  'date': 'Jul 1, 2008',
  'upcoming': False,
  'season': '08/09',
  'marketValue': '€18.00m',
  'fee': '€10.00m'},
 {'id': '32668',
  'from': {'clubID': '720', 'clubName': 'FC Porto'},
  'to': {'clubID': '131', 'clubName': 'Barcelona'},
  'date': 'Jul 6, 2004',
  'upcoming': False,
  'season': '04/05',
  'fee': '€21.00m'},
 {'id': '12552',
  'from': {'clubID': '2434', 'clubName': 'Salgueiros'},
  'to': {'clubID': '720', 'clubName': 'FC Porto'},
  'date': 'Mar 31, 1999',
  'upcoming': False,
  'season': '98/99',
  'fee': '€8.00m'},
 {'id': '791745',
  'from': {'clubID': '294', 'clubName': 'Benfica'},
  'to': {'clubID': '2434', 'clubName': 'Salgueiros'},
  'date': 'Jul 1, 1998',
  'upcoming': False,
  'season': '98/99',
  'fee': 'free transfer'},
 {'id': '791746',
  'from': {'clubID': '2521', 'clubName': 'Alverca'},
  'to': {'clubID': '294', 'clubName': 'Benfica'},
  'date': 'Jun 30, 1998',
  'upcoming': False,
  'season': '97/98',
  'fee': 'End of loan'},
 {'id': '791747',
  'from': {'clubID': '294', 'clubName': 'Benfica'},
  'to': {'clubID': '2521', 'clubName': 'Alverca'},
  'date': 'Jul 2, 1997',
  'upcoming': False,
  'season': '97/98',
  'fee': 'loan transfer'},
 {'id': '791748',
  'from': {'clubID': '199', 'clubName': 'Corinthians'},
  'to': {'clubID': '294', 'clubName': 'Benfica'},
  'date': 'Jul 1, 1997',
  'upcoming': False,
  'season': '97/98',
  'fee': '€4.00m'},
 {'id': '791749',
  'from': {'clubID': '1711', 'clubName': 'Nacional-SP'},
  'to': {'clubID': '199', 'clubName': 'Corinthians'},
  'date': 'May 1, 1996',
  'upcoming': False,
  'season': '95/96',
  'fee': 'free transfer'}]

In [17]:
transfers = players_df[['transfers']]
formatted_df = pd.DataFrame(columns=["player_id", "team_name", "start_date", "end_date"])
for i, row in transfers.iterrows():
    row = row[0]
    for j, transfer in enumerate(row):
        new_row_dict = {}
        if transfer["to"]["clubName"] not in ["Retired", "Without Club", "Career break"]: 
            new_row_dict["player_id"] = int(players_df.iloc[i]["id"])
            new_row_dict["team_name"] = transfer["to"]["clubName"]
            new_row_dict["start_date"] = transfer["date"]
            if j>0: new_row_dict["end_date"] = row[j-1]["date"]
            else: new_row_dict["end_date"] = np.nan
            formatted_df = pd.concat([formatted_df, pd.DataFrame([new_row_dict])], ignore_index=True)
formatted_df

     player_id    team_name    start_date      end_date
0         8564   Fluminense   Aug 6, 2010  Aug 26, 2013
1         8564      Chelsea   Jul 1, 2008   Aug 6, 2010
2         8564    Barcelona   Jul 6, 2004   Jul 1, 2008
3         8564     FC Porto  Mar 31, 1999   Jul 6, 2004
4         8564   Salgueiros   Jul 1, 1998  Mar 31, 1999
...        ...          ...           ...           ...
6852     37171   Birmingham  Jan 11, 2017  Jun 30, 2017
6853     37171    West Brom   Jul 1, 2014  Jan 11, 2017
6854     37171   Sunderland   Jul 1, 2011   Jul 1, 2014
6855     37171   Birmingham  Jan 26, 2010   Jul 1, 2011
6856     37171  Aston Villa   Jan 1, 2006  Jan 26, 2010

[6857 rows x 4 columns]

In [19]:
formatted_df[formatted_df["player_id"]==28003]

   player_id    team_name    start_date      end_date
49     28003        Miami  Jul 15, 2023           NaN
50     28003     Paris SG  Aug 10, 2021  Jul 15, 2023
51     28003    Barcelona   Jul 1, 2005  Aug 10, 2021
52     28003  Barcelona B   Mar 5, 2004   Jul 1, 2005
53     28003  Barcelona C  Nov 28, 2003   Mar 5, 2004
54     28003    Barça U19  Sep 13, 2003  Nov 28, 2003
55     28003    Barça U16   Jul 1, 2002  Sep 13, 2003
56     28003  Barça Youth   Jul 1, 2000   Jul 1, 2002

In [20]:
formatted_df["team_name"].value_counts()

Inter              102
Chelsea            101
Juventus            96
Man Utd             95
Barcelona           93
                  ...
Toros Neza           1
Dinamo Ts.           1
Dynamo M II          1
FC Zeltweg           1
Shimizu S-Pulse      1
Name: team_name, Length: 1773, dtype: int64

In [21]:
formatted_df["team_name"] = formatted_df["team_name"].replace("Milan", "AC Milan")

In [22]:
from difflib import SequenceMatcher
def similarity(str1, str2):
    return SequenceMatcher(None, str1, str2).ratio()

In [ ]:
teams_list = pd.read_csv('teams_medium.csv', index_col=0)
teams_list

In [ ]:
for team in teams_list["team_name"]: print(team)

In [ ]:
similarity("west ham", "west brom")

In [ ]:
counts = formatted_df["team_name"].value_counts()
for name, count in counts.iteritems():
    closest_team, max_sim = "", 0
    for team in teams_list["team_name"]:
        sim = similarity(name, team)
        if sim>max_sim: 
            max_sim = sim
            closest_team = team
    print(name, closest_team)

In [24]:
formatted_df_cleaned_ids = formatted_df.copy()
counts = formatted_df["team_name"].value_counts().rank(method="first", ascending=False).astype(int)
formatted_df_cleaned_ids["team_name"] = formatted_df_cleaned_ids["team_name"].map(counts)
formatted_df_cleaned_ids.rename(columns={'team_name': 'team_id'}, inplace=True)
formatted_df_cleaned_ids

     player_id  team_id    start_date      end_date
0         8564      119   Aug 6, 2010  Aug 26, 2013
1         8564        2   Jul 1, 2008   Aug 6, 2010
2         8564        6   Jul 6, 2004   Jul 1, 2008
3         8564       44  Mar 31, 1999   Jul 6, 2004
4         8564      458   Jul 1, 1998  Mar 31, 1999
...        ...      ...           ...           ...
6852     37171       49  Jan 11, 2017  Jun 30, 2017
6853     37171       57   Jul 1, 2014  Jan 11, 2017
6854     37171       42   Jul 1, 2011   Jul 1, 2014
6855     37171       49  Jan 26, 2010   Jul 1, 2011
6856     37171       13   Jan 1, 2006  Jan 26, 2010

[6857 rows x 4 columns]

In [25]:
formatted_df_cleaned_ids["start_date"] = pd.to_datetime(formatted_df_cleaned_ids["start_date"]).dt.strftime('%m/%d/%Y')
formatted_df_cleaned_ids["end_date"] = pd.to_datetime(formatted_df_cleaned_ids["end_date"]).dt.strftime('%m/%d/%Y')

In [26]:
formatted_df_cleaned_ids.to_csv('players_and_teams_medium.csv', index=True, index_label="id")

In [27]:
formatted_df

     player_id    team_name    start_date      end_date
0         8564   Fluminense   Aug 6, 2010  Aug 26, 2013
1         8564      Chelsea   Jul 1, 2008   Aug 6, 2010
2         8564    Barcelona   Jul 6, 2004   Jul 1, 2008
3         8564     FC Porto  Mar 31, 1999   Jul 6, 2004
4         8564   Salgueiros   Jul 1, 1998  Mar 31, 1999
...        ...          ...           ...           ...
6852     37171   Birmingham  Jan 11, 2017  Jun 30, 2017
6853     37171    West Brom   Jul 1, 2014  Jan 11, 2017
6854     37171   Sunderland   Jul 1, 2011   Jul 1, 2014
6855     37171   Birmingham  Jan 26, 2010   Jul 1, 2011
6856     37171  Aston Villa   Jan 1, 2006  Jan 26, 2010

[6857 rows x 4 columns]

In [28]:
counts = formatted_df["team_name"].value_counts().rank(method="first", ascending=False).astype(int)
counts

Inter                     1
Chelsea                   2
AC Milan                  3
Juventus                  4
Man Utd                   5
                       ...
SC Victoria U19        1768
SC Victoria U17        1769
Victoria Yth.          1770
Tigers Kuala Lumpur    1771
Shimizu S-Pulse        1772
Name: team_name, Length: 1772, dtype: int64

In [29]:
teams_df = pd.DataFrame({
    "id": counts.values,
    "team_name": counts.index
}).sort_values(by="id").reset_index(drop=True)
teams_df.to_csv('teams_medium.csv', index=False)

In [30]:
teams_df

        id            team_name
0        1                Inter
1        2              Chelsea
2        3             AC Milan
3        4             Juventus
4        5              Man Utd
...    ...                  ...
1767  1768      SC Victoria U19
1768  1769      SC Victoria U17
1769  1770        Victoria Yth.
1770  1771  Tigers Kuala Lumpur
1771  1772      Shimizu S-Pulse

[1772 rows x 2 columns]

In [31]:
formatted_df[formatted_df["team_name"]=="AC Milan"]

     player_id team_name    start_date      end_date
93       74471  AC Milan   Jul 1, 1987  Aug 17, 1995
130     101045  AC Milan   Jul 1, 1994   Nov 8, 1994
132     101045  AC Milan   Jul 1, 1987   Jul 1, 1993
140       3522  AC Milan  Aug 23, 2008  Jun 30, 2009
142       3522  AC Milan   Jul 1, 1999   Jul 1, 2006
...        ...       ...           ...           ...
5391      5758  AC Milan   Jul 1, 1996   Jan 1, 1998
5759      4357  AC Milan   Aug 7, 2009  Aug 30, 2010
6201    237723  AC Milan  Jul 30, 1963   Jul 1, 1967
6367      3699  AC Milan  Sep 16, 1994   Jul 1, 1996
6582     33873  AC Milan  Jan 13, 2020  Aug 31, 2020

[99 rows x 4 columns]

In [32]:
teams_response = requests.get(f"http://localhost:8000/players/74471/transfers")
print(teams_response.json())

{'id': '74471', 'transfers': [{'id': '192727', 'from': {'clubID': '5', 'clubName': 'Milan'}, 'to': {'clubID': '123', 'clubName': 'Retired'}, 'date': 'Aug 17, 1995', 'upcoming': False, 'season': '95/96'}, {'id': '192728', 'from': {'clubID': '610', 'clubName': 'Ajax'}, 'to': {'clubID': '5', 'clubName': 'Milan'}, 'date': 'Jul 1, 1987', 'upcoming': False, 'season': '87/88', 'fee': '€1.13m'}, {'id': '636672', 'from': {'clubID': '2824', 'clubName': 'Ajax U19'}, 'to': {'clubID': '610', 'clubName': 'Ajax'}, 'date': 'Jul 1, 1982', 'upcoming': False, 'season': '82/83'}, {'id': '1476319', 'from': {'clubID': '52649', 'clubName': 'Elinkwijk U19'}, 'to': {'clubID': '2824', 'clubName': 'Ajax U19'}, 'date': 'Jul 1, 1981', 'upcoming': False, 'season': '81/82', 'fee': 'free transfer'}], 'youthClubs': ['UVV Utrecht (-1980)', 'USV Elinkwijk (1980-1981)', 'Ajax (1981-1982)'], 'updatedAt': '2024-11-07T23:08:55.240836'}

In [40]:
players = pd.read_csv("players_medium.csv")
players

         id        player_name
0     17121               Pele
1      8198  Cristiano Ronaldo
2     28003       Lionel Messi
3      8024     Diego Maradona
4     72347  Franz Beckenbauer
..      ...                ...
963   28335  Christophe Jallet
964   61651   Jordan Henderson
965   79642     Shinji Okazaki
966  182877    Anthony Martial
967   37171      Craig Gardner

[968 rows x 2 columns]

In [41]:
def add_player_to_players(player_name):
    global players
    id_response_json = requests.get(f"http://localhost:8000/players/search/{player_name}").json()
    if id_response_json["results"]:
        player_id = id_response_json['results'][0]["id"]
        players = pd.concat([pd.DataFrame([{"id": player_id, "player_name": player_name}]), players], ignore_index=True)
    else:
        print(f"Failed for {player_name}")
add_player_to_players("Deco")

In [42]:
add_player_to_players("Maicon")
add_player_to_players("Heung-Min Son")
add_player_to_players("Ji-Sung Park")

In [44]:
players.to_csv('players_medium.csv', index=False)

In [52]:
players[players["player_name"]=="Cesare Maldini"]

       id     player_name
511  5803  Cesare Maldini

In [50]:
players[players["player_name"]=="Paolo Maldini"]

      id    player_name
57  5803  Paolo Maldini

In [51]:
formatted_df[formatted_df["player_id"]==5803]

     player_id team_name   start_date     end_date
401       5803  AC Milan  Jul 1, 1985  Jul 1, 2009
3556      5803  AC Milan  Jul 1, 1985  Jul 1, 2009

In [56]:
id_response_json = requests.get(f"http://localhost:8000/players/search/Cesare Maldini").json()
player_id = id_response_json['results'][0]["id"]
teams_response = requests.get(f"http://localhost:8000/players/{player_id}/transfers")
print(teams_response.json())

{'id': '5803', 'transfers': [{'id': '282772', 'from': {'clubID': '5', 'clubName': 'AC Milan'}, 'to': {'clubID': '123', 'clubName': 'Retired'}, 'date': 'Jul 1, 2009', 'upcoming': False, 'season': '09/10'}, {'id': '17523', 'from': {'clubID': '10958', 'clubName': 'Milan U19'}, 'to': {'clubID': '5', 'clubName': 'Milan'}, 'date': 'Jul 1, 1985', 'upcoming': False, 'season': '85/86'}], 'youthClubs': ['Milan'], 'updatedAt': '2024-11-19T06:35:53.674705'}

In [67]:
players.id.value_counts()[lambda x: x == 2]

5803      2
7515      2
176910    2
145344    2
Name: id, dtype: int64