In [4]:
import requests, csv, numpy as np, os, json
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime, timedelta

In [6]:
with open("players_large.json") as f:
    data = json.loads(f.read())

In [5]:
import unicodedata

def are_equal_ignore_accents(str1, str2):
    # Normalize the strings to remove accents
    def normalize_and_map(s):
        normalized = unicodedata.normalize('NFKD', s)
        mapped = normalized.replace("ø", "o").replace("æ", "ae").replace("Ø", "O")
        ascii_str = mapped.encode('ascii', 'ignore').decode('utf-8')
        return ascii_str
    
    return normalize_and_map(str1) == normalize_and_map(str2)
are_equal_ignore_accents("æ", "ae")

True

In [6]:
def get_id_for_player(player_name, id_response_json):
    player_id = ""
    if "results" in id_response_json and id_response_json["results"]:
        for res in id_response_json['results']:
            if are_equal_ignore_accents(player_name, res["name"]):
                player_id=res["id"]
                break
    return player_id

In [35]:
id_jsons = []
num_players_added=0
for player in data["players"]:
    player_name = player["n"]
    id_response_json = requests.get(f"http://localhost:8000/players/search/{player_name}").json()
    if "detail" in id_response_json: break
    id_jsons.append(id_response_json)
    num_players_added+=1
    if num_players_added%20==0: 
        print("Number of players added: ", num_players_added)
        print("Most recent player: ", player_name)
        print()
    #print(player_name, get_id_for_player(player_name, id_response_json))
with open("player_id.json", "w") as f:
    json.dump(id_jsons, f)

Number of players added:  20
Most recent player:  Alemao

Number of players added:  40
Most recent player:  Anderson

Number of players added:  60
Most recent player:  Bebe

Number of players added:  80
Most recent player:  Branco

Number of players added:  100
Most recent player:  Casagrande

Number of players added:  120
Most recent player:  Chumi

Number of players added:  140
Most recent player:  Custodio

Number of players added:  160
Most recent player:  Dentinho

Number of players added:  180
Most recent player:  Doni

Number of players added:  200
Most recent player:  Edinho

Number of players added:  220
Most recent player:  Elzo

Number of players added:  240
Most recent player:  Fabinho

Number of players added:  260
Most recent player:  Fontana

Number of players added:  280
Most recent player:  Gilberto

Number of players added:  300
Most recent player:  Hugo

Number of players added:  320
Most recent player:  Jamir

Number of players added:  340
Most recent player:  Joseito

Number of players added:  360
Most recent player:  Kelvin

Number of players added:  380
Most recent player:  Leonardo

Number of players added:  400
Most recent player:  Macale

Number of players added:  420
Most recent player:  Marcinho

Number of players added:  440
Most recent player:  Michu

Number of players added:  460
Most recent player:  Narciso

Number of players added:  480
Most recent player:  Oscar

Number of players added:  500
Most recent player:  Pedro

Number of players added:  520
Most recent player:  Rafael

Number of players added:  540
Most recent player:  Richarlison

Number of players added:  560
Most recent player:  Romulo

Number of players added:  580
Most recent player:  Sequeira

Number of players added:  600
Most recent player:  Tcheco

Number of players added:  620
Most recent player:  Vampeta

Number of players added:  640
Most recent player:  Wendell

Number of players added:  660
Most recent player:  Alessandro Abbondanza

Number of players added:  680
Most recent player:  Fabrice Abriel

Number of players added:  700
Most recent player:  Saidi Oluseyi Adeshokan

Number of players added:  720
Most recent player:  Luigi De Agostini

Number of players added:  740
Most recent player:  Ola Aina

Number of players added:  760
Most recent player:  Jordi Alba

Number of players added:  780
Most recent player:  Dmitriy Alenichev

Number of players added:  800
Most recent player:  Tadeo Allende

Number of players added:  820
Most recent player:  Ivan Alonso

Number of players added:  840
Most recent player:  Dani Alves

Number of players added:  860
Most recent player:  Sammy Ameobi

Number of players added:  880
Most recent player:  Davide Ancelotti

Number of players added:  900
Most recent player:  Darren Anderton

Number of players added:  920
Most recent player:  Marcos Angeleri

Number of players added:  940
Most recent player:  Milos Antic

Number of players added:  960
Most recent player:  Stephen Appiah

Number of players added:  980
Most recent player:  Hatem Ben Arfa

Number of players added:  1000
Most recent player:  Jean-Luc Arribart

Number of players added:  1020
Most recent player:  Iago Aspas

Number of players added:  1040
Most recent player:  Pierre-Emerick Aubameyang

Number of players added:  1060
Most recent player:  Leandro Avila

Number of players added:  1080
Most recent player:  Abdoulaye Ba

Number of players added:  1100
Most recent player:  Dino Baggio

Number of players added:  1120
Most recent player:  Axel Bakayoko

Number of players added:  1140
Most recent player:  Hanno Balitsch

Number of players added:  1160
Most recent player:  Patrick Bamford

Number of players added:  1180
Most recent player:  Danilo Barbosa

Number of players added:  1200
Most recent player:  Marco Baroni

Number of players added:  1220
Most recent player:  Rahmane Barry

Number of players added:  1240
Most recent player:  Dusan Basta

Number of players added:  1260
Most recent player:  Hans Bauer

Number of players added:  1280
Most recent player:  Milan Berck Beelenkamp

Number of players added:  1300
Most recent player:  Juliano Belletti

Number of players added:  1320
Most recent player:  Ali Benarbia

Number of players added:  1340
Most recent player:  Fabian Benko

Number of players added:  1360
Most recent player:  Giacomo Beretta

Number of players added:  1380
Most recent player:  Valmir Berisha

Number of players added:  1400
Most recent player:  Eric Bertrand

Number of players added:  1420
Most recent player:  Jonathan Biabiany

Number of players added:  1440
Most recent player:  Valdir Bigode

Number of players added:  1460
Most recent player:  Yann Bisseck

Number of players added:  1480
Most recent player:  Domingo Blanco

Number of players added:  1500
Most recent player:  Emmanuel Boateng

Number of players added:  1520
Most recent player:  Frank de Boer

Number of players added:  1540
Most recent player:  Bob Bolder

Number of players added:  1560
Most recent player:  Leandro Bonfim

Number of players added:  1580
Most recent player:  Filipe Bordon

Number of players added:  1600
Most recent player:  Mark Bosnich

Number of players added:  1620
Most recent player:  Hector De Bourgoing

Number of players added:  1640
Most recent player:  Abel Braga

Number of players added:  1660
Most recent player:  Alan Brazil

Number of players added:  1680
Most recent player:  Sergio Brio

Number of players added:  1700
Most recent player:  Hannes Van Der Bruggen

Number of players added:  1720
Most recent player:  Guido Budziak

Number of players added:  1740
Most recent player:  Tarcisio Burgnich

Number of players added:  1760
Most recent player:  Nahuel Bustos

Number of players added:  1780
Most recent player:  Antonio Cabrini

Number of players added:  1800
Most recent player:  Mattia Caldara

Number of players added:  1820
Most recent player:  Drissa Camara

Number of players added:  1840
Most recent player:  Salvatore Campilongo

Number of players added:  1860
Most recent player:  Santiago Canizares

Number of players added:  1880
Most recent player:  Giovanni Capuano

Number of players added:  1900
Most recent player:  Oscar Cardozo

Number of players added:  1920
Most recent player:  Pietro Carmignani

Number of players added:  1940
Most recent player:  Guido Carrillo

Number of players added:  1960
Most recent player:  Tiago Casasola

Number of players added:  1980
Most recent player:  Marco Cassetti

Number of players added:  2000
Most recent player:  Alex Castro

Number of players added:  2020
Most recent player:  Edinson Cavani

Number of players added:  2040
Most recent player:  Giovani Lo Celso

Number of players added:  2060
Most recent player:  Roberto Cevoli

Number of players added:  2080
Most recent player:  Jack Charlton

Number of players added:  2100
Most recent player:  Leandro Chichizola

Number of players added:  2120
Most recent player:  Philippe Christanval

Number of players added:  2140
Most recent player:  Dennis Cirkin

Number of players added:  2160
Most recent player:  Nestor Clausen

Number of players added:  2180
Most recent player:  Phillip Cocu

Number of players added:  2200
Most recent player:  Facundo Colidio

Number of players added:  2220
Most recent player:  Nestor Combin

Number of players added:  2240
Most recent player:  Nikita Contini

Number of players added:  2260
Most recent player:  Karl Corneliusson

Number of players added:  2280
Most recent player:  Diego Costa

Number of players added:  2300
Most recent player:  Tony Coton

Number of players added:  2320
Most recent player:  Hernan Crespo

Number of players added:  2340
Most recent player:  Andre Cruz

Number of players added:  2360
Most recent player:  Victor Cuesta

Number of players added:  2380
Most recent player:  Zoltan Czibor

Number of players added:  2400
Most recent player:  Johan Dahlin

Number of players added:  2420
Most recent player:  Luke Daniels

Number of players added:  2440
Most recent player:  Duncan Davidson

Number of players added:  2460
Most recent player:  Jordy Deckers

Number of players added:  2480
Most recent player:  Hannes Delcroix

Number of players added:  2500
Most recent player:  Andrey Demchenko

Number of players added:  2520
Most recent player:  Dorian Dervite

Number of players added:  2540
Most recent player:  Mbaye Diagne

In [40]:
num_players_added = 2549

In [43]:
id_jsons = []
restart = False
for player in data["players"]:
    player_name = player["n"]
    if player_name=="Pedro Emanuel": restart=True
    if restart:
        id_response_json = requests.get(f"http://localhost:8000/players/search/{player_name}").json()
        if "detail" in id_response_json: break
        id_jsons.append(id_response_json)
        num_players_added+=1
        if num_players_added%20==0: 
            print("Number of players added: ", num_players_added)
            print("Most recent player: ", player_name)
            print()
    #print(player_name, get_id_for_player(player_name, id_response_json))
with open("player_id.json") as f:
    curJson = json.load(f)
curJson.append(id_jsons)
with open("player_id.json", "w") as f:
    json.dump(curJson, f)

Number of players added:  2820
Most recent player:  Joaquin Enguix

Number of players added:  2840
Most recent player:  Harvey Esajas

Number of players added:  2860
Most recent player:  Marcelo Estigarribia

Number of players added:  2880
Most recent player:  Ernest Faber

Number of players added:  2900
Most recent player:  Marcel De Falco

Number of players added:  2920
Most recent player:  Jacques Faty

Number of players added:  2940
Most recent player:  Nabil Fekir

Number of players added:  2960
Most recent player:  Manuel Fernandes

Number of players added:  2980
Most recent player:  Luis Fernandez

Number of players added:  3000
Most recent player:  Jean-Marc Ferratge

Number of players added:  3020
Most recent player:  Luis Figo

Number of players added:  3040
Most recent player:  Mathieu Flamini

Number of players added:  3060
Most recent player:  Wesley Fofana

Number of players added:  3080
Most recent player:  Alfio Fontana

Number of players added:  3100
Most recent player:  Bill Foulkes

Number of players added:  3120
Most recent player:  Luis Frangao

Number of players added:  3140
Most recent player:  Brad Friedel

Number of players added:  3160
Most recent player:  Toni Fuidias

Number of players added:  3180
Most recent player:  Jentl Gaethofs

Number of players added:  3200
Most recent player:  Sebastian Gallegos

Number of players added:  3220
Most recent player:  Jesus Gamez

Number of players added:  3240
Most recent player:  Jose Luis Garcia

Number of players added:  3260
Most recent player:  Oscar Garre

Number of players added:  3280
Most recent player:  Gianluca Gaudino

Number of players added:  3300
Most recent player:  Claude Gentile

Number of players added:  3320
Most recent player:  Alvaro Gestido

Number of players added:  3340
Most recent player:  Giorgio Gianola

Number of players added:  3360
Most recent player:  Guillaume Gillet

Number of players added:  3380
Most recent player:  Ludovic Giuly

Number of players added:  3400
Most recent player:  Berkant Goktan

Number of players added:  3420
Most recent player:  Cesar Gomez

Number of players added:  3440
Most recent player:  Fran Gonzalez

Number of players added:  3460
Most recent player:  Dean Gordon

Number of players added:  3480
Most recent player:  Tiago Gouveia

Number of players added:  3500
Most recent player:  Lee Grant

Number of players added:  3520
Most recent player:  Michele Di Gregorio

Number of players added:  3540
Most recent player:  Jesper Gronkjaer

Number of players added:  3560
Most recent player:  Tchiressoua Guel

Number of players added:  3580
Most recent player:  Pablo Guinazu

Number of players added:  3600
Most recent player:  Luis Gustavo

Number of players added:  3620
Most recent player:  Arie Haan

Number of players added:  3640
Most recent player:  Marcel Halstenberg

Number of players added:  3660
Most recent player:  Karl Aage Hansen

Number of players added:  3680
Most recent player:  Lukman Haruna

Number of players added:  3700
Most recent player:  Jorg Heinrich

Number of players added:  3720
Most recent player:  Benjamin Henrichs

Number of players added:  3740
Most recent player:  Abel Hernandez

Number of players added:  3760
Most recent player:  Antonio Hidalgo

Number of players added:  3780
Most recent player:  Thomas Hitzlsperger

Number of players added:  3800
Most recent player:  Jes Hogh

Number of players added:  3820
Most recent player:  Udo Horsmann

Number of players added:  3840
Most recent player:  Callum Hudson-Odoi

Number of players added:  3860
Most recent player:  Robert Huth

Number of players added:  3880
Most recent player:  Andrea Icardi

Number of players added:  3900
Most recent player:  Dejan Iliev

Number of players added:  3920
Most recent player:  Andres Iniesta

Number of players added:  3940
Most recent player:  Gustav Isaksen

Number of players added:  3960
Most recent player:  Alex Iwobi

Number of players added:  3980
Most recent player:  Saidy Janko

Number of players added:  4000
Most recent player:  Jiri Jarosik

Number of players added:  4020
Most recent player:  Drazan Jerkovic

Number of players added:  4040
Most recent player:  Kyle John

Number of players added:  4060
Most recent player:  Curtis Jones

Number of players added:  4080
Most recent player:  Rui Jorge

Number of players added:  4100
Most recent player:  Nicolas Jullich

Number of players added:  4120
Most recent player:  Younes Kaboul

Number of players added:  4140
Most recent player:  Bonaventure Kalou

Number of players added:  4160
Most recent player:  Harry Kane

Number of players added:  4180
Most recent player:  Ayman Kari

Number of players added:  4200
Most recent player:  Sebastian Kehl

Number of players added:  4220
Most recent player:  Willy van de Kerkhof

Number of players added:  4240
Most recent player:  Joshua Kimmich

Number of players added:  4260
Most recent player:  Simon Kjaer

Number of players added:  4280
Most recent player:  Dario Knezevic

Number of players added:  4300
Most recent player:  Philipp Kohn

Number of players added:  4320
Most recent player:  Teun Koopmeiners

Number of players added:  4340
Most recent player:  Mateo Kovacic

Number of players added:  4360
Most recent player:  Bojan Krkic

Number of players added:  4380
Most recent player:  Samuel Kuffour

Number of players added:  4400
Most recent player:  Heinz Kwiatkowski

Number of players added:  4420
Most recent player:  Bernard Lama

Number of players added:  4440
Most recent player:  Jeffrey de Lange

Number of players added:  4460
Most recent player:  Sebastian Larsson

Number of players added:  4480
Most recent player:  Denis Law

Number of players added:  4500
Most recent player:  Ryan Ledson

Number of players added:  4520
Most recent player:  Jeffrey Leiwakabessy

Number of players added:  4540
Most recent player:  Matias Lequi

Number of players added:  4560
Most recent player:  Alberto Libertazzi

Number of players added:  4580
Most recent player:  Andreas Linde

Number of players added:  4600
Most recent player:  Pol Lirola

Number of players added:  4620
Most recent player:  Stanislav Lobotka

Number of players added:  4640
Most recent player:  Moreno Longo

Number of players added:  4660
Most recent player:  Diego Lopez

Number of players added:  4680
Most recent player:  Simone Loria

Number of players added:  4700
Most recent player:  Quique de Lucas

Number of players added:  4720
Most recent player:  Andre Luiz

Number of players added:  4740
Most recent player:  Anthony Lurling

Number of players added:  4760
Most recent player:  Ian Maatsen

Number of players added:  4780
Most recent player:  Pablo Maffeo

Number of players added:  4800
Most recent player:  Lukas Mai

Number of players added:  4820
Most recent player:  Saul Malatrasi

Number of players added:  4840
Most recent player:  Gianluca Mancini

Number of players added:  4860
Most recent player:  Michael Manniche

Number of players added:  4880
Most recent player:  Dirk Marcellis

Number of players added:  4900
Most recent player:  Pablo Mari

Number of players added:  4920
Most recent player:  Stefan Markolf

Number of players added:  4940
Most recent player:  Hubert Martin

Number of players added:  4960
Most recent player:  Pity Martinez

Number of players added:  4980
Most recent player:  Lino Marzorati

Number of players added:  5000
Most recent player:  Vicente de la Mata

Number of players added:  5020
Most recent player:  Enzo Matteucci

Number of players added:  5040
Most recent player:  David May

Number of players added:  5060
Most recent player:  Luke Mbete

Number of players added:  5080
Most recent player:  Gavin McGowan

Number of players added:  5100
Most recent player:  Tyrone Mears

Number of players added:  5120
Most recent player:  Abdoulaye Meite

Number of players added:  5140
Most recent player:  Pedro Mendes

Number of players added:  5160
Most recent player:  Richard Oteng Mensah

Number of players added:  5180
Most recent player:  Christophe Metais

Number of players added:  5200
Most recent player:  Edouard Michut

Number of players added:  5220
Most recent player:  Arkadiusz Milik

Number of players added:  5240
Most recent player:  Yerry Mina

Number of players added:  5260
Most recent player:  Filippo Missori

Number of players added:  5280
Most recent player:  Youness Mokhtar

Number of players added:  5300
Most recent player:  Samuel Monin

Number of players added:  5320
Most recent player:  Walter Montillo

Number of players added:  5340
Most recent player:  Enrique Moran

Number of players added:  5360
Most recent player:  Juanfran Moreno

Number of players added:  5380
Most recent player:  Luis Boa Morte

Number of players added:  5400
Most recent player:  Louis Mouquet

Number of players added:  5420
Most recent player:  Nordi Mukiele

Number of players added:  5440
Most recent player:  Jehad Muntasser

Number of players added:  5460
Most recent player:  Shkodran Mustafi

Number of players added:  5480
Most recent player:  Michele De Nadai

Number of players added:  5500
Most recent player:  Jose Nasazzi

Number of players added:  5520
Most recent player:  Badou Ndiaye

Number of players added:  5540
Most recent player:  Reiss Nelson

Number of players added:  5560
Most recent player:  Thiago Neves

Number of players added:  5580
Most recent player:  Bruno Nicole

Number of players added:  5600
Most recent player:  Roger Nilsen

Number of players added:  5620
Most recent player:  Shabani Nonda

Number of players added:  5640
Most recent player:  Alexander Nubel

Number of players added:  5660
Most recent player:  Ronnie O'Brien

Number of players added:  5680
Most recent player:  Massimo Oddo

Number of players added:  5700
Most recent player:  Noah Okafor

Number of players added:  5720
Most recent player:  Nelson Oliveira

Number of players added:  5740
Most recent player:  Roque Olsen

Number of players added:  5760
Most recent player:  Andre Ooijer

Number of players added:  5780
Most recent player:  Brendan Ormsby

Number of players added:  5800
Most recent player:  Leo Ostigard

Number of players added:  5820
Most recent player:  Patrick Owomoyela

Number of players added:  5840
Most recent player:  Goncalo Paciencia

Number of players added:  5860
Most recent player:  Exequiel Palacios

Number of players added:  5880
Most recent player:  Noe Pamarot

Number of players added:  5900
Most recent player:  Lucas Paqueta

Number of players added:  5920
Most recent player:  Marco Parolo

Number of players added:  5940
Most recent player:  Jose Pastoriza

Number of players added:  5960
Most recent player:  Strahinja Pavlovic

Number of players added:  5980
Most recent player:  Joao Pedro

Number of players added:  6000
Most recent player:  Facundo Pellistri

Number of players added:  6020
Most recent player:  Nili Perdomo

Number of players added:  6040
Most recent player:  Marinho Peres

Number of players added:  6060
Most recent player:  Stipe Perica

Number of players added:  6080
Most recent player:  Matteo Pessina

Number of players added:  6100
Most recent player:  Stefan Pettersson

Number of players added:  6120
Most recent player:  Michele Piccolo

Number of players added:  6140
Most recent player:  Andrea Pinamonti

Number of players added:  6160
Most recent player:  Silvio Piola

Number of players added:  6180
Most recent player:  Fabien Piveteau

Number of players added:  6200
Most recent player:  Stipe Pletikosa

Number of players added:  6220
Most recent player:  Jamie Pollock

Number of players added:  6240
Most recent player:  Rodrigo Possebon

Number of players added:  6260
Most recent player:  Cesare Prandelli

Number of players added:  6280
Most recent player:  Robert Prosinecki

Number of players added:  6300
Most recent player:  Yacine Qasmi

Number of players added:  6320
Most recent player:  Luigi Radice

Number of players added:  6340
Most recent player:  Adil Rami

Number of players added:  6360
Most recent player:  David Rangel

Number of players added:  6380
Most recent player:  Oliver Reck

Number of players added:  6400
Most recent player:  Ludovit Reis

Number of players added:  6420
Most recent player:  Bryan Reynolds

Number of players added:  6440
Most recent player:  Rohan Ricketts

Number of players added:  6460
Most recent player:  Kevin Rimane

Number of players added:  6480
Most recent player:  Martin Rivas

Number of players added:  6500
Most recent player:  Laurent Robert

Number of players added:  6520
Most recent player:  Tommaso Rocchi

Number of players added:  6540
Most recent player:  Damian Rodriguez

Number of players added:  6560
Most recent player:  Marcus Rohden

Number of players added:  6580
Most recent player:  Julio Cesar Romero

Number of players added:  6600
Most recent player:  Mario Rosas

Number of players added:  6620
Most recent player:  Sebastiano Rossi

Number of players added:  6640
Most recent player:  Neil Ruddock

Number of players added:  6660
Most recent player:  Michael Rummenigge

Number of players added:  6680
Most recent player:  Abdelsattar Sabry

Number of players added:  6700
Most recent player:  Ismael Saibari

Number of players added:  6720
Most recent player:  Jose Salomon

Number of players added:  6740
Most recent player:  Carlos Sanchez

Number of players added:  6760
Most recent player:  Philippe Sandler

Number of players added:  6780
Most recent player:  Sergio Santarini

Number of players added:  6800
Most recent player:  Manuel dos Santos

Number of players added:  6820
Most recent player:  Amadou Sarr

Number of players added:  6840
Most recent player:  Franck Sauzee

Number of players added:  6860
Most recent player:  Stijn Schaars

Number of players added:  6880
Most recent player:  Kasper Schmeichel

Number of players added:  6900
Most recent player:  Sam Schreck

Number of players added:  6920
Most recent player:  Riccardo Scimeca

Number of players added:  6940
Most recent player:  Burkhard Segler

Number of players added:  6960
Most recent player:  Marcos Senesi

Number of players added:  6980
Most recent player:  Ricardo Serna

Number of players added:  7000
Most recent player:  Paul Shaw

Number of players added:  7020
Most recent player:  Fredrik Stoor Siekkinen

Number of players added:  7040
Most recent player:  Geovani Silva

Number of players added:  7060
Most recent player:  Wendel Silva

Number of players added:  7080
Most recent player:  Antonio Simoes

Number of players added:  7100
Most recent player:  Wilfried Singo

Number of players added:  7120
Most recent player:  Zlatko Skoric

Number of players added:  7140
Most recent player:  Tommy Smith

Number of players added:  7160
Most recent player:  Santiago Solari

Number of players added:  7180
Most recent player:  Frederik Sorensen

Number of players added:  7200
Most recent player:  Hugo Sotelo

Number of players added:  7220
Most recent player:  David Speedie

Number of players added:  7240
Most recent player:  Benjamin Stambouli

Number of players added:  7260
Most recent player:  Marc-Andre ter Stegen

Number of players added:  7280
Most recent player:  Layton Stewart

Number of players added:  7300
Most recent player:  Pietro Strada

Number of players added:  7320
Most recent player:  David Suazo

Number of players added:  7340
Most recent player:  Wim Suurbier

Number of players added:  7360
Most recent player:  Tony Sylva

Number of players added:  7380
Most recent player:  Leonardo Talamonti

Number of players added:  7400
Most recent player:  Diego Tardelli

Number of players added:  7420
Most recent player:  Loum Tchaouna

Number of players added:  7440
Most recent player:  Jeroen Tesselaar

Number of players added:  7460
Most recent player:  Michael Thomas

Number of players added:  7480
Most recent player:  Dwight Tiendalli

Number of players added:  7500
Most recent player:  Jens Todt

Number of players added:  7520
Most recent player:  Luca Toni

Number of players added:  7540
Most recent player:  Moreno Torricelli

Number of players added:  7560
Most recent player:  Vicente Train

Number of players added:  7580
Most recent player:  Filippo Tripi

Number of players added:  7600
Most recent player:  Toni Turek

Number of players added:  7620
Most recent player:  Lesley Ugochukwu

Number of players added:  7640
Most recent player:  Takashi Usami

Number of players added:  7660
Most recent player:  Nuno Valente

Number of players added:  7680
Most recent player:  Paolo Vanoli

Number of players added:  7700
Most recent player:  Darius Vassell

Number of players added:  7720
Most recent player:  Toni Velamazan

Number of players added:  7740
Most recent player:  Dario Venitucci

Number of players added:  7760
Most recent player:  Marnick Vermijl

Number of players added:  7780
Most recent player:  Guglielmo Vicario

Number of players added:  7800
Most recent player:  Ferdi Vierklau

Number of players added:  7820
Most recent player:  Ivan Villar

Number of players added:  7840
Most recent player:  Radek Vitek

Number of players added:  7860
Most recent player:  Dennis Vogt

Number of players added:  7880
Most recent player:  Mario Vrancic

Number of players added:  7900
Most recent player:  Colin Waldron

Number of players added:  7920
Most recent player:  Majeed Waris

Number of players added:  7940
Most recent player:  Bernd Wehmeyer

Number of players added:  7960
Most recent player:  Axel Werner

Number of players added:  7980
Most recent player:  Gerard Wiekens

Number of players added:  8000
Most recent player:  Dylan Williams

Number of players added:  8020
Most recent player:  Gregory Wimbee

Number of players added:  8040
Most recent player:  Neil Wood

Number of players added:  8060
Most recent player:  Shaun Wright-Phillips

Number of players added:  8080
Most recent player:  Hassan Yebda

Number of players added:  8100
Most recent player:  Mario Zagallo

Number of players added:  8120
Most recent player:  Nicola Zanini

Number of players added:  8140
Most recent player:  Hector Zelada

Number of players added:  8160
Most recent player:  Marc Ziegler

Number of players added:  8180
Most recent player:  Rainer Zobel

In [44]:
num_players_added

8197

In [7]:
with open("players_large.json") as f: 
    players_json= json.load(f)["players"]
players_json

[{'n': 'Abelardo', 'c': 2, 't': [83], 'm': [2029], 's': [3140]},
 {'n': 'Acacio', 'c': 6, 'a': [26]},
 {'n': 'Adailton', 'c': 6, 't': [591], 'm': [523], 's': [5023]},
 {'n': 'Ademir', 'c': 6, 's': [3140], 'b': '06/01/1960'},
 {'n': 'Ademir', 'c': 6, 't': [652], 'b': '18/10/1951'},
 {'n': 'Ademir', 'c': 6, 'a': [26, 28], 'b': '08/11/1922'},
 {'n': 'Ado', 'c': 6, 'a': [24]},
 {'n': 'Adrian', 'c': 2, 't': [8], 'm': [118]},
 {'n': 'Adriano',
  'c': 6,
  't': [83],
  'a': [22, 26],
  'm': [5672],
  's': [28003, 3455, 3140],
  'b': '26/10/1984'},
 {'n': 'Adriano', 'c': 6, 't': [6789], 'b': '03/04/1982'},
 {'n': 'Adriano',
  'c': 6,
  't': [2930, 37],
  'a': [26],
  'm': [781],
  's': [3455, 3140],
  'b': '17/02/1982'},
 {'n': 'Adriano', 'c': 6, 't': [652], 'b': '03/01/1979'},
 {'n': 'Agostinho', 'c': 5, 't': [591]},
 {'n': 'Ailton', 'c': 6, 't': [605], 'b': '01/09/1968'},
 {'n': 'Ailton', 'c': 6, 't': [652], 'b': '20/10/1949'},
 {'n': 'Airton', 'c': 6, 't': [605], 's': [45320]},
 {'n': 'Alan', 'c': 6, 't': [652]},
 {'n': 'Alcides', 'c': 6, 't': [18, 605, 682]},
 {'n': 'Aldair', 'c': 6, 't': [37, 605], 'a': [24, 26], 's': [3140]},
 {'n': 'Alemao', 'c': 6, 't': [597, 7980], 'a': [26]},
 {'n': 'Alessandro', 'c': 6, 's': [3140]},
 {'n': 'Alex',
  'c': 6,
  't': [113, 18, 591, 682],
  'a': [22, 26],
  'm': [781, 523],
  's': [3455, 3139, 96341],
  'b': '17/06/1982'},
 {'n': 'Alex', 'c': 5, 't': [605], 's': [8198], 'b': '06/09/1979'},
 {'n': 'Alex', 'c': 6, 'a': [26], 's': [3140], 'b': '14/09/1977'},
 {'n': 'Alexis', 'c': 2, 'm': [1522]},
 {'n': 'Alfonso', 'c': 2, 't': [3468, 44, 83]},
 {'n': 'Alisson', 'c': 6, 't': [37, 8], 'a': [22, 26], 'm': [118]},
 {'n': 'Allan', 'c': 6, 't': [8], 'b': '03/03/1997'},
 {'n': 'Allan',
  'c': 6,
  't': [597],
  'a': [26],
  'm': [523, 1522],
  'b': '08/01/1991'},
 {'n': 'Aloisio', 'c': 6, 't': [652, 83]},
 {'n': 'Alonso', 'c': 2, 's': [28003]},
 {'n': 'Altair', 'c': 6, 'a': [24]},
 {'n': 'Amador', 'c': 2, 't': [3468, 83]},
 {'n': 'Amancio', 'c': 2, 't': [3468], 'a': [22, 25]},
 {'n': 'Amaral', 'c': 6, 't': [605], 'm': [523], 's': [3140, 5023]},
 {'n': 'Amarildo', 'c': 6, 't': [43], 'b': '02/10/1964'},
 {'n': 'Amarildo', 'c': 6, 't': [113, 37], 'a': [24], 'b': '29/07/1939'},
 {'n': 'Amauri', 'c': 12, 't': [597, 625], 's': [5023]},
 {'n': 'Amoreirinha', 'c': 5, 't': [605], 's': [8198]},
 {'n': 'Anderson',
  'c': 6,
  't': [14, 652],
  'a': [22, 26],
  'm': [4, 2029],
  's': [8198, 3140, 45320],
  'b': '13/04/1988'},
 {'n': 'Anderson', 'c': 6, 't': [605], 'b': '27/04/1980'},
 {'n': 'Andrade', 'c': 5, 't': [44], 'b': '30/03/1979'},
 {'n': 'Andrade', 'c': 6, 't': [37], 'b': '21/04/1957'},
 {'n': 'Andre', 'c': 5, 't': [652], 'a': [22]},
 {'n': 'Angelino', 'c': 2, 't': [34, 37, 682, 9], 'm': [5672], 's': [96341]},
 {'n': 'Angelo', 'c': 6, 't': [18], 's': [8198]},
 {'n': 'Antony', 'c': 6, 't': [14, 629], 's': [8198]},
 {'n': 'Antunes', 'c': 5, 't': [37], 's': [8198]},
 {'n': 'Athirson', 'c': 6, 't': [625], 'm': [523], 's': [3140, 3111]},
 {'n': 'Azumir', 'c': 6, 't': [652]},
 {'n': 'Babu', 'c': 6, 't': [37]},
 {'n': 'Baldocchi', 'c': 6, 'a': [24]},
 {'n': 'Baltazar', 'c': 6, 't': [652, 7980], 'a': [26]},
 {'n': 'Bandeirinha', 'c': 5, 't': [652], 'a': [22]},
 {'n': 'Barata', 'c': 6, 'm': [1522]},
 {'n': 'Barbosa', 'c': 6, 'a': [26]},
 {'n': 'Batista', 'c': 6, 't': [34], 'b': '04/03/1975'},
 {'n': 'Batista', 'c': 6, 't': [43], 'b': '08/03/1955'},
 {'n': 'Bauer', 'c': 6, 'a': [26]},
 {'n': 'Bebe', 't': [14, 605], 'm': [4]},
 {'n': 'Bebeto', 'c': 6, 'a': [24, 26], 's': [3140]},
 {'n': 'Bene', 'c': 6, 't': [652]},
 {'n': 'Bento', 'c': 6, 's': [8198]},
 {'n': 'Bernard', 'c': 6, 'm': [523]},
 {'n': 'Bernardo', 'c': 6, 't': [503]},
 {'n': 'Beto', 'c': 5, 't': [652], 's': [8198], 'b': '01/05/1982'},
 {'n': 'Beto', 'c': 6, 't': [605], 'b': '20/11/1976'},
 {'n': 'Beto', 'c': 5, 's': [8198], 'b': '03/05/1976'},
 {'n': 'Beto', 'c': 6, 't': [597], 'a': [26], 's': [3140], 'b': '07/01/1975'},
 {'n': 'Bigode', 'c': 6, 'a': [26]},
 {'n': 'Bill', 'c': 6, 's': [3140]},
 {'n': 'Bilro', 'c': 5, 'm': [781]},
 {'n': 'Bio', 'c': 6, 't': [83]},
 {'n': 'Boiadeiro', 'c': 6, 's': [3140]},
 {'n': 'Bolivar', 'c': 6, 't': [6789]},
 {'n': 'Bono', 'c': 26, 't': [7980]},
 {'n': 'Boquita', 'c': 6, 's': [3140]},
 {'n': 'Boschilia', 'c': 6, 't': [6789]},
 {'n': 'Bosingwa',
  'c': 5,
  't': [18, 652],
  'a': [22],
  'm': [781, 523],
  's': [8198, 96341]},
 {'n': 'Branco', 'c': 6, 't': [652], 'a': [24, 26], 's': [3140]},
 {'n': 'Brandao', 'c': 6, 't': [44]},
 {'n': 'Bremer', 'c': 6, 't': [625], 's': [45320]},
 {'n': 'Breno', 'c': 6, 't': [503], 'm': [2029], 's': [4360]},
 {'n': 'Brito', 'c': 6, 'a': [24]},
 {'n': 'Bruma', 'c': 5, 't': [34, 682], 's': [8198]},
 {'n': 'Bruno', 'c': 5, 't': [652], 'm': [781]},
 {'n': 'Burgui', 'c': 2, 't': [3468], 'm': [523]},
 {'n': 'Cadu', 'c': 5, 's': [8198]},
 {'n': 'Cafu',
  'c': 6,
  't': [113, 37],
  'a': [22, 24, 26],
  'm': [523],
  's': [3140]},
 {'n': 'Caio', 'c': 6, 't': [2930, 597]},
 {'n': 'Caju', 'c': 6, 't': [652]},
 {'n': 'Calado', 'c': 5, 't': [605], 'm': [781]},
 {'n': 'Canario', 'c': 6, 't': [3468], 'a': [22]},
 {'n': 'Cane', 'c': 6, 't': [597]},
 {'n': 'Capone', 'c': 6, 't': [34]},
 {'n': 'Capucho', 'c': 5, 't': [652], 'm': [781]},
 {'n': 'Careca', 'c': 6, 's': [3140], 'b': '27/09/1968'},
 {'n': 'Careca', 'c': 6, 't': [597], 'b': '05/10/1960'},
 {'n': 'Carlitos', 'c': 5, 't': [605], 'm': [781]},
 {'n': 'Casagrande', 'c': 6, 't': [652], 'a': [22]},
 {'n': 'Casemiro',
  'c': 6,
  't': [14, 3468, 652],
  'a': [22, 26],
  'm': [781, 523, 1522],
  's': [8198, 45320]},
 {'n': 'Cassio', 'c': 6, 't': [682], 'a': [26]},
 {'n': 'Castilho', 'c': 6, 'a': [24]},
 {'n': 'Castro', 'c': 5, 't': [652], 's': [8198]},
 {'n': 'Cate', 'c': 6, 's': [3140]},
 {'n': 'Ceara', 'c': 6, 't': [591], 'm': [523]},
 {'n': 'Celso', 'c': 6, 't': [652], 'a': [22]},
 {'n': 'Cesar', 'c': 6, 't': [591], 'a': [26], 's': [3140], 'b': '16/11/1975'},
 {'n': 'Cesar', 'c': 6, 't': [2930, 43], 's': [3455], 'b': '24/10/1974'},
 {'n': 'Cesar', 'c': 6, 't': [605], 'b': '13/04/1956'},
 {'n': 'Chano', 'c': 2, 't': [605], 'm': [781]},
 {'n': 'Charles', 'c': 6, 'a': [26]},
 {'n': 'Chendo', 'c': 2, 't': [3468], 'a': [22]},
 {'n': 'Chicao', 'c': 6, 's': [3140]},
 {'n': 'Chicharito', 't': [14, 3468], 'm': [4, 523, 2029], 's': [8198, 45320]},
 {'n': 'Chinesinho', 'c': 6, 't': [625]},
 {'n': 'Chiquinho', 'c': 5, 't': [605], 's': [45320]},
 {'n': 'Christian', 'c': 6, 't': [34, 591], 's': [3140]},
 {'n': 'Chuchi', 'c': 2, 'm': [1522]},
 {'n': 'Chumi', 'c': 2, 't': [83], 's': [28003]},
 {'n': 'Cicinho', 'c': 6, 't': [3468, 37], 's': [3140, 3139, 3111]},
 {'n': 'Claiton', 'c': 6, 't': [113], 'm': [523]},
 {'n': 'Claudio', 'c': 6, 't': [682], 'b': '05/02/1979'},
 {'n': 'Claudio', 'c': 6, 'a': [26], 'b': '18/07/1922'},
 {'n': 'Clayton', 'c': 6, 't': [652], 'm': [781]},
 {'n': 'Cleber', 'c': 6, 's': [3140]},
 {'n': 'Cleison', 'c': 6, 's': [3140]},
 {'n': 'Clodoaldo', 'c': 6, 'a': [24]},
 {'n': 'Clovis', 'c': 6, 't': [605]},
 {'n': 'Coco', 'c': 2, 'm': [1522]},
 {'n': 'Costinha', 'c': 5, 's': [8198], 'b': '07/12/1985'},
 {'n': 'Costinha',
  'c': 5,
  't': [652, 6789, 7980],
  'a': [22],
  'm': [781],
  's': [8198],
  'b': '01/12/1974'},
 {'n': 'Costinha', 'c': 5, 't': [652], 'm': [781], 'b': '22/09/1973'},
 {'n': 'Cote', 'c': 2, 't': [37, 652]},
 {'n': 'Coutinho', 'c': 6, 'a': [24]},
 {'n': 'Cribari', 'c': 6, 't': [43, 597]},
 {'n': 'Cris', 'c': 6, 't': [34], 'a': [26], 's': [3140]},
 {'n': 'Cristian', 'c': 6, 's': [3140]},
 {'n': 'Cristiano', 'c': 6, 't': [605]},
 {'n': 'Custodio', 'c': 5, 's': [8198]},
 {'n': 'Dalbert', 'c': 6, 't': [2930], 's': [96341]},
 {'n': 'Dani',
  'c': 5,
  't': [605, 629, 7980],
  'm': [781, 2029],
  'b': '02/11/1976'},
 {'n': 'Dani', 'c': 2, 't': [7980], 'm': [1522], 'b': '08/07/1972'},
 {'n': 'Danilo', 'c': 6, 't': [629], 'b': '07/04/1999'},
 {'n': 'Danilo',
  'c': 6,
  't': [3468, 625, 652, 9],
  'a': [22],
  'm': [5672, 1522],
  's': [8198, 45320, 5023],
  'b': '15/07/1991'},
 {'n': 'Danilo', 'c': 13, 't': [629], 'b': '13/01/1990'},
 {'n': 'Danilo', 'c': 6, 's': [5023], 'b': '10/05/1984'},
 {'n': 'Danilo', 'c': 6, 's': [3140], 'b': '11/06/1979'},
 {'n': 'Danny', 'c': 5, 's': [8198]},
 {'n': 'Danrlei', 'c': 6, 's': [3140]},
 {'n': 'Dante', 'c': 6, 't': [503], 'a': [22], 'm': [5672], 's': [4360]},
 {'n': 'Davide', 'c': 5, 's': [8198]},
 {'n': 'Deco',
  'c': 5,
  't': [18, 605, 652, 83],
  'a': [22],
  'm': [781, 523],
  's': [28003, 8198]},
 {'n': 'Dede', 'c': 6, 't': [68], 'm': [118]},
 {'n': 'Delfim', 'c': 5, 't': [44]},
 {'n': 'Dellatorre', 'c': 6, 't': [652]},
 {'n': 'Denilson', 'c': 6, 't': [19], 'm': [280], 'b': '16/02/1988'},
 {'n': 'Denilson', 'c': 6, 'a': [24, 26], 's': [3140], 'b': '24/08/1977'},
 {'n': 'Denilson', 'c': 6, 't': [591], 'b': '04/09/1976'},
 {'n': 'Dentinho', 'c': 6, 's': [3140]},
 {'n': 'Derlei', 'c': 6, 't': [605, 652], 'a': [22], 'm': [781]},
 {'n': 'Derley', 'c': 6, 't': [605]},
 {'n': 'Dida',
  'c': 6,
  't': [113],
  'a': [22, 24, 26],
  'm': [523],
  's': [3140, 3139],
  'b': '07/10/1973'},
 {'n': 'Dida', 'c': 6, 'a': [24], 'b': '26/03/1934'},
 {'n': 'Didi', 'c': 6, 't': [3468], 'a': [24]},
 {'n': 'Diego',
  'c': 6,
  't': [625, 652, 7980],
  'a': [26],
  's': [3140, 5023],
  'b': '28/02/1985'},
 {'n': 'Diego', 'c': 2, 't': [7980], 'm': [1522], 'b': '30/12/1968'},
 {'n': 'Digao', 'c': 6, 't': [113], 'm': [523]},
 {'n': 'Dill', 'c': 6, 't': [44]},
 {'n': 'Dimas', 'c': 5, 't': [44, 605, 625], 's': [3111]},
 {'n': 'Dinda', 'c': 6, 'm': [781]},
 {'n': 'Diogo', 'c': 6, 's': [3140]},
 {'n': 'Dirceu', 'c': 6, 't': [597, 7980]},
 {'n': 'Dito', 'c': 5, 't': [605, 652]},
 {'n': 'Djair', 'c': 6, 't': [43]},
 {'n': 'Djalminha', 'c': 6, 'a': [26], 's': [3140]},
 {'n': 'Djavan', 'c': 6, 't': [605]},
 {'n': 'Dodo', 'c': 6, 't': [2930, 37], 's': [3140], 'b': '06/02/1992'},
 {'n': 'Dodo', 'c': 6, 's': [3140], 'b': '02/05/1974'},
 {'n': 'Doni', 'c': 6, 't': [37, 8], 'a': [26]},
 {'n': 'Donizete', 'c': 6, 't': [605], 's': [3140]},
 {'n': 'Doriva', 'c': 6, 't': [652], 's': [3140]},
 {'n': 'Douglas',
  'c': 6,
  't': [605, 83],
  'a': [22],
  's': [28003],
  'b': '06/08/1990'},
 {'n': 'Douglas', 'c': 8, 'm': [2029], 'b': '12/01/1988'},
 {'n': 'Douglas', 'c': 6, 's': [3140], 'b': '18/02/1982'},
 {'n': 'Douglas', 'c': 6, 's': [3140], 'b': '01/03/1963'},
 {'n': 'Duda', 'c': 5, 's': [8198], 'b': '27/06/1980'},
 {'n': 'Duda', 'c': 6, 't': [605, 652], 'b': '15/03/1974'},
 {'n': 'Duda', 'c': 6, 't': [652], 'b': '04/08/1947'},
 {'n': 'Dunga', 'c': 6, 'a': [24, 26], 's': [3140]},
 {'n': 'Edcarlos', 'c': 6, 't': [605], 's': [45320]},
 {'n': 'Eder', 'c': 5, 'a': [25], 's': [8198], 'b': '22/12/1987'},
 {'n': 'Eder', 'c': 12, 't': [2930], 's': [5023], 'b': '15/11/1986'},
 {'n': 'Ederson',
  'c': 6,
  't': [605, 9],
  'a': [22, 26],
  'm': [5672],
  'b': '17/08/1993'},
 {'n': 'Ederson', 'c': 6, 't': [43], 'b': '13/01/1986'},
 {'n': 'Edevaldo', 'c': 6, 't': [652]},
 {'n': 'Edgar', 'c': 5, 't': [3468, 605]},
 {'n': 'Edilson', 'c': 6, 't': [605], 'a': [24], 's': [3140]},
 {'n': 'Edinho', 'c': 5, 's': [8198], 'b': '07/07/1982'},
 {'n': 'Edinho', 'c': 6, 't': [2930], 'b': '30/10/1979'},
 {'n': 'Edmilson',
  'c': 6,
  't': [83],
  'a': [22, 24],
  's': [28003, 3140],
  'b': '10/07/1976'},
 {'n': 'Edmilson', 'c': 6, 't': [591, 652], 'b': '17/09/1971'},
 {'n': 'Edmundo', 'c': 6, 't': [597], 'a': [26], 's': [3140]},
 {'n': 'Ednilson', 't': [37, 605], 's': [8198]},
 {'n': 'Edno', 'c': 6, 's': [3140]},
 {'n': 'Edu', 'c': 6, 'm': [118], 'b': '30/11/1981'},
 {'n': 'Edu', 'c': 2, 'm': [1522], 'b': '09/10/1971'},
 {'n': 'Edu', 'c': 6, 't': [652], 'b': '15/02/1963'},
 {'n': 'Edu', 'c': 6, 'a': [24], 'b': '06/08/1949'},
 {'n': 'Eduardo', 'c': 6, 't': [652], 'b': '17/10/1989'},
 {'n': 'Eduardo', 'c': 15, 't': [19], 'm': [280], 'b': '25/02/1983'},
 {'n': 'Eduardo',
  'c': 5,
  't': [18, 605],
  'a': [25],
  's': [8198],
  'b': '19/09/1982'},
 {'n': 'Elano', 'c': 6, 't': [34, 9], 'a': [26], 's': [3140]},
 {'n': 'Elderson', 'c': 25, 't': [6789]},
 {'n': 'Elias', 'c': 6, 't': [7980], 's': [3140], 'b': '16/05/1985'},
 {'n': 'Elias', 'c': 6, 't': [652], 'm': [781], 'b': '04/09/1981'},
 {'n': 'Eliseu', 'c': 5, 't': [43, 605], 'a': [25], 's': [8198]},
 {'n': 'Eloi', 'c': 6, 't': [652], 'a': [22]},
 {'n': 'Elvis', 'c': 6, 't': [605]},
 {'n': 'Elzo', 'c': 6, 't': [605]},
 {'n': 'Emerson',
  'c': 6,
  't': [113, 3468, 37, 625],
  'a': [26],
  'm': [523],
  's': [3455, 3140, 3139, 5023],
  'b': '04/04/1976'},
 {'n': 'Emerson', 'c': 6, 't': [652, 7980], 'b': '12/04/1972'},
 {'n': 'Endrick', 'c': 6, 't': [3468], 'm': [523]},
 {'n': 'Esquerdinha', 'c': 6, 't': [652]},
 {'n': 'Estevao', 'c': 6, 't': [18]},
 {'n': 'Eusebio', 'c': 2, 't': [7980, 83], 'a': [22], 'b': '13/04/1964'},
 {'n': 'Eusebio', 'c': 5, 't': [605], 'a': [22, 27, 28], 'b': '25/01/1942'},
 {'n': 'Evair', 'c': 6, 's': [3140]},
 {'n': 'Evaldo', 'c': 6, 't': [652], 'm': [781]},
 {'n': 'Evandro', 'c': 6, 't': [652]},
 {'n': 'Evanilson', 'c': 6, 't': [652], 'b': '06/10/1999'},
 {'n': 'Evanilson',
  'c': 6,
  't': [68],
  'a': [26],
  's': [3140],
  'b': '12/09/1975'},
 {'n': 'Everaldo', 'c': 6, 'a': [24]},
 {'n': 'Everson', 'c': 6, 't': [605]},
 {'n': 'Everton', 'c': 6, 't': [605], 'a': [26], 'b': '22/03/1996'},
 {'n': 'Everton', 'c': 6, 't': [652], 'b': '12/12/1959'},
 {'n': 'Ewerthon', 'c': 6, 't': [68]},
 {'n': 'Fabiano', 'c': 6, 't': [652]},
 {'n': 'Fabinho',
  'c': 6,
  't': [3468, 6789, 8],
  'a': [22],
  'm': [781, 118],
  's': [8198, 45320],
  'b': '23/10/1993'},
 {'n': 'Fabinho', 'c': 6, 's': [3140], 'b': '10/01/1980'},
 {'n': 'Fabio', 'c': 6, 't': [14], 'm': [4], 's': [8198], 'b': '09/07/1990'},
 {'n': 'Fabio', 'c': 6, 'a': [26], 's': [3140], 'b': '30/09/1980'},
 {'n': 'Fagner', 'c': 6, 't': [682], 'a': [26]},
 {'n': 'Falcao', 'c': 6, 't': [37]},
 {'n': 'Fali', 'c': 2, 't': [83], 's': [28003]},
 {'n': 'Felipe', 'c': 6, 't': [652, 7980], 'b': '16/05/1989'},
 {'n': 'Felipe', 'c': 6, 't': [37], 'b': '05/04/1986'},
 {'n': 'Felipe', 'c': 6, 't': [2930], 'b': '31/07/1984'},
 {'n': 'Felipe', 'c': 6, 's': [3140], 'b': '22/02/1984'},
 {'n': 'Felix', 'c': 6, 'a': [24]},
 {'n': 'Fernandao', 'c': 6, 't': [44]},
 {'n': 'Fernandinho', 'c': 6, 't': [9], 'a': [26], 'm': [5672]},
 {'n': 'Fernando', 'c': 6, 't': [34, 652, 9], 'm': [5672], 'b': '25/07/1987'},
 {'n': 'Fernando', 'c': 6, 'a': [26], 'b': '03/05/1981'},
 {'n': 'Fernando', 'c': 2, 't': [83], 'm': [1522], 'b': '12/09/1971'},
 {'n': 'Ferreira', 'c': 6, 't': [652], 'm': [781]},
 {'n': 'Ferro', 'c': 5, 't': [605], 's': [8198]},
 {'n': 'Filipe', 'c': 6, 't': [37]},
 {'n': 'Florentino', 'c': 5, 't': [605, 6789], 's': [45320]},
 {'n': 'Fontana', 'c': 6, 'a': [24]},
 {'n': 'Franca', 'c': 6, 's': [3140]},
 {'n': 'Franchu', 'c': 11, 't': [3468]},
 {'n': 'Frechaut', 'c': 5, 's': [8198]},
 {'n': 'Fred',
  'c': 6,
  't': [14],
  'm': [781],
  's': [8198, 96341],
  'b': '05/03/1993'},
 {'n': 'Fred', 'c': 6, 'a': [26], 's': [3140], 'b': '03/10/1983'},
 {'n': 'Fredi', 'c': 2, 'm': [1522]},
 {'n': 'Furtado', 'c': 5, 't': [652], 'm': [781]},
 {'n': 'Gabri', 'c': 2, 't': [629, 83], 'a': [22], 'm': [2029], 's': [28003]},
 {'n': 'Gabriel', 'c': 6, 't': [113, 597]},
 {'n': 'Galeno', 'c': 6, 't': [652]},
 {'n': 'Gallego', 'c': 2, 't': [83], 'a': [25]},
 {'n': 'Geovanni', 'c': 6, 't': [605, 83, 9], 'm': [2029]},
 {'n': 'Geraldao', 'c': 6, 't': [591, 652]},
 {'n': 'Gerardo', 'c': 2, 'm': [1522]},
 {'n': 'Germano', 'c': 5, 't': [605], 'a': [22]},
 {'n': 'Gerson', 'c': 6, 't': [37, 44], 'b': '20/05/1997'},
 {'n': 'Gerson', 'c': 6, 'a': [24], 'b': '11/01/1941'},
 {'n': 'Gervinho', 'c': 41, 't': [19, 37], 'm': [280]},
 {'n': 'Ghito', 'c': 11, 't': [113]},
 {'n': 'Gilberto', 'c': 6, 't': [605], 'b': '07/03/1993'},
 {'n': 'Gilberto',
  'c': 6,
  't': [2930, 6],
  'a': [26],
  's': [3140],
  'b': '25/04/1976'},
 {'n': 'Gilmar', 'c': 6, 't': [652], 'b': '23/09/1991'},
 {'n': 'Gilmar', 'c': 6, 'a': [24], 's': [3140], 'b': '13/01/1959'},
 {'n': 'Gilmar', 'c': 6, 'a': [24], 'b': '22/08/1930'},
 {'n': 'Ginho', 'c': 5, 's': [8198]},
 {'n': 'Giovanni', 'c': 6, 't': [83], 'a': [26], 'm': [2029], 's': [3140]},
 {'n': 'Gladstone', 'c': 6, 't': [625], 's': [3455, 5023]},
 {'n': 'Glauber', 'c': 6, 't': [9]},
 {'n': 'Goncalves', 'c': 6, 'a': [26], 's': [3140]},
 {'n': 'Gregore', 'c': 6, 's': [28003]},
 {'n': 'Guti',
  'c': 2,
  't': [3468],
  'a': [22],
  's': [8198, 3140, 3139, 4360, 3111]},
 {'n': 'Hannibal', 't': [14], 's': [8198]},
 {'n': 'Helton', 'c': 6, 't': [652], 'a': [26]},
 {'n': 'Henrique', 'c': 6, 's': [3140], 'b': '19/01/1987'},
 {'n': 'Henrique', 'c': 6, 't': [597, 83], 'm': [1522], 'b': '14/10/1986'},
 {'n': 'Henrique', 'c': 6, 's': [3140], 'b': '16/05/1985'},
 {'n': 'Hernanes', 'c': 6, 't': [2930, 43, 625], 's': [5023]},
 {'n': 'Hilario',
  'c': 5,
  't': [18, 652],
  'a': [22],
  'm': [781, 523, 1522],
  's': [8198, 96341, 4360]},
 {'n': 'Hilton', 'c': 6, 't': [44]},
 {'n': 'Hugo', 'c': 5, 's': [8198], 'b': '11/08/1976'},
 {'n': 'Hugo', 'c': 6, 's': [4360], 'b': '23/07/1974'},
 {'n': 'Hulk', 'c': 6, 't': [652]},
 {'n': 'Iarley', 'c': 6, 's': [3140]},
 {'n': 'Ibrahim', 'c': 2, 'm': [1522]},
 {'n': 'Ibson', 'c': 6, 't': [652]},
 {'n': 'Inacio', 'c': 6, 't': [652]},
 {'n': 'Isaias', 'c': 6, 't': [605]},
 {'n': 'Isco',
  'c': 2,
  't': [3468],
  'a': [22],
  'm': [523, 1522],
  's': [8198, 45320]},
 {'n': 'Ivanildo', 't': [652], 's': [8198]},
 {'n': 'Jacinto', 'c': 5, 't': [605, 652]},
 {'n': 'Jadson', 'c': 6, 's': [3140], 'b': '22/08/1991'},
 {'n': 'Jadson', 'c': 6, 's': [3140], 'b': '05/10/1983'},
 {'n': 'Jaguare', 'c': 6, 't': [44, 83]},
 {'n': 'Jailson', 'c': 6, 'm': [1522], 'b': '07/09/1995'},
 {'n': 'Jailson', 'c': 6, 't': [605], 'b': '16/06/1981'},
 {'n': 'Jaime', 'c': 2, 't': [3468], 'a': [22], 'm': [1522]},
 {'n': 'Jair', 'c': 6, 't': [2930, 37], 'a': [22, 24], 'b': '09/07/1940'},
 {'n': 'Jair', 'c': 6, 'a': [26], 'b': '21/03/1921'},
 {'n': 'Jairzinho', 'c': 6, 't': [44], 'a': [24]},
 {'n': 'Jamir', 'c': 6, 't': [605]},
 {'n': 'Jardel', 'c': 6, 't': [605], 'b': '29/03/1986'},
 {'n': 'Jardel', 'c': 6, 't': [34, 652], 's': [8198, 3140], 'b': '18/09/1973'},
 {'n': 'Javito', 'c': 2, 't': [83], 's': [28003]},
 {'n': 'Jean', 'c': 6, 's': [3140]},
 {'n': 'Jefferson', 'c': 6, 's': [3140]},
 {'n': 'Jeffren', 't': [83], 'a': [22], 'm': [5672], 's': [28003, 3455]},
 {'n': 'Jemerson', 'c': 6, 't': [6789]},
 {'n': 'Jese',
  'c': 2,
  't': [3468, 591],
  'a': [22],
  'm': [781, 523, 1522],
  's': [8198, 45320, 5023]},
 {'n': 'Jesus', 'c': 2, 's': [28003]},
 {'n': 'Jo', 'c': 6, 't': [34, 9]},
 {'n': 'Joca', 'c': 5, 't': [652], 'm': [781], 's': [8198]},
 {'n': 'Joel', 'c': 6, 'a': [24]},
 {'n': 'Jonas', 'c': 6, 't': [605]},
 {'n': 'Jonathan', 'c': 6, 't': [2930]},
 {'n': 'Jony', 'c': 2, 't': [43]},
 {'n': 'Jorge', 'c': 6, 't': [652, 6789]},
 {'n': 'Jorginho',
  'c': 12,
  't': [18, 19, 597],
  'a': [22, 25],
  'm': [1522],
  's': [5023, 96341],
  'b': '20/12/1991'},
 {'n': 'Jorginho', 'c': 6, 't': [652], 'b': '06/05/1977'},
 {'n': 'Jorginho',
  'c': 6,
  't': [503],
  'a': [24],
  's': [3140],
  'b': '17/08/1964'},
 {'n': 'Joseito', 'c': 2, 't': [3468], 'a': [22]},
 {'n': 'Joselu',
  'c': 2,
  't': [3468],
  'a': [22, 25],
  'm': [781, 523, 1522],
  's': [8198]},
 {'n': 'Josemi', 'c': 2, 't': [8], 'a': [22], 'm': [1522]},
 {'n': 'Josimar', 'c': 6, 'a': [26]},
 {'n': 'Josue', 'c': 5, 't': [34, 652], 's': [8198], 'b': '17/09/1990'},
 {'n': 'Josue', 'c': 6, 'a': [26], 'b': '19/07/1979'},
 {'n': 'Juan', 'c': 6, 't': [19], 'm': [280], 'b': '06/02/1982'},
 {'n': 'Juan', 'c': 6, 't': [37], 'a': [26], 's': [3140], 'b': '01/02/1979'},
 {'n': 'Juanfran', 'c': 2, 't': [629]},
 {'n': 'Juanito', 'c': 2, 't': [7980], 'a': [25], 'b': '23/07/1976'},
 {'n': 'Juanito', 'c': 2, 't': [3468, 7980], 'b': '10/11/1954'},
 {'n': 'Juankar', 'c': 2, 't': [3468], 'm': [781], 's': [8198, 45320]},
 {'n': 'Juary', 'c': 6, 't': [2930, 652], 'a': [22]},
 {'n': 'Jucilei', 'c': 6, 's': [3140]},

In [8]:
def find_index_of_player(player_name):
    for i, data in enumerate(players_json):
        if data["n"] == player_name: return i
find_index_of_player("Ademir")

3

In [9]:
((datetime.now() - datetime.strptime("31/12/2023", "%d/%m/%Y")).days-1)//365 == int("0")

True

In [10]:
def getAge(dt):
    present = datetime.now()
    year_diff = present.year-dt.year
    if dt.month > present.month or (dt.month==present.month and dt.day > present.day): year_diff-=1
    return year_diff

In [12]:
with open("player_id.json") as f: queries = json.load(f)
players_df = pd.DataFrame(columns=["id", "player_name"])
bad_names = []
prevName = ""
players_json_index = 0
for query in queries:
    player_name = query["query"]
    player_id, player_ids = "", []
    num_matching_names = 0
    for res in query['results']:
        if are_equal_ignore_accents(player_name, res["name"]):
            player_ids.append([res["id"], res["age"]])
            num_matching_names+=1
    if not player_ids: 
        bad_names.append(player_name)
        continue
    if num_matching_names>=2:
        if prevName == player_name: players_json_index+=1
        else: players_json_index = find_index_of_player(player_name)
        if "b" in players_json[players_json_index]: 
            birth_date = datetime.strptime(players_json[players_json_index]["b"], "%d/%m/%Y")
            for i in player_ids:
                if i[1]!="-" and getAge(birth_date)==int(i[1]):
                    player_id = i[0]
            prevName = player_name
            player_name = f"{player_name} ({birth_date.year})"
        else: player_id = player_ids[0][0]
    else:
        num_matching_names=0
        player_id = player_ids[0][0]
        prevName = ""
    if player_id: players_df = pd.concat([players_df, pd.DataFrame([{"id": int(player_id), "player_name": player_name}])], ignore_index=True)
    else: bad_names.append(player_name)

In [13]:
from datetime import date
getAge(date(1987, 1, 24))

37

In [ ]:
players_df

          id     player_name
0       8036        Abelardo
1     258051          Acacio
2      18699        Adailton
3     311030   Ademir (1951)
4      34495  Adriano (1984)
...      ...             ...
8004  289493  Adolfo Zumelzu
8005   37941   Camilo Zuniga
8006  250911  Rafael Zuviria
8007  892973  Lovro Zvonarek
8008    4538  Theo Zwarthoed

[8009 rows x 2 columns]

In [15]:
players_df = players_df.drop_duplicates()
players_df

          id     player_name
0       8036        Abelardo
1     258051          Acacio
2      18699        Adailton
3     311030   Ademir (1951)
4      34495  Adriano (1984)
...      ...             ...
8004  289493  Adolfo Zumelzu
8005   37941   Camilo Zuniga
8006  250911  Rafael Zuviria
8007  892973  Lovro Zvonarek
8008    4538  Theo Zwarthoed

[7977 rows x 2 columns]

In [16]:
bad_names

['Ademir (1960)',
 'Ademir (1922)',
 'Ado',
 'Adrian',
 'Adriano (1979)',
 'Ailton (1949)',
 'Alan',
 'Alessandro',
 'Alex',
 'Alex',
 'Alex',
 'Alexis',
 'Alfonso',
 'Alonso',
 'Andrade',
 'Andrade',
 'Andre',
 'Angelo',
 'Barbosa',
 'Batista',
 'Batista',
 'Bauer',
 'Bene',
 'Bernard',
 'Beto (1975)',
 'Bill',
 'Bio',
 'Bruno',
 'Cane',
 'Cesar',
 'Cesar',
 'Cesar',
 'Charles',
 'Christian',
 'Claudio',
 'Claudio',
 'Clovis',
 'Cristian',
 'Dani',
 'Dani',
 'Danilo (1999)',
 'Danilo (1990)',
 'Danilo (1984)',
 'Davide',
 'Dida (1934)',
 'Diego',
 'Diego',
 'Dill',
 'Douglas (1963)',
 'Duda (1947)',
 'Edgar',
 'Emerson (1972)',
 'Eusebio (1942)',
 'Everton (1959)',
 'Fabio',
 'Fabio',
 'Ferreira',
 'Filipe',
 'Gabri',
 'Gabriel',
 'Gerardo',
 'Gilmar (1991)',
 'Gilmar (1930)',
 'Ginho',
 'Giovanni',
 'Goncalves',
 'Henrique',
 'Henrique',
 'Henrique',
 'Hugo',
 'Hugo',
 'Ibrahim',
 'Inacio',
 'Jair (1921)',
 'Jean',
 'Jesus',
 'Jonathan',
 'Juan',
 'Juan',
 'King',
 'Leandro',
 'Leandro',
 'Leo',
 'Leonidas',
 'Leonidas',
 'Lima',
 'Lima',
 'Lino',
 'Luciano',
 'Marcel',
 'Marques',
 'Miguel',
 'Moacir (1986)',
 'Moacir (1970)',
 'Muller',
 'Nando',
 'Narciso',
 'Nathan',
 'Nene (1942)',
 'Noronha',
 'Patric',
 'Patric',
 'Patrick',
 'Paulinho (1997)',
 'Pedro (1968)',
 'Pele (1940)',
 'Pena',
 'Pia',
 'Pier',
 'Poli',
 'Rafael',
 'Rafael',
 'Ricardo',
 'Ricardo',
 'Robert',
 'Roberto',
 'Roberto',
 'Roger',
 'Ronaldo (1990)',
 'Russo',
 'Sandro',
 'Sandro',
 'Santamaria',
 'Seba',
 'Silas (1965)',
 'Sousa',
 'Souza',
 'Souza',
 'Souza',
 'Souza',
 'Steven',
 'Tavares',
 'Tiago',
 'Toledo',
 'Toy',
 'Victor',
 'Walker',
 'Wando',
 'Carlos Alberto (1944)',
 'Sergio Alejandro',
 'Marcos Alonso (1959)',
 'Hamit Altintop',
 'Geraldo Alves',
 'Joao Alves (1952)',
 'Gustaf Andersson (1979)',
 'Emilio Avarez',
 'Eyup Aydin',
 'Gabriel Miguel Bordi',
 'Dick Van Burik',
 'Renato Cappellini (1914)',
 'Ze Carlos (1968)',
 'Ze Carlos (1962)',
 'Julio Cesar (1986)',
 'Papiss Cisse',
 'Mike Clegg',
 'Ricardo Costa (1985)',
 'Sir Kenny Dalglish',
 'Cata Diaz',
 'Octavio Diaz',
 'Borislav Djordjevic',
 'Manuel Ferreira',
 'Javier Garcia',
 'Tom Geisler',
 'Kevin Groskreutz',
 'Uli Hoenes',
 'Sebastian Kneisl',
 'Andre Luis (1977)',
 'Patricio Margetic',
 'Pity Martinez',
 'Floribert Ngalula',
 'Juan Jose Olalla',
 'Samu Omorodion',
 'Emerson Palmieri',
 'Rodrigo de Paul',
 'Joao Paulo (1989)',
 'Joao Pedro (1996)',
 'Renato Portaluppi',
 'Diego Sacomam',
 'Andre Santos (1985)',
 'Burkhard Segler',
 'Roberto Sosa (1935)',
 'Luis Suarez (1935)',
 'Serdar Tasci',
 'Anderson Thiago',
 'Rob Ullathorne',
 'Jesus Enrique Velasco',
 'Gunther Weis',
 'Josef Weis']

In [17]:
transfer_jsons = []
for index, row in players_df.iterrows():
    player_id = row[0]
    transfer_jsons.append(requests.get(f"http://localhost:8000/players/{player_id}/transfers").json())
    if index%20==0: print(row[1])
with open("transfers.json", "w") as f: json.dump(transfer_jsons, f)

/var/folders/kw/kcr50hsd6zq1ldzcm_9h_m840000gn/T/ipykernel_12792/844003225.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  player_id = row[0]
/var/folders/kw/kcr50hsd6zq1ldzcm_9h_m840000gn/T/ipykernel_12792/844003225.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if index%20==0: print(row[1])

Abelardo
Amaral
Bernardo
Cafu
Chicao
Cristiano
Digao
Edcarlos
Everson
Florentino
Gilmar (1959)
Jailson (1995)
Jorginho (1977)
Kelvin
Lica
Mantorras
Marvel
Naldo
Oseas
Peque
Renato
Romulo (1987)
Silvino
Valdeir
Wellington
Christian Abbiati
Sebastian Abreu
Seyi Adeleke
Andrea Agostinelli
Pablo Aimar
Lucas Alario
Romain Alessandrini
Max Alleyne
Juanito Alonso
Vana Alves
Nicolas Amodio
Sonny Anderson
Jose Leandro Andrade
Miguel Angel Angulo
Roberto Antonelli
Jose Araquistain
Franco Armani
Andrey Arshavin
Gai Assulin
Carmelo Augliera
Ruben Ayala
Celestine Babayaro
Junior Baiano
James Balagizi
Salva Ballesta
Gordon Banks
Franco Baresi
Evaristo Barrera
Joey Barton
Jose Basualdo
Russell Beardsmore
Valon Behrami
Bruno Bellone
Simone Benedetti
Emanuel Bentil
Gonzalo Bergessio
Antonino Bernardini
Antonio Betancort
Walter Bianchi
Dragisa Binic
Stig Inge Bjornebye
Danny Blind
Jules Bocande
Winston Bogarde
Samuele Dalla Bona
Filippo Boniperti
Sebastiaan Bornauw
Alberto Botia
Robert van Boxel
Frederic Brando
Shay Brennan
John van den Brom
Matteo Bruscagin
Ottavio Bugatti
Pietro Buscaglia
Fabian Caballero
Jake Cain
Isacio Calleja
Alessandro Cambalhota
Enrico Candiani
Emiliano Capella
Yrius Roberto Carboni
Chiquinho Carlos
Lluis Carreras
Fabio Carvalho
Lewis Cass
Luca Castellazzi
Steven Caulker
Luca Ceccarelli
Julio Cesar (1978)
Lionel Charbonnier
Stephane Chevalier
Davide Chiumiento
Amato Ciciretti
Lee Clark
David Cobeno
Carlton Cole
Keba Coly
Andrea Conti
Ante Coric
Anthony Da Costa
Alessandro Costacurta
Patrick Cregg
Thomas Cruise
Emil Cuello
Dario Cvitanich
Colin Dagba
Antonio Pio Daniele
Peter Davenport
Mathieu Debuchy
Liam Delap
Moussa Dembele
Timothy Derijck
Moussa Diaby
Ruben Dias
Paul Dickov
Roberto Dinamite
Tiago Djalo
Jean-Pierre Dogliani
Marco Donadel
Diego Dorta
Mels van Driel
Guy Dufour
Michel Dussuyer
Richard Eckersley
Joel Ekstrand
Bartug Elmaz
Robert Enke
Guillermo Escalada
Felipe Estrella
Ivan Moreno y Fabianesi
Mark Falco
Ricardo Faty
Nicolas Feldhahn
Matheus Fernandes
Matias Fernandez
Demetrius Ferreira
Luciano Figueroa
Mark Flekken
Youssouf Fofana (1966)
Alessandro Fontanarosa
Laurent Fournier
Olivier Frapolli
Marco Friedl
Ryan Fulton
Roberto Gagliardini
Luciano Galletti
Maurizio Ganz
Martin Garcia
Mane Garrincha
Franck Gava
Grigoris Georgatos
Anwar El Ghazi
Lewis Gibson
Charlie Gilmour
Gael Givet
Lino Golin
Jose Luis Gomez
Jersson Gonzalez
Sergio Gori
Fernand Goyvaerts
Guido Gratton
Clement Grenier
Marko Grujic
Vincent Guerin
Peter Gulacsi
Danny Guthrie
Gheorghe Hagi
Micah Hamilton
Tammo Harder
Mark Hateley
Filip Helander
Luis Henrique
Hector Herrera
Fernando Hierro
Glenn Hoddle
Chris Holland
Stewart Houston
Dean Huijsen
Tobias Hysen
Julio Iglesias
Eike Immel
Emiliano Insua
Mauricio Isla
Ivan Jaime
Anton Janssen
Elias Jelert
David Jimenez
Andy Johnson
John de Jong
Diogo Jota
Rubens Junior
Oliver Kahn
Abdoulaye Kamara
Chris Kanu
Jesper Karlstrom
Gerrit Keizer
Harry Kewell
Frank Kinkel
Wolfgang Kleff
Gregor Kobel
Vincent Kompany
Roman Kosecki
Jurgen Kramny
Petar Krpan
Marash Kumbulla
Alexandre Lacazette
Frank Lampard
Manuel Lanzini
Juanmi Latasa
Nikola Lazetic
Benjamin van Leer
Yves Lenaerts
Rafael Lesmes
Matthijs de Ligt
Alec Lindsay
Adem Ljajic
Renan Lodi
Glenn Loovens
Jordi Lopez
Mamadou Loum
Celio Lucio
Ali Lukunku
Oleg Luzhnyi
Paulo Machado
Guido Magherini
Ainsley Maitland-Niles
Donyell Malen
Sadio Mane
Pier Paolo Manservisi
Marco Marchionni
Marko Marin
Luca Marrone
Emiliano Martinez
Carlos Martins
Jordi Masip
Pedro Miguel Matias
Emmanuel Matuta
Pasquale Mazzocchi
Benni McCarthy
Steve McManaman
German Medina
Neil Mellor
Edouard Mendy
Alexander Merkel
Alexander Arnold Mezan
Oscar Miguez
Danny Mills
Antonio Mionic
Henrikh Mkhitaryan
Cristian Molinaro
Daniel Montenegro
Rodrigo Mora
Gleison Moreira
Francesco Moriero
Jean Mota
Fabrice Muamba
Phil Mulryne
Anthony Musaba
Mame N'Diaye
Amara Nallo
David Navarro
David Needham
Luis Neto
Serif Nhaga
Peter Nielsen
Eddie Nketiah
Alex Notman
Pedro Nuno
Raphael Obermair
Perica Ognjenovic
Ivica Olic
Marco Olivieri
Hervin Ongenda
Andrea Orlandi
Victor Osimhen
Sergey Ovchinnikov
Antonio Pacheco
Boudewijn Pahlplatz
Cole Palmer
Michele Paolucci
Paul Parker
Manuel Pasqual
Veljko Paunovic
Steinar Pedersen
Marco Pellegrino
Luca Percassi
Moises Pereiro
Patricio Perez
Angelo Peruzzi
Djordje Petrovic
Lucas Piazon
Gabriele Pin
Luca Pinton
Claudio Pitbull
Julio Pleguezuelo
Dennis van de Poll
Samuel Portugal
Carl Aage Praest
Davy Propper
Ray Putterill
Ibrahim Rabiu
Sebastian Rambert
Mathyas Randriamamy
Ante Rebic
Knut Reinhardt
Maurice Revelli
Lars Ricken
Joe Riley
Claudio Rivalta
Braian Robert
Marc Roca
Clemente Rodriguez
Marko Rog
Piet Romeijn
Giacomo La Rosa
Paolo Rossi
Marco Ruben
Geronimo Rulli
Abdelilah Saber
Moussa Saib
Edgar Salli
Alexis Sanchez
Jose Sand
Mario Santana
Manuel dos Santos
Amadou Sarr
Franck Sauzee
Stijn Schaars
Kasper Schmeichel
Sam Schreck
Riccardo Scimeca
Georgios Seitaridis
Marcos Senna
Pedro Sernagiotto
Ryan Shawcross
Alfonso Sierra
Gilberto Silva
Alcides Silveira
Juan Simon
Davide Sinigaglia
Milan Skriniar
Dario Smoje
Ola Solbakken
Jan Derek Sorensen
Jose Luis Soto
Robert Spehar
Luca Stanga
Paul Steiner
Paul Stewart
Rico Strieder
Hyun-jun Suk
Mattias Svanberg
Dominik Szoboszlai
Lamine Tall
Oussama Targhalline
Slobodan Tedic
Jordan Teze
Morten Thomsen
Guus Til
Corentin Tolisso
Alberto Toril
John Toshack
Chaka Traore
Pedro Troglio
Chris Turner
Samuel Umtiti
Claudio Vagheggi
Patrick Valery
Raphael Varane
Rafa Martin Vazquez
Nick van der Velden
Lambert Verdonk
Birger Verstraete
Manuel Vidal
Jose Antonio Vilaseca
Giovanni Vincenzi
Nelson Vivas
Ricardo La Volpe
Zlatko Vujovic
Sam Walker
Steve Watson
Niclas Weiland
Niels van Wetten
Owen Wijndal
Joe Willock
Peter Withe
Scott Wootton
Hakan Yakin
Amin Younes
Yassine Zakir
Rolando Zarate
Alessio Zerbin
Paolo Ziliani
Kurt Zouma

In [35]:
transfer_df = pd.DataFrame()
for row in transfer_jsons:
    transfer_df = pd.concat([transfer_df, pd.DataFrame([row])], ignore_index=True)
transfer_df

,id,transfers,updatedAt,youthClubs
0,8036,"[{'id': '66520', 'from': {'clubID': '1108', 'c...",2024-12-05T18:41:38.027375,NaN
1,258051,"[{'id': '2344155', 'from': {'clubID': '4907', ...",2024-12-05T18:41:38.930084,NaN
2,18699,"[{'id': '1717445', 'from': {'clubID': '42814',...",2024-12-05T18:41:41.608076,[Esporte Clube Vitória (1995-2002)]
3,311030,"[{'id': '2482034', 'from': {'clubID': '3332', ...",2024-12-05T18:41:42.257932,NaN
4,34495,"[{'id': '4346062', 'from': {'clubID': '515', '...",2024-12-05T18:41:42.976276,NaN
...,...,...,...,...
7972,289493,"[{'id': '2204177', 'from': {'clubID': '11831',...",2024-12-05T21:46:11.654140,NaN
7973,37941,"[{'id': '2160984', 'from': {'clubID': '8172', ...",2024-12-05T21:46:12.436444,[Atlético Nacional]
7974,250911,"[{'id': '1610643', 'from': {'clubID': '6062', ...",2024-12-05T21:46:13.113237,NaN
7975,892973,"[{'id': '5093758', 'from': {'clubID': '122', '...",2024-12-05T21:46:14.047180,"[NK Koprivnica (-2017), Slaven Belupo Koprivni..."
7976,4538,"[{'id': '2437147', 'from': {'clubID': '132', '...",2024-12-05T21:46:14.600820,"[RKAV Volendam, FC Volendam]"

In [36]:
players_df[players_df.id==49131]

        id     player_name
344  49131  Mazinho (1966)
345  49131  Mazinho (1965)

In [150]:
players_df = players_df.drop(index=344, axis=0).reset_index(drop=True)
players_df[players_df.id==49131]

        id     player_name
321  49131  Mazinho (1965)

In [41]:
transfer_df = transfer_df.drop(index=322, axis=0).reset_index(drop=True)
transfer_df

,id,transfers,updatedAt,youthClubs
0,8036,"[{'id': '66520', 'from': {'clubID': '1108', 'c...",2024-12-05T18:41:38.027375,NaN
1,258051,"[{'id': '2344155', 'from': {'clubID': '4907', ...",2024-12-05T18:41:38.930084,NaN
2,18699,"[{'id': '1717445', 'from': {'clubID': '42814',...",2024-12-05T18:41:41.608076,[Esporte Clube Vitória (1995-2002)]
3,311030,"[{'id': '2482034', 'from': {'clubID': '3332', ...",2024-12-05T18:41:42.257932,NaN
4,34495,"[{'id': '4346062', 'from': {'clubID': '515', '...",2024-12-05T18:41:42.976276,NaN
...,...,...,...,...
7971,289493,"[{'id': '2204177', 'from': {'clubID': '11831',...",2024-12-05T21:46:11.654140,NaN
7972,37941,"[{'id': '2160984', 'from': {'clubID': '8172', ...",2024-12-05T21:46:12.436444,[Atlético Nacional]
7973,250911,"[{'id': '1610643', 'from': {'clubID': '6062', ...",2024-12-05T21:46:13.113237,NaN
7974,892973,"[{'id': '5093758', 'from': {'clubID': '122', '...",2024-12-05T21:46:14.047180,"[NK Koprivnica (-2017), Slaven Belupo Koprivni..."
7975,4538,"[{'id': '2437147', 'from': {'clubID': '132', '...",2024-12-05T21:46:14.600820,"[RKAV Volendam, FC Volendam]"

In [151]:
players_df.to_csv('players_large.csv', index=False)

In [63]:
nan_rows = transfer_df[transfer_df["transfers"].isna()]

for row in nan_rows.iterrows():
    print(players_df[players_df.id==int(row[1]["id"])])

         id player_name
44  1089961      Bigode
         id player_name
449  245327     Santana
          id   player_name
1262  409156  Ben Bettahar
          id    player_name
1321  625174  Michael Black
          id          player_name
1635  474379  Bram Van Caelenberg
           id    player_name
2785  1026956  Ricardo Felix
          id         player_name
2798  244848  Humberto Fernandes
          id player_name
2925  642365   Ryan Ford
          id     player_name
3130  549110  Jerome Geffroy
          id         player_name
3438  616510  Kenneth Gustavsson
          id    player_name
3788  569163  Carlin Itonga
          id player_name
4070  241396    Bert Kik
          id    player_name
4165  764535  Emmanuel Koum
          id   player_name
4246  732926  Rogerio Lage
           id            player_name
4791  1071841  Ruben Martinez (1984)
           id           player_name
4990  1155408  Richard Oteng Mensah
           id      player_name
5117  1224079  Emiliano Molina
           id   player_name
5622  1155492  Gezim Osmani
          id            player_name
6281  858443  Christian M'pon A Rim
          id    player_name
6486  891340  James Russell
           id     player_name
6876  1015963  Vinicius Silva
           id    player_name
7834  1155405  Marc Winqvist

In [64]:
transfer_df = transfer_df.dropna(subset="transfers")

In [147]:
transfer_df.iloc[321, ]

id                                                       302788
transfers     [{'id': '2725786', 'from': {'clubID': '2350', ...
updatedAt                            2024-12-05T18:48:35.265309
youthClubs                   [Barriga Verde Futebol Clube (SC)]
Name: 322, dtype: object

In [89]:
transfer_df.loc[4972]

id                                                       303939
transfers     [{'id': '4806741', 'from': {'clubID': '1283', ...
updatedAt                            2024-12-05T20:32:40.276221
youthClubs                                                  NaN
Name: 4972, dtype: object

In [152]:
transfers = transfer_df[['transfers']]
formatted_transfers_df = pd.DataFrame(columns=["player_id", "team_name", "start_date", "end_date"])
for i, row in transfers.iterrows():
    row = row[0]
    for j, transfer in enumerate(row):
        new_row_dict = {}
        if transfer["to"]["clubName"] not in ["Retired", "Without Club", "Career break", "Unknown"]: 
            new_row_dict["player_id"] = int(players_df.iloc[i]["id"])
            new_row_dict["team_name"] = transfer["to"]["clubName"]
            if "date" not in transfer: new_row_dict["start_date"] = new_row_dict["end_date"] = np.nan
            else:
                new_row_dict["start_date"] = transfer["date"]
                if j>0: new_row_dict["end_date"] = row[j-1]["date"]
                else: new_row_dict["end_date"] = np.nan
            formatted_transfers_df = pd.concat([formatted_transfers_df, pd.DataFrame([new_row_dict])], ignore_index=True)
formatted_transfers_df

/var/folders/kw/kcr50hsd6zq1ldzcm_9h_m840000gn/T/ipykernel_12792/3633106890.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  row = row[0]

      player_id       team_name    start_date      end_date
0          8036          Alavés   Jul 1, 2002   Jul 1, 2005
1          8036       Barcelona   Jul 1, 1994   Jul 1, 2002
2          8036  Sporting Gijón   Jul 1, 1989   Jul 1, 1994
3          8036   Sporting Atl.   Jul 1, 1988   Jul 1, 1989
4        258051       Madureira  Dec 30, 1995   Jul 1, 1996
...         ...             ...           ...           ...
76525      4538    RKC Waalwijk   Aug 1, 2007  Jun 30, 2008
76526      4538      AZ Alkmaar  Jun 30, 2007   Aug 1, 2007
76527      4538       Excelsior   Jul 1, 2006  Jun 30, 2007
76528      4538      AZ Alkmaar   Jul 1, 2001   Jul 1, 2006
76529      4538     FC Volendam   Jul 1, 2000   Jul 1, 2001

[76530 rows x 4 columns]

In [149]:
formatted_transfers_df.loc[3523] #Mazinho

player_id           49131
team_name     Atlético-PR
start_date    Jan 1, 1989
end_date      Jan 1, 1990
Name: 3523, dtype: object

In [153]:
formatted_transfers_df[formatted_transfers_df.player_id==28003]

      player_id    team_name    start_date      end_date
48123     28003        Miami  Jul 15, 2023           NaN
48124     28003     Paris SG  Aug 10, 2021  Jul 15, 2023
48125     28003    Barcelona   Jul 1, 2005  Aug 10, 2021
48126     28003  Barcelona B   Mar 5, 2004   Jul 1, 2005
48127     28003  Barcelona C  Nov 28, 2003   Mar 5, 2004
48128     28003    Barça U19  Sep 13, 2003  Nov 28, 2003
48129     28003    Barça U16   Jul 1, 2002  Sep 13, 2003
48130     28003  Barça Youth   Jul 1, 2000   Jul 1, 2002

In [103]:
formatted_transfers_df[formatted_transfers_df.team_name=="Iraty"]

      player_id team_name    start_date     end_date
572       14948     Iraty  Jun 30, 2002  Jul 1, 2002
574       14948     Iraty   Jul 1, 2001  Jan 1, 2002
2496     122946     Iraty   May 1, 2008  Oct 1, 2008
2498     122946     Iraty   Dec 1, 2007  Jan 1, 2008
2500     122946     Iraty   Jul 1, 2006  Jun 1, 2007
43158     60561     Iraty   Jul 1, 2004  Aug 1, 2005
65917     56810     Iraty  Jun 30, 2008  Aug 1, 2008
65919     56810     Iraty   Oct 1, 2005  Jan 1, 2006

In [154]:
formatted_transfers_df["team_name"].value_counts()

team_name
Juventus       943
Inter          915
AS Roma        679
Benfica        645
FC Porto       624
              ...
Sestao           1
Aurrera          1
Mensajero        1
Liberia Mía      1
De Dijk          1
Name: count, Length: 7218, dtype: int64

In [155]:
formatted_transfers_df["team_name"] = formatted_transfers_df["team_name"].replace("Milan", "AC Milan")

In [156]:
formatted_transfers_cleaned_ids = formatted_transfers_df.copy()
counts = formatted_transfers_df["team_name"].value_counts().rank(method="first", ascending=False).astype(int)
formatted_transfers_cleaned_ids["team_name"] = formatted_transfers_cleaned_ids["team_name"].map(counts)
formatted_transfers_cleaned_ids.rename(columns={'team_name': 'team_id'}, inplace=True)
formatted_transfers_cleaned_ids

      player_id  team_id    start_date      end_date
0          8036      153   Jul 1, 2002   Jul 1, 2005
1          8036       18   Jul 1, 1994   Jul 1, 2002
2          8036      292   Jul 1, 1989   Jul 1, 1994
3          8036     2596   Jul 1, 1988   Jul 1, 1989
4        258051      524  Dec 30, 1995   Jul 1, 1996
...         ...      ...           ...           ...
76525      4538      198   Aug 1, 2007  Jun 30, 2008
76526      4538       78  Jun 30, 2007   Aug 1, 2007
76527      4538      344   Jul 1, 2006  Jun 30, 2007
76528      4538       78   Jul 1, 2001   Jul 1, 2006
76529      4538      509   Jul 1, 2000   Jul 1, 2001

[76530 rows x 4 columns]

In [157]:
formatted_transfers_cleaned_ids["start_date"] = pd.to_datetime(formatted_transfers_cleaned_ids["start_date"]).dt.strftime('%m/%d/%Y')
formatted_transfers_cleaned_ids["end_date"] = pd.to_datetime(formatted_transfers_cleaned_ids["end_date"]).dt.strftime('%m/%d/%Y')

In [158]:
formatted_transfers_cleaned_ids

      player_id  team_id  start_date    end_date
0          8036      153  07/01/2002  07/01/2005
1          8036       18  07/01/1994  07/01/2002
2          8036      292  07/01/1989  07/01/1994
3          8036     2596  07/01/1988  07/01/1989
4        258051      524  12/30/1995  07/01/1996
...         ...      ...         ...         ...
76525      4538      198  08/01/2007  06/30/2008
76526      4538       78  06/30/2007  08/01/2007
76527      4538      344  07/01/2006  06/30/2007
76528      4538       78  07/01/2001  07/01/2006
76529      4538      509  07/01/2000  07/01/2001

[76530 rows x 4 columns]

In [179]:
formatted_transfers_cleaned_ids.to_csv('players_and_teams_large.csv', index=True, index_label="id")

In [160]:
counts = formatted_transfers_df["team_name"].value_counts().rank(method="first", ascending=False).astype(int)
counts

team_name
Juventus          1
AC Milan          2
Inter             3
AS Roma           4
Benfica           5
               ...
Sestao         7213
Aurrera        7214
Mensajero      7215
Liberia Mía    7216
De Dijk        7217
Name: count, Length: 7217, dtype: int64

In [164]:
counts[:20]

team_name
Juventus            1
AC Milan            2
Inter               3
AS Roma             4
Benfica             5
FC Porto            6
Chelsea             7
Man Utd             8
Napoli              9
Lazio              10
Liverpool          11
Arsenal            12
Marseille          13
Monaco             14
Paris SG           15
Man City           16
Real Madrid        17
Barcelona          18
Ajax               19
Atlético Madrid    20
Name: count, dtype: int64

In [165]:
teams_df = pd.DataFrame({
    "id": counts.values,
    "team_name": counts.index
}).sort_values(by="id").reset_index(drop=True)
teams_df.to_csv('teams_large.csv', index=False)

In [166]:
teams_df

        id    team_name
0        1     Juventus
1        2     AC Milan
2        3        Inter
3        4      AS Roma
4        5      Benfica
...    ...          ...
7212  7213       Sestao
7213  7214      Aurrera
7214  7215    Mensajero
7215  7216  Liberia Mía
7216  7217      De Dijk

[7217 rows x 2 columns]

In [167]:
formatted_transfers_df[formatted_transfers_df["team_name"]=="AC Milan"]

      player_id team_name    start_date      end_date
197      237723  AC Milan  Jul 30, 1963   Jul 1, 1967
639        5937  AC Milan   Jun 9, 2003   Jul 1, 2008
1206       5800  AC Milan  Jun 30, 2002   Jul 1, 2010
1208       5800  AC Milan  Jun 30, 2000   Sep 1, 2001
1210       5800  AC Milan   Jul 1, 1999   Jul 2, 1999
...         ...       ...           ...           ...
75931    145526  AC Milan  Jun 30, 1972   Jul 1, 1972
75932    145526  AC Milan   Jul 1, 1971  Jun 30, 1972
76067      6794  AC Milan   Jul 1, 2001   Aug 1, 2001
76099     23194  AC Milan   Jul 1, 1997   Jul 1, 1998
76200       916  AC Milan   Jul 1, 1997   Jul 1, 1999

[927 rows x 4 columns]

In [168]:
formatted_transfers_df[formatted_transfers_df["player_id"]==8198]

      player_id        team_name    start_date      end_date
61579      8198         Al-Nassr   Jan 1, 2023           NaN
61580      8198          Man Utd  Aug 31, 2021  Nov 22, 2022
61581      8198         Juventus  Jul 10, 2018  Aug 31, 2021
61582      8198      Real Madrid   Jul 6, 2009  Jul 10, 2018
61583      8198          Man Utd  Aug 12, 2003   Jul 6, 2009
61584      8198      Sporting CP   Jul 1, 2002  Aug 12, 2003
61585      8198     Sporting U19   Jul 1, 2000   Jul 1, 2002
61586      8198     Sporting U17   Jul 1, 1998   Jul 1, 2000
61587      8198  Sporting Sub-15   Jul 1, 1997   Jul 1, 1998
61588      8198     Nacional U15   Jul 1, 1996   Jul 1, 1997
61589      8198    Nacional Yth.   Jul 1, 1995   Jul 1, 1996

In [169]:
players_df[players_df['id'].isin(players_df['id'][players_df['id'].duplicated()])]

Empty DataFrame
Columns: [id, player_name]
Index: []

In [188]:
from datetime import datetime, timedelta
threshold_date = datetime.now() - timedelta(days=15*365)
for index, row in formatted_transfers_cleaned_ids.iterrows():
    if pd.isna(row['end_date']) and pd.to_datetime(row['start_date'], format='%m/%d/%Y')  <= threshold_date:
        print(f"Row {index} for player {row["player_id"]} -- {players_df[players_df.id==row["player_id"]].player_name.values[0]} -- {row['start_date']}")

Row 1068 for player 43002 -- Danrlei -- 08/01/2007
Row 1284 for player 216040 -- Djair -- 01/01/2006
Row 4271 for player 52901 -- Ricardinho (1976) -- 01/01/2008
Row 7532 for player 81569 -- Bjorn Andersson -- 01/01/1982
Row 11559 for player 148589 -- Mattia Dal Bello -- 07/01/2004
Row 11834 for player 308709 -- Julio Cesar Benitez -- 08/01/1961
Row 12441 for player 215414 -- Ze Beto -- 06/30/1980
Row 19949 for player 130987 -- Ludo Coeck -- 07/01/1984
Row 22468 for player 187025 -- Inge Danielsson -- 07/01/1976
Row 22652 for player 687038 -- Duncan Davidson -- 07/01/1984
Row 22713 for player 4245 -- Jimmy Davis -- 07/01/2003
Row 26286 for player 2995 -- Robert Enke -- 07/01/2004
Row 27396 for player 13219 -- Miklos Feher -- 07/01/2002
Row 28499 for player 3889 -- Marc-Vivien Foe -- 07/01/2002
Row 32440 for player 1015259 -- Deiniol Graham -- 07/01/2004
Row 33387 for player 244589 -- Bryn Gunn -- 12/01/1992
Row 33917 for player 85568 -- Allan Hansen -- 07/01/1988
Row 35105 for player 17345 -- Danny Hoekman -- 07/01/1997
Row 38214 for player 108974 -- Edmund Kaczor -- 07/01/1983
Row 38277 for player 368643 -- Bosko Kajganic -- 11/21/1977
Row 38661 for player 13392 -- Chris Kanu -- 01/01/2007
Row 39475 for player 187641 -- Barend Kist -- 07/01/1974
Row 42523 for player 222901 -- Ivor Linton -- 12/01/1983
Row 43457 for player 218106 -- Claude Lowitz -- 07/01/1991
Row 43470 for player 94076 -- Peter Lubeke -- 07/01/1980
Row 45218 for player 14106 -- Joao Manuel -- 07/01/2004
Row 45981 for player 156976 -- Lilian Martin -- 07/01/2002
Row 48413 for player 137456 -- Oscar Miguez -- 01/01/1961
Row 49183 for player 582155 -- Oscar Molina -- 07/01/1996
Row 49368 for player 538207 -- Nestor Montelongo -- 07/01/1986
Row 50397 for player 58358 -- Thomas Muller -- 07/01/2009
Row 50832 for player 467957 -- Michel N'Gom -- 07/01/1984
Row 51321 for player 253811 -- David Needham -- 07/01/1982
Row 51349 for player 601833 -- Franco Negri -- 07/31/1973
Row 55519 for player 245351 -- Manuel Pazos -- 07/01/1962
Row 61501 for player 153946 -- Piet Romeijn -- 07/01/1973
Row 64466 for player 85495 -- Michael Schroder -- 07/01/1996
Row 70822 for player 536724 -- Alfonso Troisi -- 07/01/1981
Row 70840 for player 482288 -- Victor Trossero -- 07/01/1982
Row 73818 for player 176734 -- Steve Walford -- 07/01/1983
Row 74166 for player 95073 -- Jurgen Wegmann -- 07/01/1996

In [174]:
formatted_transfers_cleaned_ids.iloc[1068,]

player_id          43002
team_id             1141
start_date    08/01/2007
end_date             NaN
Name: 1068, dtype: object

In [177]:
nan_dates = formatted_transfers_cleaned_ids[formatted_transfers_cleaned_ids["start_date"].isna() & formatted_transfers_cleaned_ids["end_date"].isna()]
nan_dates

      player_id  team_id start_date end_date
1290     216040       84        NaN      NaN
1291     216040     1911        NaN      NaN
1292     216040      524        NaN      NaN
1293     216040      621        NaN      NaN
1294     216040       50        NaN      NaN
1295     216040       51        NaN      NaN
1296     216040       42        NaN      NaN
1297     216040       94        NaN      NaN
1298     216040       10        NaN      NaN
1299     216040      134        NaN      NaN
1300     216040      928        NaN      NaN
1301     216040       40        NaN      NaN
8283      54574     1318        NaN      NaN
12381    292923        4        NaN      NaN
12382    292923        1        NaN      NaN
15618      3802      184        NaN      NaN
15883     12808     3630        NaN      NaN
16148    226414        3        NaN      NaN
17030     56620     3312        NaN      NaN
26340    253990      317        NaN      NaN
26341    253990      772        NaN      NaN
26342    253990      337        NaN      NaN
26343    253990      910        NaN      NaN
36418      6164      276        NaN      NaN
44948    308279     3344        NaN      NaN
47265    170381        8        NaN      NaN
47266    170381      567        NaN      NaN
49814    510184      573        NaN      NaN

In [178]:
formatted_transfers_cleaned_ids = formatted_transfers_cleaned_ids[~(formatted_transfers_cleaned_ids["start_date"].isna() & formatted_transfers_cleaned_ids["end_date"].isna())]
nan_dates = formatted_transfers_cleaned_ids[formatted_transfers_cleaned_ids["start_date"].isna() & formatted_transfers_cleaned_ids["end_date"].isna()]
nan_dates

Empty DataFrame
Columns: [player_id, team_id, start_date, end_date]
Index: []

In [187]:
players_df[players_df.id==8036].player_name.values[0]

'Abelardo'