In [3]:
import requests, csv, numpy as np, os, json
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime, timedelta

In [6]:
with open("players_large.json") as f:
    data = json.loads(f.read())

In [5]:
import unicodedata

def are_equal_ignore_accents(str1, str2):
    # Normalize the strings to remove accents
    def normalize_and_map(s):
        normalized = unicodedata.normalize('NFKD', s)
        mapped = normalized.replace("ø", "o").replace("æ", "ae").replace("Ø", "O")
        ascii_str = mapped.encode('ascii', 'ignore').decode('utf-8')
        return ascii_str
    
    return normalize_and_map(str1) == normalize_and_map(str2)
are_equal_ignore_accents("æ", "ae")

True

In [6]:
def get_id_for_player(player_name, id_response_json):
    player_id = ""
    if "results" in id_response_json and id_response_json["results"]:
        for res in id_response_json['results']:
            if are_equal_ignore_accents(player_name, res["name"]):
                player_id=res["id"]
                break
    return player_id

In [35]:
id_jsons = []
num_players_added=0
for player in data["players"]:
    player_name = player["n"]
    id_response_json = requests.get(f"http://localhost:8000/players/search/{player_name}").json()
    if "detail" in id_response_json: break
    id_jsons.append(id_response_json)
    num_players_added+=1
    if num_players_added%20==0: 
        print("Number of players added: ", num_players_added)
        print("Most recent player: ", player_name)
        print()
    #print(player_name, get_id_for_player(player_name, id_response_json))
with open("player_id.json", "w") as f:
    json.dump(id_jsons, f)

Number of players added:  20
Most recent player:  Alemao

Number of players added:  40
Most recent player:  Anderson

Number of players added:  60
Most recent player:  Bebe

Number of players added:  80
Most recent player:  Branco

Number of players added:  100
Most recent player:  Casagrande

Number of players added:  120
Most recent player:  Chumi

Number of players added:  140
Most recent player:  Custodio

Number of players added:  160
Most recent player:  Dentinho

Number of players added:  180
Most recent player:  Doni

Number of players added:  200
Most recent player:  Edinho

Number of players added:  220
Most recent player:  Elzo

Number of players added:  240
Most recent player:  Fabinho

Number of players added:  260
Most recent player:  Fontana

Number of players added:  280
Most recent player:  Gilberto

Number of players added:  300
Most recent player:  Hugo

Number of players added:  320
Most recent player:  Jamir

Number of players added:  340
Most recent player:  Joseito

Number of players added:  360
Most recent player:  Kelvin

Number of players added:  380
Most recent player:  Leonardo

Number of players added:  400
Most recent player:  Macale

Number of players added:  420
Most recent player:  Marcinho

Number of players added:  440
Most recent player:  Michu

Number of players added:  460
Most recent player:  Narciso

Number of players added:  480
Most recent player:  Oscar

Number of players added:  500
Most recent player:  Pedro

Number of players added:  520
Most recent player:  Rafael

Number of players added:  540
Most recent player:  Richarlison

Number of players added:  560
Most recent player:  Romulo

Number of players added:  580
Most recent player:  Sequeira

Number of players added:  600
Most recent player:  Tcheco

Number of players added:  620
Most recent player:  Vampeta

Number of players added:  640
Most recent player:  Wendell

Number of players added:  660
Most recent player:  Alessandro Abbondanza

Number of players added:  680
Most recent player:  Fabrice Abriel

Number of players added:  700
Most recent player:  Saidi Oluseyi Adeshokan

Number of players added:  720
Most recent player:  Luigi De Agostini

Number of players added:  740
Most recent player:  Ola Aina

Number of players added:  760
Most recent player:  Jordi Alba

Number of players added:  780
Most recent player:  Dmitriy Alenichev

Number of players added:  800
Most recent player:  Tadeo Allende

Number of players added:  820
Most recent player:  Ivan Alonso

Number of players added:  840
Most recent player:  Dani Alves

Number of players added:  860
Most recent player:  Sammy Ameobi

Number of players added:  880
Most recent player:  Davide Ancelotti

Number of players added:  900
Most recent player:  Darren Anderton

Number of players added:  920
Most recent player:  Marcos Angeleri

Number of players added:  940
Most recent player:  Milos Antic

Number of players added:  960
Most recent player:  Stephen Appiah

Number of players added:  980
Most recent player:  Hatem Ben Arfa

Number of players added:  1000
Most recent player:  Jean-Luc Arribart

Number of players added:  1020
Most recent player:  Iago Aspas

Number of players added:  1040
Most recent player:  Pierre-Emerick Aubameyang

Number of players added:  1060
Most recent player:  Leandro Avila

Number of players added:  1080
Most recent player:  Abdoulaye Ba

Number of players added:  1100
Most recent player:  Dino Baggio

Number of players added:  1120
Most recent player:  Axel Bakayoko

Number of players added:  1140
Most recent player:  Hanno Balitsch

Number of players added:  1160
Most recent player:  Patrick Bamford

Number of players added:  1180
Most recent player:  Danilo Barbosa

Number of players added:  1200
Most recent player:  Marco Baroni

Number of players added:  1220
Most recent player:  Rahmane Barry

Number of players added:  1240
Most recent player:  Dusan Basta

Number of players added:  1260
Most recent player:  Hans Bauer

Number of players added:  1280
Most recent player:  Milan Berck Beelenkamp

Number of players added:  1300
Most recent player:  Juliano Belletti

Number of players added:  1320
Most recent player:  Ali Benarbia

Number of players added:  1340
Most recent player:  Fabian Benko

Number of players added:  1360
Most recent player:  Giacomo Beretta

Number of players added:  1380
Most recent player:  Valmir Berisha

Number of players added:  1400
Most recent player:  Eric Bertrand

Number of players added:  1420
Most recent player:  Jonathan Biabiany

Number of players added:  1440
Most recent player:  Valdir Bigode

Number of players added:  1460
Most recent player:  Yann Bisseck

Number of players added:  1480
Most recent player:  Domingo Blanco

Number of players added:  1500
Most recent player:  Emmanuel Boateng

Number of players added:  1520
Most recent player:  Frank de Boer

Number of players added:  1540
Most recent player:  Bob Bolder

Number of players added:  1560
Most recent player:  Leandro Bonfim

Number of players added:  1580
Most recent player:  Filipe Bordon

Number of players added:  1600
Most recent player:  Mark Bosnich

Number of players added:  1620
Most recent player:  Hector De Bourgoing

Number of players added:  1640
Most recent player:  Abel Braga

Number of players added:  1660
Most recent player:  Alan Brazil

Number of players added:  1680
Most recent player:  Sergio Brio

Number of players added:  1700
Most recent player:  Hannes Van Der Bruggen

Number of players added:  1720
Most recent player:  Guido Budziak

Number of players added:  1740
Most recent player:  Tarcisio Burgnich

Number of players added:  1760
Most recent player:  Nahuel Bustos

Number of players added:  1780
Most recent player:  Antonio Cabrini

Number of players added:  1800
Most recent player:  Mattia Caldara

Number of players added:  1820
Most recent player:  Drissa Camara

Number of players added:  1840
Most recent player:  Salvatore Campilongo

Number of players added:  1860
Most recent player:  Santiago Canizares

Number of players added:  1880
Most recent player:  Giovanni Capuano

Number of players added:  1900
Most recent player:  Oscar Cardozo

Number of players added:  1920
Most recent player:  Pietro Carmignani

Number of players added:  1940
Most recent player:  Guido Carrillo

Number of players added:  1960
Most recent player:  Tiago Casasola

Number of players added:  1980
Most recent player:  Marco Cassetti

Number of players added:  2000
Most recent player:  Alex Castro

Number of players added:  2020
Most recent player:  Edinson Cavani

Number of players added:  2040
Most recent player:  Giovani Lo Celso

Number of players added:  2060
Most recent player:  Roberto Cevoli

Number of players added:  2080
Most recent player:  Jack Charlton

Number of players added:  2100
Most recent player:  Leandro Chichizola

Number of players added:  2120
Most recent player:  Philippe Christanval

Number of players added:  2140
Most recent player:  Dennis Cirkin

Number of players added:  2160
Most recent player:  Nestor Clausen

Number of players added:  2180
Most recent player:  Phillip Cocu

Number of players added:  2200
Most recent player:  Facundo Colidio

Number of players added:  2220
Most recent player:  Nestor Combin

Number of players added:  2240
Most recent player:  Nikita Contini

Number of players added:  2260
Most recent player:  Karl Corneliusson

Number of players added:  2280
Most recent player:  Diego Costa

Number of players added:  2300
Most recent player:  Tony Coton

Number of players added:  2320
Most recent player:  Hernan Crespo

Number of players added:  2340
Most recent player:  Andre Cruz

Number of players added:  2360
Most recent player:  Victor Cuesta

Number of players added:  2380
Most recent player:  Zoltan Czibor

Number of players added:  2400
Most recent player:  Johan Dahlin

Number of players added:  2420
Most recent player:  Luke Daniels

Number of players added:  2440
Most recent player:  Duncan Davidson

Number of players added:  2460
Most recent player:  Jordy Deckers

Number of players added:  2480
Most recent player:  Hannes Delcroix

Number of players added:  2500
Most recent player:  Andrey Demchenko

Number of players added:  2520
Most recent player:  Dorian Dervite

Number of players added:  2540
Most recent player:  Mbaye Diagne

In [40]:
num_players_added = 2549

In [43]:
id_jsons = []
restart = False
for player in data["players"]:
    player_name = player["n"]
    if player_name=="Pedro Emanuel": restart=True
    if restart:
        id_response_json = requests.get(f"http://localhost:8000/players/search/{player_name}").json()
        if "detail" in id_response_json: break
        id_jsons.append(id_response_json)
        num_players_added+=1
        if num_players_added%20==0: 
            print("Number of players added: ", num_players_added)
            print("Most recent player: ", player_name)
            print()
    #print(player_name, get_id_for_player(player_name, id_response_json))
with open("player_id.json") as f:
    curJson = json.load(f)
curJson.append(id_jsons)
with open("player_id.json", "w") as f:
    json.dump(curJson, f)

Number of players added:  2820
Most recent player:  Joaquin Enguix

Number of players added:  2840
Most recent player:  Harvey Esajas

Number of players added:  2860
Most recent player:  Marcelo Estigarribia

Number of players added:  2880
Most recent player:  Ernest Faber

Number of players added:  2900
Most recent player:  Marcel De Falco

Number of players added:  2920
Most recent player:  Jacques Faty

Number of players added:  2940
Most recent player:  Nabil Fekir

Number of players added:  2960
Most recent player:  Manuel Fernandes

Number of players added:  2980
Most recent player:  Luis Fernandez

Number of players added:  3000
Most recent player:  Jean-Marc Ferratge

Number of players added:  3020
Most recent player:  Luis Figo

Number of players added:  3040
Most recent player:  Mathieu Flamini

Number of players added:  3060
Most recent player:  Wesley Fofana

Number of players added:  3080
Most recent player:  Alfio Fontana

Number of players added:  3100
Most recent player:  Bill Foulkes

Number of players added:  3120
Most recent player:  Luis Frangao

Number of players added:  3140
Most recent player:  Brad Friedel

Number of players added:  3160
Most recent player:  Toni Fuidias

Number of players added:  3180
Most recent player:  Jentl Gaethofs

Number of players added:  3200
Most recent player:  Sebastian Gallegos

Number of players added:  3220
Most recent player:  Jesus Gamez

Number of players added:  3240
Most recent player:  Jose Luis Garcia

Number of players added:  3260
Most recent player:  Oscar Garre

Number of players added:  3280
Most recent player:  Gianluca Gaudino

Number of players added:  3300
Most recent player:  Claude Gentile

Number of players added:  3320
Most recent player:  Alvaro Gestido

Number of players added:  3340
Most recent player:  Giorgio Gianola

Number of players added:  3360
Most recent player:  Guillaume Gillet

Number of players added:  3380
Most recent player:  Ludovic Giuly

Number of players added:  3400
Most recent player:  Berkant Goktan

Number of players added:  3420
Most recent player:  Cesar Gomez

Number of players added:  3440
Most recent player:  Fran Gonzalez

Number of players added:  3460
Most recent player:  Dean Gordon

Number of players added:  3480
Most recent player:  Tiago Gouveia

Number of players added:  3500
Most recent player:  Lee Grant

Number of players added:  3520
Most recent player:  Michele Di Gregorio

Number of players added:  3540
Most recent player:  Jesper Gronkjaer

Number of players added:  3560
Most recent player:  Tchiressoua Guel

Number of players added:  3580
Most recent player:  Pablo Guinazu

Number of players added:  3600
Most recent player:  Luis Gustavo

Number of players added:  3620
Most recent player:  Arie Haan

Number of players added:  3640
Most recent player:  Marcel Halstenberg

Number of players added:  3660
Most recent player:  Karl Aage Hansen

Number of players added:  3680
Most recent player:  Lukman Haruna

Number of players added:  3700
Most recent player:  Jorg Heinrich

Number of players added:  3720
Most recent player:  Benjamin Henrichs

Number of players added:  3740
Most recent player:  Abel Hernandez

Number of players added:  3760
Most recent player:  Antonio Hidalgo

Number of players added:  3780
Most recent player:  Thomas Hitzlsperger

Number of players added:  3800
Most recent player:  Jes Hogh

Number of players added:  3820
Most recent player:  Udo Horsmann

Number of players added:  3840
Most recent player:  Callum Hudson-Odoi

Number of players added:  3860
Most recent player:  Robert Huth

Number of players added:  3880
Most recent player:  Andrea Icardi

Number of players added:  3900
Most recent player:  Dejan Iliev

Number of players added:  3920
Most recent player:  Andres Iniesta

Number of players added:  3940
Most recent player:  Gustav Isaksen

Number of players added:  3960
Most recent player:  Alex Iwobi

Number of players added:  3980
Most recent player:  Saidy Janko

Number of players added:  4000
Most recent player:  Jiri Jarosik

Number of players added:  4020
Most recent player:  Drazan Jerkovic

Number of players added:  4040
Most recent player:  Kyle John

Number of players added:  4060
Most recent player:  Curtis Jones

Number of players added:  4080
Most recent player:  Rui Jorge

Number of players added:  4100
Most recent player:  Nicolas Jullich

Number of players added:  4120
Most recent player:  Younes Kaboul

Number of players added:  4140
Most recent player:  Bonaventure Kalou

Number of players added:  4160
Most recent player:  Harry Kane

Number of players added:  4180
Most recent player:  Ayman Kari

Number of players added:  4200
Most recent player:  Sebastian Kehl

Number of players added:  4220
Most recent player:  Willy van de Kerkhof

Number of players added:  4240
Most recent player:  Joshua Kimmich

Number of players added:  4260
Most recent player:  Simon Kjaer

Number of players added:  4280
Most recent player:  Dario Knezevic

Number of players added:  4300
Most recent player:  Philipp Kohn

Number of players added:  4320
Most recent player:  Teun Koopmeiners

Number of players added:  4340
Most recent player:  Mateo Kovacic

Number of players added:  4360
Most recent player:  Bojan Krkic

Number of players added:  4380
Most recent player:  Samuel Kuffour

Number of players added:  4400
Most recent player:  Heinz Kwiatkowski

Number of players added:  4420
Most recent player:  Bernard Lama

Number of players added:  4440
Most recent player:  Jeffrey de Lange

Number of players added:  4460
Most recent player:  Sebastian Larsson

Number of players added:  4480
Most recent player:  Denis Law

Number of players added:  4500
Most recent player:  Ryan Ledson

Number of players added:  4520
Most recent player:  Jeffrey Leiwakabessy

Number of players added:  4540
Most recent player:  Matias Lequi

Number of players added:  4560
Most recent player:  Alberto Libertazzi

Number of players added:  4580
Most recent player:  Andreas Linde

Number of players added:  4600
Most recent player:  Pol Lirola

Number of players added:  4620
Most recent player:  Stanislav Lobotka

Number of players added:  4640
Most recent player:  Moreno Longo

Number of players added:  4660
Most recent player:  Diego Lopez

Number of players added:  4680
Most recent player:  Simone Loria

Number of players added:  4700
Most recent player:  Quique de Lucas

Number of players added:  4720
Most recent player:  Andre Luiz

Number of players added:  4740
Most recent player:  Anthony Lurling

Number of players added:  4760
Most recent player:  Ian Maatsen

Number of players added:  4780
Most recent player:  Pablo Maffeo

Number of players added:  4800
Most recent player:  Lukas Mai

Number of players added:  4820
Most recent player:  Saul Malatrasi

Number of players added:  4840
Most recent player:  Gianluca Mancini

Number of players added:  4860
Most recent player:  Michael Manniche

Number of players added:  4880
Most recent player:  Dirk Marcellis

Number of players added:  4900
Most recent player:  Pablo Mari

Number of players added:  4920
Most recent player:  Stefan Markolf

Number of players added:  4940
Most recent player:  Hubert Martin

Number of players added:  4960
Most recent player:  Pity Martinez

Number of players added:  4980
Most recent player:  Lino Marzorati

Number of players added:  5000
Most recent player:  Vicente de la Mata

Number of players added:  5020
Most recent player:  Enzo Matteucci

Number of players added:  5040
Most recent player:  David May

Number of players added:  5060
Most recent player:  Luke Mbete

Number of players added:  5080
Most recent player:  Gavin McGowan

Number of players added:  5100
Most recent player:  Tyrone Mears

Number of players added:  5120
Most recent player:  Abdoulaye Meite

Number of players added:  5140
Most recent player:  Pedro Mendes

Number of players added:  5160
Most recent player:  Richard Oteng Mensah

Number of players added:  5180
Most recent player:  Christophe Metais

Number of players added:  5200
Most recent player:  Edouard Michut

Number of players added:  5220
Most recent player:  Arkadiusz Milik

Number of players added:  5240
Most recent player:  Yerry Mina

Number of players added:  5260
Most recent player:  Filippo Missori

Number of players added:  5280
Most recent player:  Youness Mokhtar

Number of players added:  5300
Most recent player:  Samuel Monin

Number of players added:  5320
Most recent player:  Walter Montillo

Number of players added:  5340
Most recent player:  Enrique Moran

Number of players added:  5360
Most recent player:  Juanfran Moreno

Number of players added:  5380
Most recent player:  Luis Boa Morte

Number of players added:  5400
Most recent player:  Louis Mouquet

Number of players added:  5420
Most recent player:  Nordi Mukiele

Number of players added:  5440
Most recent player:  Jehad Muntasser

Number of players added:  5460
Most recent player:  Shkodran Mustafi

Number of players added:  5480
Most recent player:  Michele De Nadai

Number of players added:  5500
Most recent player:  Jose Nasazzi

Number of players added:  5520
Most recent player:  Badou Ndiaye

Number of players added:  5540
Most recent player:  Reiss Nelson

Number of players added:  5560
Most recent player:  Thiago Neves

Number of players added:  5580
Most recent player:  Bruno Nicole

Number of players added:  5600
Most recent player:  Roger Nilsen

Number of players added:  5620
Most recent player:  Shabani Nonda

Number of players added:  5640
Most recent player:  Alexander Nubel

Number of players added:  5660
Most recent player:  Ronnie O'Brien

Number of players added:  5680
Most recent player:  Massimo Oddo

Number of players added:  5700
Most recent player:  Noah Okafor

Number of players added:  5720
Most recent player:  Nelson Oliveira

Number of players added:  5740
Most recent player:  Roque Olsen

Number of players added:  5760
Most recent player:  Andre Ooijer

Number of players added:  5780
Most recent player:  Brendan Ormsby

Number of players added:  5800
Most recent player:  Leo Ostigard

Number of players added:  5820
Most recent player:  Patrick Owomoyela

Number of players added:  5840
Most recent player:  Goncalo Paciencia

Number of players added:  5860
Most recent player:  Exequiel Palacios

Number of players added:  5880
Most recent player:  Noe Pamarot

Number of players added:  5900
Most recent player:  Lucas Paqueta

Number of players added:  5920
Most recent player:  Marco Parolo

Number of players added:  5940
Most recent player:  Jose Pastoriza

Number of players added:  5960
Most recent player:  Strahinja Pavlovic

Number of players added:  5980
Most recent player:  Joao Pedro

Number of players added:  6000
Most recent player:  Facundo Pellistri

Number of players added:  6020
Most recent player:  Nili Perdomo

Number of players added:  6040
Most recent player:  Marinho Peres

Number of players added:  6060
Most recent player:  Stipe Perica

Number of players added:  6080
Most recent player:  Matteo Pessina

Number of players added:  6100
Most recent player:  Stefan Pettersson

Number of players added:  6120
Most recent player:  Michele Piccolo

Number of players added:  6140
Most recent player:  Andrea Pinamonti

Number of players added:  6160
Most recent player:  Silvio Piola

Number of players added:  6180
Most recent player:  Fabien Piveteau

Number of players added:  6200
Most recent player:  Stipe Pletikosa

Number of players added:  6220
Most recent player:  Jamie Pollock

Number of players added:  6240
Most recent player:  Rodrigo Possebon

Number of players added:  6260
Most recent player:  Cesare Prandelli

Number of players added:  6280
Most recent player:  Robert Prosinecki

Number of players added:  6300
Most recent player:  Yacine Qasmi

Number of players added:  6320
Most recent player:  Luigi Radice

Number of players added:  6340
Most recent player:  Adil Rami

Number of players added:  6360
Most recent player:  David Rangel

Number of players added:  6380
Most recent player:  Oliver Reck

Number of players added:  6400
Most recent player:  Ludovit Reis

Number of players added:  6420
Most recent player:  Bryan Reynolds

Number of players added:  6440
Most recent player:  Rohan Ricketts

Number of players added:  6460
Most recent player:  Kevin Rimane

Number of players added:  6480
Most recent player:  Martin Rivas

Number of players added:  6500
Most recent player:  Laurent Robert

Number of players added:  6520
Most recent player:  Tommaso Rocchi

Number of players added:  6540
Most recent player:  Damian Rodriguez

Number of players added:  6560
Most recent player:  Marcus Rohden

Number of players added:  6580
Most recent player:  Julio Cesar Romero

Number of players added:  6600
Most recent player:  Mario Rosas

Number of players added:  6620
Most recent player:  Sebastiano Rossi

Number of players added:  6640
Most recent player:  Neil Ruddock

Number of players added:  6660
Most recent player:  Michael Rummenigge

Number of players added:  6680
Most recent player:  Abdelsattar Sabry

Number of players added:  6700
Most recent player:  Ismael Saibari

Number of players added:  6720
Most recent player:  Jose Salomon

Number of players added:  6740
Most recent player:  Carlos Sanchez

Number of players added:  6760
Most recent player:  Philippe Sandler

Number of players added:  6780
Most recent player:  Sergio Santarini

Number of players added:  6800
Most recent player:  Manuel dos Santos

Number of players added:  6820
Most recent player:  Amadou Sarr

Number of players added:  6840
Most recent player:  Franck Sauzee

Number of players added:  6860
Most recent player:  Stijn Schaars

Number of players added:  6880
Most recent player:  Kasper Schmeichel

Number of players added:  6900
Most recent player:  Sam Schreck

Number of players added:  6920
Most recent player:  Riccardo Scimeca

Number of players added:  6940
Most recent player:  Burkhard Segler

Number of players added:  6960
Most recent player:  Marcos Senesi

Number of players added:  6980
Most recent player:  Ricardo Serna

Number of players added:  7000
Most recent player:  Paul Shaw

Number of players added:  7020
Most recent player:  Fredrik Stoor Siekkinen

Number of players added:  7040
Most recent player:  Geovani Silva

Number of players added:  7060
Most recent player:  Wendel Silva

Number of players added:  7080
Most recent player:  Antonio Simoes

Number of players added:  7100
Most recent player:  Wilfried Singo

Number of players added:  7120
Most recent player:  Zlatko Skoric

Number of players added:  7140
Most recent player:  Tommy Smith

Number of players added:  7160
Most recent player:  Santiago Solari

Number of players added:  7180
Most recent player:  Frederik Sorensen

Number of players added:  7200
Most recent player:  Hugo Sotelo

Number of players added:  7220
Most recent player:  David Speedie

Number of players added:  7240
Most recent player:  Benjamin Stambouli

Number of players added:  7260
Most recent player:  Marc-Andre ter Stegen

Number of players added:  7280
Most recent player:  Layton Stewart

Number of players added:  7300
Most recent player:  Pietro Strada

Number of players added:  7320
Most recent player:  David Suazo

Number of players added:  7340
Most recent player:  Wim Suurbier

Number of players added:  7360
Most recent player:  Tony Sylva

Number of players added:  7380
Most recent player:  Leonardo Talamonti

Number of players added:  7400
Most recent player:  Diego Tardelli

Number of players added:  7420
Most recent player:  Loum Tchaouna

Number of players added:  7440
Most recent player:  Jeroen Tesselaar

Number of players added:  7460
Most recent player:  Michael Thomas

Number of players added:  7480
Most recent player:  Dwight Tiendalli

Number of players added:  7500
Most recent player:  Jens Todt

Number of players added:  7520
Most recent player:  Luca Toni

Number of players added:  7540
Most recent player:  Moreno Torricelli

Number of players added:  7560
Most recent player:  Vicente Train

Number of players added:  7580
Most recent player:  Filippo Tripi

Number of players added:  7600
Most recent player:  Toni Turek

Number of players added:  7620
Most recent player:  Lesley Ugochukwu

Number of players added:  7640
Most recent player:  Takashi Usami

Number of players added:  7660
Most recent player:  Nuno Valente

Number of players added:  7680
Most recent player:  Paolo Vanoli

Number of players added:  7700
Most recent player:  Darius Vassell

Number of players added:  7720
Most recent player:  Toni Velamazan

Number of players added:  7740
Most recent player:  Dario Venitucci

Number of players added:  7760
Most recent player:  Marnick Vermijl

Number of players added:  7780
Most recent player:  Guglielmo Vicario

Number of players added:  7800
Most recent player:  Ferdi Vierklau

Number of players added:  7820
Most recent player:  Ivan Villar

Number of players added:  7840
Most recent player:  Radek Vitek

Number of players added:  7860
Most recent player:  Dennis Vogt

Number of players added:  7880
Most recent player:  Mario Vrancic

Number of players added:  7900
Most recent player:  Colin Waldron

Number of players added:  7920
Most recent player:  Majeed Waris

Number of players added:  7940
Most recent player:  Bernd Wehmeyer

Number of players added:  7960
Most recent player:  Axel Werner

Number of players added:  7980
Most recent player:  Gerard Wiekens

Number of players added:  8000
Most recent player:  Dylan Williams

Number of players added:  8020
Most recent player:  Gregory Wimbee

Number of players added:  8040
Most recent player:  Neil Wood

Number of players added:  8060
Most recent player:  Shaun Wright-Phillips

Number of players added:  8080
Most recent player:  Hassan Yebda

Number of players added:  8100
Most recent player:  Mario Zagallo

Number of players added:  8120
Most recent player:  Nicola Zanini

Number of players added:  8140
Most recent player:  Hector Zelada

Number of players added:  8160
Most recent player:  Marc Ziegler

Number of players added:  8180
Most recent player:  Rainer Zobel

In [44]:
num_players_added

8197

In [7]:
with open("players_large.json") as f: 
    players_json= json.load(f)["players"]
players_json

[{'n': 'Abelardo', 'c': 2, 't': [83], 'm': [2029], 's': [3140]},
 {'n': 'Acacio', 'c': 6, 'a': [26]},
 {'n': 'Adailton', 'c': 6, 't': [591], 'm': [523], 's': [5023]},
 {'n': 'Ademir', 'c': 6, 's': [3140], 'b': '06/01/1960'},
 {'n': 'Ademir', 'c': 6, 't': [652], 'b': '18/10/1951'},
 {'n': 'Ademir', 'c': 6, 'a': [26, 28], 'b': '08/11/1922'},
 {'n': 'Ado', 'c': 6, 'a': [24]},
 {'n': 'Adrian', 'c': 2, 't': [8], 'm': [118]},
 {'n': 'Adriano',
  'c': 6,
  't': [83],
  'a': [22, 26],
  'm': [5672],
  's': [28003, 3455, 3140],
  'b': '26/10/1984'},
 {'n': 'Adriano', 'c': 6, 't': [6789], 'b': '03/04/1982'},
 {'n': 'Adriano',
  'c': 6,
  't': [2930, 37],
  'a': [26],
  'm': [781],
  's': [3455, 3140],
  'b': '17/02/1982'},
 {'n': 'Adriano', 'c': 6, 't': [652], 'b': '03/01/1979'},
 {'n': 'Agostinho', 'c': 5, 't': [591]},
 {'n': 'Ailton', 'c': 6, 't': [605], 'b': '01/09/1968'},
 {'n': 'Ailton', 'c': 6, 't': [652], 'b': '20/10/1949'},
 {'n': 'Airton', 'c': 6, 't': [605], 's': [45320]},
 {'n': 'Alan', 'c': 6, 't': [652]},
 {'n': 'Alcides', 'c': 6, 't': [18, 605, 682]},
 {'n': 'Aldair', 'c': 6, 't': [37, 605], 'a': [24, 26], 's': [3140]},
 {'n': 'Alemao', 'c': 6, 't': [597, 7980], 'a': [26]},
 {'n': 'Alessandro', 'c': 6, 's': [3140]},
 {'n': 'Alex',
  'c': 6,
  't': [113, 18, 591, 682],
  'a': [22, 26],
  'm': [781, 523],
  's': [3455, 3139, 96341],
  'b': '17/06/1982'},
 {'n': 'Alex', 'c': 5, 't': [605], 's': [8198], 'b': '06/09/1979'},
 {'n': 'Alex', 'c': 6, 'a': [26], 's': [3140], 'b': '14/09/1977'},
 {'n': 'Alexis', 'c': 2, 'm': [1522]},
 {'n': 'Alfonso', 'c': 2, 't': [3468, 44, 83]},
 {'n': 'Alisson', 'c': 6, 't': [37, 8], 'a': [22, 26], 'm': [118]},
 {'n': 'Allan', 'c': 6, 't': [8], 'b': '03/03/1997'},
 {'n': 'Allan',
  'c': 6,
  't': [597],
  'a': [26],
  'm': [523, 1522],
  'b': '08/01/1991'},
 {'n': 'Aloisio', 'c': 6, 't': [652, 83]},
 {'n': 'Alonso', 'c': 2, 's': [28003]},
 {'n': 'Altair', 'c': 6, 'a': [24]},
 {'n': 'Amador', 'c': 2, 't': [3468, 83]},
 {'n': 'Amancio', 'c': 2, 't': [3468], 'a': [22, 25]},
 {'n': 'Amaral', 'c': 6, 't': [605], 'm': [523], 's': [3140, 5023]},
 {'n': 'Amarildo', 'c': 6, 't': [43], 'b': '02/10/1964'},
 {'n': 'Amarildo', 'c': 6, 't': [113, 37], 'a': [24], 'b': '29/07/1939'},
 {'n': 'Amauri', 'c': 12, 't': [597, 625], 's': [5023]},
 {'n': 'Amoreirinha', 'c': 5, 't': [605], 's': [8198]},
 {'n': 'Anderson',
  'c': 6,
  't': [14, 652],
  'a': [22, 26],
  'm': [4, 2029],
  's': [8198, 3140, 45320],
  'b': '13/04/1988'},
 {'n': 'Anderson', 'c': 6, 't': [605], 'b': '27/04/1980'},
 {'n': 'Andrade', 'c': 5, 't': [44], 'b': '30/03/1979'},
 {'n': 'Andrade', 'c': 6, 't': [37], 'b': '21/04/1957'},
 {'n': 'Andre', 'c': 5, 't': [652], 'a': [22]},
 {'n': 'Angelino', 'c': 2, 't': [34, 37, 682, 9], 'm': [5672], 's': [96341]},
 {'n': 'Angelo', 'c': 6, 't': [18], 's': [8198]},
 {'n': 'Antony', 'c': 6, 't': [14, 629], 's': [8198]},
 {'n': 'Antunes', 'c': 5, 't': [37], 's': [8198]},
 {'n': 'Athirson', 'c': 6, 't': [625], 'm': [523], 's': [3140, 3111]},
 {'n': 'Azumir', 'c': 6, 't': [652]},
 {'n': 'Babu', 'c': 6, 't': [37]},
 {'n': 'Baldocchi', 'c': 6, 'a': [24]},
 {'n': 'Baltazar', 'c': 6, 't': [652, 7980], 'a': [26]},
 {'n': 'Bandeirinha', 'c': 5, 't': [652], 'a': [22]},
 {'n': 'Barata', 'c': 6, 'm': [1522]},
 {'n': 'Barbosa', 'c': 6, 'a': [26]},
 {'n': 'Batista', 'c': 6, 't': [34], 'b': '04/03/1975'},
 {'n': 'Batista', 'c': 6, 't': [43], 'b': '08/03/1955'},
 {'n': 'Bauer', 'c': 6, 'a': [26]},
 {'n': 'Bebe', 't': [14, 605], 'm': [4]},
 {'n': 'Bebeto', 'c': 6, 'a': [24, 26], 's': [3140]},
 {'n': 'Bene', 'c': 6, 't': [652]},
 {'n': 'Bento', 'c': 6, 's': [8198]},
 {'n': 'Bernard', 'c': 6, 'm': [523]},
 {'n': 'Bernardo', 'c': 6, 't': [503]},
 {'n': 'Beto', 'c': 5, 't': [652], 's': [8198], 'b': '01/05/1982'},
 {'n': 'Beto', 'c': 6, 't': [605], 'b': '20/11/1976'},
 {'n': 'Beto', 'c': 5, 's': [8198], 'b': '03/05/1976'},
 {'n': 'Beto', 'c': 6, 't': [597], 'a': [26], 's': [3140], 'b': '07/01/1975'},
 {'n': 'Bigode', 'c': 6, 'a': [26]},
 {'n': 'Bill', 'c': 6, 's': [3140]},
 {'n': 'Bilro', 'c': 5, 'm': [781]},
 {'n': 'Bio', 'c': 6, 't': [83]},
 {'n': 'Boiadeiro', 'c': 6, 's': [3140]},
 {'n': 'Bolivar', 'c': 6, 't': [6789]},
 {'n': 'Bono', 'c': 26, 't': [7980]},
 {'n': 'Boquita', 'c': 6, 's': [3140]},
 {'n': 'Boschilia', 'c': 6, 't': [6789]},
 {'n': 'Bosingwa',
  'c': 5,
  't': [18, 652],
  'a': [22],
  'm': [781, 523],
  's': [8198, 96341]},
 {'n': 'Branco', 'c': 6, 't': [652], 'a': [24, 26], 's': [3140]},
 {'n': 'Brandao', 'c': 6, 't': [44]},
 {'n': 'Bremer', 'c': 6, 't': [625], 's': [45320]},
 {'n': 'Breno', 'c': 6, 't': [503], 'm': [2029], 's': [4360]},
 {'n': 'Brito', 'c': 6, 'a': [24]},
 {'n': 'Bruma', 'c': 5, 't': [34, 682], 's': [8198]},
 {'n': 'Bruno', 'c': 5, 't': [652], 'm': [781]},
 {'n': 'Burgui', 'c': 2, 't': [3468], 'm': [523]},
 {'n': 'Cadu', 'c': 5, 's': [8198]},
 {'n': 'Cafu',
  'c': 6,
  't': [113, 37],
  'a': [22, 24, 26],
  'm': [523],
  's': [3140]},
 {'n': 'Caio', 'c': 6, 't': [2930, 597]},
 {'n': 'Caju', 'c': 6, 't': [652]},
 {'n': 'Calado', 'c': 5, 't': [605], 'm': [781]},
 {'n': 'Canario', 'c': 6, 't': [3468], 'a': [22]},
 {'n': 'Cane', 'c': 6, 't': [597]},
 {'n': 'Capone', 'c': 6, 't': [34]},
 {'n': 'Capucho', 'c': 5, 't': [652], 'm': [781]},
 {'n': 'Careca', 'c': 6, 's': [3140], 'b': '27/09/1968'},
 {'n': 'Careca', 'c': 6, 't': [597], 'b': '05/10/1960'},
 {'n': 'Carlitos', 'c': 5, 't': [605], 'm': [781]},
 {'n': 'Casagrande', 'c': 6, 't': [652], 'a': [22]},
 {'n': 'Casemiro',
  'c': 6,
  't': [14, 3468, 652],
  'a': [22, 26],
  'm': [781, 523, 1522],
  's': [8198, 45320]},
 {'n': 'Cassio', 'c': 6, 't': [682], 'a': [26]},
 {'n': 'Castilho', 'c': 6, 'a': [24]},
 {'n': 'Castro', 'c': 5, 't': [652], 's': [8198]},
 {'n': 'Cate', 'c': 6, 's': [3140]},
 {'n': 'Ceara', 'c': 6, 't': [591], 'm': [523]},
 {'n': 'Celso', 'c': 6, 't': [652], 'a': [22]},
 {'n': 'Cesar', 'c': 6, 't': [591], 'a': [26], 's': [3140], 'b': '16/11/1975'},
 {'n': 'Cesar', 'c': 6, 't': [2930, 43], 's': [3455], 'b': '24/10/1974'},
 {'n': 'Cesar', 'c': 6, 't': [605], 'b': '13/04/1956'},
 {'n': 'Chano', 'c': 2, 't': [605], 'm': [781]},
 {'n': 'Charles', 'c': 6, 'a': [26]},
 {'n': 'Chendo', 'c': 2, 't': [3468], 'a': [22]},
 {'n': 'Chicao', 'c': 6, 's': [3140]},
 {'n': 'Chicharito', 't': [14, 3468], 'm': [4, 523, 2029], 's': [8198, 45320]},
 {'n': 'Chinesinho', 'c': 6, 't': [625]},
 {'n': 'Chiquinho', 'c': 5, 't': [605], 's': [45320]},
 {'n': 'Christian', 'c': 6, 't': [34, 591], 's': [3140]},
 {'n': 'Chuchi', 'c': 2, 'm': [1522]},
 {'n': 'Chumi', 'c': 2, 't': [83], 's': [28003]},
 {'n': 'Cicinho', 'c': 6, 't': [3468, 37], 's': [3140, 3139, 3111]},
 {'n': 'Claiton', 'c': 6, 't': [113], 'm': [523]},
 {'n': 'Claudio', 'c': 6, 't': [682], 'b': '05/02/1979'},
 {'n': 'Claudio', 'c': 6, 'a': [26], 'b': '18/07/1922'},
 {'n': 'Clayton', 'c': 6, 't': [652], 'm': [781]},
 {'n': 'Cleber', 'c': 6, 's': [3140]},
 {'n': 'Cleison', 'c': 6, 's': [3140]},
 {'n': 'Clodoaldo', 'c': 6, 'a': [24]},
 {'n': 'Clovis', 'c': 6, 't': [605]},
 {'n': 'Coco', 'c': 2, 'm': [1522]},
 {'n': 'Costinha', 'c': 5, 's': [8198], 'b': '07/12/1985'},
 {'n': 'Costinha',
  'c': 5,
  't': [652, 6789, 7980],
  'a': [22],
  'm': [781],
  's': [8198],
  'b': '01/12/1974'},
 {'n': 'Costinha', 'c': 5, 't': [652], 'm': [781], 'b': '22/09/1973'},
 {'n': 'Cote', 'c': 2, 't': [37, 652]},
 {'n': 'Coutinho', 'c': 6, 'a': [24]},
 {'n': 'Cribari', 'c': 6, 't': [43, 597]},
 {'n': 'Cris', 'c': 6, 't': [34], 'a': [26], 's': [3140]},
 {'n': 'Cristian', 'c': 6, 's': [3140]},
 {'n': 'Cristiano', 'c': 6, 't': [605]},
 {'n': 'Custodio', 'c': 5, 's': [8198]},
 {'n': 'Dalbert', 'c': 6, 't': [2930], 's': [96341]},
 {'n': 'Dani',
  'c': 5,
  't': [605, 629, 7980],
  'm': [781, 2029],
  'b': '02/11/1976'},
 {'n': 'Dani', 'c': 2, 't': [7980], 'm': [1522], 'b': '08/07/1972'},
 {'n': 'Danilo', 'c': 6, 't': [629], 'b': '07/04/1999'},
 {'n': 'Danilo',
  'c': 6,
  't': [3468, 625, 652, 9],
  'a': [22],
  'm': [5672, 1522],
  's': [8198, 45320, 5023],
  'b': '15/07/1991'},
 {'n': 'Danilo', 'c': 13, 't': [629], 'b': '13/01/1990'},
 {'n': 'Danilo', 'c': 6, 's': [5023], 'b': '10/05/1984'},
 {'n': 'Danilo', 'c': 6, 's': [3140], 'b': '11/06/1979'},
 {'n': 'Danny', 'c': 5, 's': [8198]},
 {'n': 'Danrlei', 'c': 6, 's': [3140]},
 {'n': 'Dante', 'c': 6, 't': [503], 'a': [22], 'm': [5672], 's': [4360]},
 {'n': 'Davide', 'c': 5, 's': [8198]},
 {'n': 'Deco',
  'c': 5,
  't': [18, 605, 652, 83],
  'a': [22],
  'm': [781, 523],
  's': [28003, 8198]},
 {'n': 'Dede', 'c': 6, 't': [68], 'm': [118]},
 {'n': 'Delfim', 'c': 5, 't': [44]},
 {'n': 'Dellatorre', 'c': 6, 't': [652]},
 {'n': 'Denilson', 'c': 6, 't': [19], 'm': [280], 'b': '16/02/1988'},
 {'n': 'Denilson', 'c': 6, 'a': [24, 26], 's': [3140], 'b': '24/08/1977'},
 {'n': 'Denilson', 'c': 6, 't': [591], 'b': '04/09/1976'},
 {'n': 'Dentinho', 'c': 6, 's': [3140]},
 {'n': 'Derlei', 'c': 6, 't': [605, 652], 'a': [22], 'm': [781]},
 {'n': 'Derley', 'c': 6, 't': [605]},
 {'n': 'Dida',
  'c': 6,
  't': [113],
  'a': [22, 24, 26],
  'm': [523],
  's': [3140, 3139],
  'b': '07/10/1973'},
 {'n': 'Dida', 'c': 6, 'a': [24], 'b': '26/03/1934'},
 {'n': 'Didi', 'c': 6, 't': [3468], 'a': [24]},
 {'n': 'Diego',
  'c': 6,
  't': [625, 652, 7980],
  'a': [26],
  's': [3140, 5023],
  'b': '28/02/1985'},
 {'n': 'Diego', 'c': 2, 't': [7980], 'm': [1522], 'b': '30/12/1968'},
 {'n': 'Digao', 'c': 6, 't': [113], 'm': [523]},
 {'n': 'Dill', 'c': 6, 't': [44]},
 {'n': 'Dimas', 'c': 5, 't': [44, 605, 625], 's': [3111]},
 {'n': 'Dinda', 'c': 6, 'm': [781]},
 {'n': 'Diogo', 'c': 6, 's': [3140]},
 {'n': 'Dirceu', 'c': 6, 't': [597, 7980]},
 {'n': 'Dito', 'c': 5, 't': [605, 652]},
 {'n': 'Djair', 'c': 6, 't': [43]},
 {'n': 'Djalminha', 'c': 6, 'a': [26], 's': [3140]},
 {'n': 'Djavan', 'c': 6, 't': [605]},
 {'n': 'Dodo', 'c': 6, 't': [2930, 37], 's': [3140], 'b': '06/02/1992'},
 {'n': 'Dodo', 'c': 6, 's': [3140], 'b': '02/05/1974'},
 {'n': 'Doni', 'c': 6, 't': [37, 8], 'a': [26]},
 {'n': 'Donizete', 'c': 6, 't': [605], 's': [3140]},
 {'n': 'Doriva', 'c': 6, 't': [652], 's': [3140]},
 {'n': 'Douglas',
  'c': 6,
  't': [605, 83],
  'a': [22],
  's': [28003],
  'b': '06/08/1990'},
 {'n': 'Douglas', 'c': 8, 'm': [2029], 'b': '12/01/1988'},
 {'n': 'Douglas', 'c': 6, 's': [3140], 'b': '18/02/1982'},
 {'n': 'Douglas', 'c': 6, 's': [3140], 'b': '01/03/1963'},
 {'n': 'Duda', 'c': 5, 's': [8198], 'b': '27/06/1980'},
 {'n': 'Duda', 'c': 6, 't': [605, 652], 'b': '15/03/1974'},
 {'n': 'Duda', 'c': 6, 't': [652], 'b': '04/08/1947'},
 {'n': 'Dunga', 'c': 6, 'a': [24, 26], 's': [3140]},
 {'n': 'Edcarlos', 'c': 6, 't': [605], 's': [45320]},
 {'n': 'Eder', 'c': 5, 'a': [25], 's': [8198], 'b': '22/12/1987'},
 {'n': 'Eder', 'c': 12, 't': [2930], 's': [5023], 'b': '15/11/1986'},
 {'n': 'Ederson',
  'c': 6,
  't': [605, 9],
  'a': [22, 26],
  'm': [5672],
  'b': '17/08/1993'},
 {'n': 'Ederson', 'c': 6, 't': [43], 'b': '13/01/1986'},
 {'n': 'Edevaldo', 'c': 6, 't': [652]},
 {'n': 'Edgar', 'c': 5, 't': [3468, 605]},
 {'n': 'Edilson', 'c': 6, 't': [605], 'a': [24], 's': [3140]},
 {'n': 'Edinho', 'c': 5, 's': [8198], 'b': '07/07/1982'},
 {'n': 'Edinho', 'c': 6, 't': [2930], 'b': '30/10/1979'},
 {'n': 'Edmilson',
  'c': 6,
  't': [83],
  'a': [22, 24],
  's': [28003, 3140],
  'b': '10/07/1976'},
 {'n': 'Edmilson', 'c': 6, 't': [591, 652], 'b': '17/09/1971'},
 {'n': 'Edmundo', 'c': 6, 't': [597], 'a': [26], 's': [3140]},
 {'n': 'Ednilson', 't': [37, 605], 's': [8198]},
 {'n': 'Edno', 'c': 6, 's': [3140]},
 {'n': 'Edu', 'c': 6, 'm': [118], 'b': '30/11/1981'},
 {'n': 'Edu', 'c': 2, 'm': [1522], 'b': '09/10/1971'},
 {'n': 'Edu', 'c': 6, 't': [652], 'b': '15/02/1963'},
 {'n': 'Edu', 'c': 6, 'a': [24], 'b': '06/08/1949'},
 {'n': 'Eduardo', 'c': 6, 't': [652], 'b': '17/10/1989'},
 {'n': 'Eduardo', 'c': 15, 't': [19], 'm': [280], 'b': '25/02/1983'},
 {'n': 'Eduardo',
  'c': 5,
  't': [18, 605],
  'a': [25],
  's': [8198],
  'b': '19/09/1982'},
 {'n': 'Elano', 'c': 6, 't': [34, 9], 'a': [26], 's': [3140]},
 {'n': 'Elderson', 'c': 25, 't': [6789]},
 {'n': 'Elias', 'c': 6, 't': [7980], 's': [3140], 'b': '16/05/1985'},
 {'n': 'Elias', 'c': 6, 't': [652], 'm': [781], 'b': '04/09/1981'},
 {'n': 'Eliseu', 'c': 5, 't': [43, 605], 'a': [25], 's': [8198]},
 {'n': 'Eloi', 'c': 6, 't': [652], 'a': [22]},
 {'n': 'Elvis', 'c': 6, 't': [605]},
 {'n': 'Elzo', 'c': 6, 't': [605]},
 {'n': 'Emerson',
  'c': 6,
  't': [113, 3468, 37, 625],
  'a': [26],
  'm': [523],
  's': [3455, 3140, 3139, 5023],
  'b': '04/04/1976'},
 {'n': 'Emerson', 'c': 6, 't': [652, 7980], 'b': '12/04/1972'},
 {'n': 'Endrick', 'c': 6, 't': [3468], 'm': [523]},
 {'n': 'Esquerdinha', 'c': 6, 't': [652]},
 {'n': 'Estevao', 'c': 6, 't': [18]},
 {'n': 'Eusebio', 'c': 2, 't': [7980, 83], 'a': [22], 'b': '13/04/1964'},
 {'n': 'Eusebio', 'c': 5, 't': [605], 'a': [22, 27, 28], 'b': '25/01/1942'},
 {'n': 'Evair', 'c': 6, 's': [3140]},
 {'n': 'Evaldo', 'c': 6, 't': [652], 'm': [781]},
 {'n': 'Evandro', 'c': 6, 't': [652]},
 {'n': 'Evanilson', 'c': 6, 't': [652], 'b': '06/10/1999'},
 {'n': 'Evanilson',
  'c': 6,
  't': [68],
  'a': [26],
  's': [3140],
  'b': '12/09/1975'},
 {'n': 'Everaldo', 'c': 6, 'a': [24]},
 {'n': 'Everson', 'c': 6, 't': [605]},
 {'n': 'Everton', 'c': 6, 't': [605], 'a': [26], 'b': '22/03/1996'},
 {'n': 'Everton', 'c': 6, 't': [652], 'b': '12/12/1959'},
 {'n': 'Ewerthon', 'c': 6, 't': [68]},
 {'n': 'Fabiano', 'c': 6, 't': [652]},
 {'n': 'Fabinho',
  'c': 6,
  't': [3468, 6789, 8],
  'a': [22],
  'm': [781, 118],
  's': [8198, 45320],
  'b': '23/10/1993'},
 {'n': 'Fabinho', 'c': 6, 's': [3140], 'b': '10/01/1980'},
 {'n': 'Fabio', 'c': 6, 't': [14], 'm': [4], 's': [8198], 'b': '09/07/1990'},
 {'n': 'Fabio', 'c': 6, 'a': [26], 's': [3140], 'b': '30/09/1980'},
 {'n': 'Fagner', 'c': 6, 't': [682], 'a': [26]},
 {'n': 'Falcao', 'c': 6, 't': [37]},
 {'n': 'Fali', 'c': 2, 't': [83], 's': [28003]},
 {'n': 'Felipe', 'c': 6, 't': [652, 7980], 'b': '16/05/1989'},
 {'n': 'Felipe', 'c': 6, 't': [37], 'b': '05/04/1986'},
 {'n': 'Felipe', 'c': 6, 't': [2930], 'b': '31/07/1984'},
 {'n': 'Felipe', 'c': 6, 's': [3140], 'b': '22/02/1984'},
 {'n': 'Felix', 'c': 6, 'a': [24]},
 {'n': 'Fernandao', 'c': 6, 't': [44]},
 {'n': 'Fernandinho', 'c': 6, 't': [9], 'a': [26], 'm': [5672]},
 {'n': 'Fernando', 'c': 6, 't': [34, 652, 9], 'm': [5672], 'b': '25/07/1987'},
 {'n': 'Fernando', 'c': 6, 'a': [26], 'b': '03/05/1981'},
 {'n': 'Fernando', 'c': 2, 't': [83], 'm': [1522], 'b': '12/09/1971'},
 {'n': 'Ferreira', 'c': 6, 't': [652], 'm': [781]},
 {'n': 'Ferro', 'c': 5, 't': [605], 's': [8198]},
 {'n': 'Filipe', 'c': 6, 't': [37]},
 {'n': 'Florentino', 'c': 5, 't': [605, 6789], 's': [45320]},
 {'n': 'Fontana', 'c': 6, 'a': [24]},
 {'n': 'Franca', 'c': 6, 's': [3140]},
 {'n': 'Franchu', 'c': 11, 't': [3468]},
 {'n': 'Frechaut', 'c': 5, 's': [8198]},
 {'n': 'Fred',
  'c': 6,
  't': [14],
  'm': [781],
  's': [8198, 96341],
  'b': '05/03/1993'},
 {'n': 'Fred', 'c': 6, 'a': [26], 's': [3140], 'b': '03/10/1983'},
 {'n': 'Fredi', 'c': 2, 'm': [1522]},
 {'n': 'Furtado', 'c': 5, 't': [652], 'm': [781]},
 {'n': 'Gabri', 'c': 2, 't': [629, 83], 'a': [22], 'm': [2029], 's': [28003]},
 {'n': 'Gabriel', 'c': 6, 't': [113, 597]},
 {'n': 'Galeno', 'c': 6, 't': [652]},
 {'n': 'Gallego', 'c': 2, 't': [83], 'a': [25]},
 {'n': 'Geovanni', 'c': 6, 't': [605, 83, 9], 'm': [2029]},
 {'n': 'Geraldao', 'c': 6, 't': [591, 652]},
 {'n': 'Gerardo', 'c': 2, 'm': [1522]},
 {'n': 'Germano', 'c': 5, 't': [605], 'a': [22]},
 {'n': 'Gerson', 'c': 6, 't': [37, 44], 'b': '20/05/1997'},
 {'n': 'Gerson', 'c': 6, 'a': [24], 'b': '11/01/1941'},
 {'n': 'Gervinho', 'c': 41, 't': [19, 37], 'm': [280]},
 {'n': 'Ghito', 'c': 11, 't': [113]},
 {'n': 'Gilberto', 'c': 6, 't': [605], 'b': '07/03/1993'},
 {'n': 'Gilberto',
  'c': 6,
  't': [2930, 6],
  'a': [26],
  's': [3140],
  'b': '25/04/1976'},
 {'n': 'Gilmar', 'c': 6, 't': [652], 'b': '23/09/1991'},
 {'n': 'Gilmar', 'c': 6, 'a': [24], 's': [3140], 'b': '13/01/1959'},
 {'n': 'Gilmar', 'c': 6, 'a': [24], 'b': '22/08/1930'},
 {'n': 'Ginho', 'c': 5, 's': [8198]},
 {'n': 'Giovanni', 'c': 6, 't': [83], 'a': [26], 'm': [2029], 's': [3140]},
 {'n': 'Gladstone', 'c': 6, 't': [625], 's': [3455, 5023]},
 {'n': 'Glauber', 'c': 6, 't': [9]},
 {'n': 'Goncalves', 'c': 6, 'a': [26], 's': [3140]},
 {'n': 'Gregore', 'c': 6, 's': [28003]},
 {'n': 'Guti',
  'c': 2,
  't': [3468],
  'a': [22],
  's': [8198, 3140, 3139, 4360, 3111]},
 {'n': 'Hannibal', 't': [14], 's': [8198]},
 {'n': 'Helton', 'c': 6, 't': [652], 'a': [26]},
 {'n': 'Henrique', 'c': 6, 's': [3140], 'b': '19/01/1987'},
 {'n': 'Henrique', 'c': 6, 't': [597, 83], 'm': [1522], 'b': '14/10/1986'},
 {'n': 'Henrique', 'c': 6, 's': [3140], 'b': '16/05/1985'},
 {'n': 'Hernanes', 'c': 6, 't': [2930, 43, 625], 's': [5023]},
 {'n': 'Hilario',
  'c': 5,
  't': [18, 652],
  'a': [22],
  'm': [781, 523, 1522],
  's': [8198, 96341, 4360]},
 {'n': 'Hilton', 'c': 6, 't': [44]},
 {'n': 'Hugo', 'c': 5, 's': [8198], 'b': '11/08/1976'},
 {'n': 'Hugo', 'c': 6, 's': [4360], 'b': '23/07/1974'},
 {'n': 'Hulk', 'c': 6, 't': [652]},
 {'n': 'Iarley', 'c': 6, 's': [3140]},
 {'n': 'Ibrahim', 'c': 2, 'm': [1522]},
 {'n': 'Ibson', 'c': 6, 't': [652]},
 {'n': 'Inacio', 'c': 6, 't': [652]},
 {'n': 'Isaias', 'c': 6, 't': [605]},
 {'n': 'Isco',
  'c': 2,
  't': [3468],
  'a': [22],
  'm': [523, 1522],
  's': [8198, 45320]},
 {'n': 'Ivanildo', 't': [652], 's': [8198]},
 {'n': 'Jacinto', 'c': 5, 't': [605, 652]},
 {'n': 'Jadson', 'c': 6, 's': [3140], 'b': '22/08/1991'},
 {'n': 'Jadson', 'c': 6, 's': [3140], 'b': '05/10/1983'},
 {'n': 'Jaguare', 'c': 6, 't': [44, 83]},
 {'n': 'Jailson', 'c': 6, 'm': [1522], 'b': '07/09/1995'},
 {'n': 'Jailson', 'c': 6, 't': [605], 'b': '16/06/1981'},
 {'n': 'Jaime', 'c': 2, 't': [3468], 'a': [22], 'm': [1522]},
 {'n': 'Jair', 'c': 6, 't': [2930, 37], 'a': [22, 24], 'b': '09/07/1940'},
 {'n': 'Jair', 'c': 6, 'a': [26], 'b': '21/03/1921'},
 {'n': 'Jairzinho', 'c': 6, 't': [44], 'a': [24]},
 {'n': 'Jamir', 'c': 6, 't': [605]},
 {'n': 'Jardel', 'c': 6, 't': [605], 'b': '29/03/1986'},
 {'n': 'Jardel', 'c': 6, 't': [34, 652], 's': [8198, 3140], 'b': '18/09/1973'},
 {'n': 'Javito', 'c': 2, 't': [83], 's': [28003]},
 {'n': 'Jean', 'c': 6, 's': [3140]},
 {'n': 'Jefferson', 'c': 6, 's': [3140]},
 {'n': 'Jeffren', 't': [83], 'a': [22], 'm': [5672], 's': [28003, 3455]},
 {'n': 'Jemerson', 'c': 6, 't': [6789]},
 {'n': 'Jese',
  'c': 2,
  't': [3468, 591],
  'a': [22],
  'm': [781, 523, 1522],
  's': [8198, 45320, 5023]},
 {'n': 'Jesus', 'c': 2, 's': [28003]},
 {'n': 'Jo', 'c': 6, 't': [34, 9]},
 {'n': 'Joca', 'c': 5, 't': [652], 'm': [781], 's': [8198]},
 {'n': 'Joel', 'c': 6, 'a': [24]},
 {'n': 'Jonas', 'c': 6, 't': [605]},
 {'n': 'Jonathan', 'c': 6, 't': [2930]},
 {'n': 'Jony', 'c': 2, 't': [43]},
 {'n': 'Jorge', 'c': 6, 't': [652, 6789]},
 {'n': 'Jorginho',
  'c': 12,
  't': [18, 19, 597],
  'a': [22, 25],
  'm': [1522],
  's': [5023, 96341],
  'b': '20/12/1991'},
 {'n': 'Jorginho', 'c': 6, 't': [652], 'b': '06/05/1977'},
 {'n': 'Jorginho',
  'c': 6,
  't': [503],
  'a': [24],
  's': [3140],
  'b': '17/08/1964'},
 {'n': 'Joseito', 'c': 2, 't': [3468], 'a': [22]},
 {'n': 'Joselu',
  'c': 2,
  't': [3468],
  'a': [22, 25],
  'm': [781, 523, 1522],
  's': [8198]},
 {'n': 'Josemi', 'c': 2, 't': [8], 'a': [22], 'm': [1522]},
 {'n': 'Josimar', 'c': 6, 'a': [26]},
 {'n': 'Josue', 'c': 5, 't': [34, 652], 's': [8198], 'b': '17/09/1990'},
 {'n': 'Josue', 'c': 6, 'a': [26], 'b': '19/07/1979'},
 {'n': 'Juan', 'c': 6, 't': [19], 'm': [280], 'b': '06/02/1982'},
 {'n': 'Juan', 'c': 6, 't': [37], 'a': [26], 's': [3140], 'b': '01/02/1979'},
 {'n': 'Juanfran', 'c': 2, 't': [629]},
 {'n': 'Juanito', 'c': 2, 't': [7980], 'a': [25], 'b': '23/07/1976'},
 {'n': 'Juanito', 'c': 2, 't': [3468, 7980], 'b': '10/11/1954'},
 {'n': 'Juankar', 'c': 2, 't': [3468], 'm': [781], 's': [8198, 45320]},
 {'n': 'Juary', 'c': 6, 't': [2930, 652], 'a': [22]},
 {'n': 'Jucilei', 'c': 6, 's': [3140]},

In [8]:
def find_index_of_player(player_name):
    for i, data in enumerate(players_json):
        if data["n"] == player_name: return i
find_index_of_player("Ademir")

3

In [9]:
((datetime.now() - datetime.strptime("31/12/2023", "%d/%m/%Y")).days-1)//365 == int("0")

True

In [10]:
def getAge(dt):
    present = datetime.now()
    year_diff = present.year-dt.year
    if dt.month > present.month or (dt.month==present.month and dt.day > present.day): year_diff-=1
    return year_diff

In [12]:
with open("player_id.json") as f: queries = json.load(f)
players_df = pd.DataFrame(columns=["id", "player_name"])
bad_names = []
prevName = ""
players_json_index = 0
for query in queries:
    player_name = query["query"]
    player_id, player_ids = "", []
    num_matching_names = 0
    for res in query['results']:
        if are_equal_ignore_accents(player_name, res["name"]):
            player_ids.append([res["id"], res["age"]])
            num_matching_names+=1
    if not player_ids: 
        bad_names.append(player_name)
        continue
    if num_matching_names>=2:
        if prevName == player_name: players_json_index+=1
        else: players_json_index = find_index_of_player(player_name)
        if "b" in players_json[players_json_index]: 
            birth_date = datetime.strptime(players_json[players_json_index]["b"], "%d/%m/%Y")
            for i in player_ids:
                if i[1]!="-" and getAge(birth_date)==int(i[1]):
                    player_id = i[0]
            prevName = player_name
            player_name = f"{player_name} ({birth_date.year})"
        else: player_id = player_ids[0][0]
    else:
        num_matching_names=0
        player_id = player_ids[0][0]
        prevName = ""
    if player_id: players_df = pd.concat([players_df, pd.DataFrame([{"id": int(player_id), "player_name": player_name}])], ignore_index=True)
    else: bad_names.append(player_name)

In [13]:
from datetime import date
getAge(date(1987, 1, 24))

37

In [ ]:
players_df

          id     player_name
0       8036        Abelardo
1     258051          Acacio
2      18699        Adailton
3     311030   Ademir (1951)
4      34495  Adriano (1984)
...      ...             ...
8004  289493  Adolfo Zumelzu
8005   37941   Camilo Zuniga
8006  250911  Rafael Zuviria
8007  892973  Lovro Zvonarek
8008    4538  Theo Zwarthoed

[8009 rows x 2 columns]

In [15]:
players_df = players_df.drop_duplicates()
players_df

          id     player_name
0       8036        Abelardo
1     258051          Acacio
2      18699        Adailton
3     311030   Ademir (1951)
4      34495  Adriano (1984)
...      ...             ...
8004  289493  Adolfo Zumelzu
8005   37941   Camilo Zuniga
8006  250911  Rafael Zuviria
8007  892973  Lovro Zvonarek
8008    4538  Theo Zwarthoed

[7977 rows x 2 columns]

In [16]:
bad_names

['Ademir (1960)',
 'Ademir (1922)',
 'Ado',
 'Adrian',
 'Adriano (1979)',
 'Ailton (1949)',
 'Alan',
 'Alessandro',
 'Alex',
 'Alex',
 'Alex',
 'Alexis',
 'Alfonso',
 'Alonso',
 'Andrade',
 'Andrade',
 'Andre',
 'Angelo',
 'Barbosa',
 'Batista',
 'Batista',
 'Bauer',
 'Bene',
 'Bernard',
 'Beto (1975)',
 'Bill',
 'Bio',
 'Bruno',
 'Cane',
 'Cesar',
 'Cesar',
 'Cesar',
 'Charles',
 'Christian',
 'Claudio',
 'Claudio',
 'Clovis',
 'Cristian',
 'Dani',
 'Dani',
 'Danilo (1999)',
 'Danilo (1990)',
 'Danilo (1984)',
 'Davide',
 'Dida (1934)',
 'Diego',
 'Diego',
 'Dill',
 'Douglas (1963)',
 'Duda (1947)',
 'Edgar',
 'Emerson (1972)',
 'Eusebio (1942)',
 'Everton (1959)',
 'Fabio',
 'Fabio',
 'Ferreira',
 'Filipe',
 'Gabri',
 'Gabriel',
 'Gerardo',
 'Gilmar (1991)',
 'Gilmar (1930)',
 'Ginho',
 'Giovanni',
 'Goncalves',
 'Henrique',
 'Henrique',
 'Henrique',
 'Hugo',
 'Hugo',
 'Ibrahim',
 'Inacio',
 'Jair (1921)',
 'Jean',
 'Jesus',
 'Jonathan',
 'Juan',
 'Juan',
 'King',
 'Leandro',
 'Leandro',
 'Leo',
 'Leonidas',
 'Leonidas',
 'Lima',
 'Lima',
 'Lino',
 'Luciano',
 'Marcel',
 'Marques',
 'Miguel',
 'Moacir (1986)',
 'Moacir (1970)',
 'Muller',
 'Nando',
 'Narciso',
 'Nathan',
 'Nene (1942)',
 'Noronha',
 'Patric',
 'Patric',
 'Patrick',
 'Paulinho (1997)',
 'Pedro (1968)',
 'Pele (1940)',
 'Pena',
 'Pia',
 'Pier',
 'Poli',
 'Rafael',
 'Rafael',
 'Ricardo',
 'Ricardo',
 'Robert',
 'Roberto',
 'Roberto',
 'Roger',
 'Ronaldo (1990)',
 'Russo',
 'Sandro',
 'Sandro',
 'Santamaria',
 'Seba',
 'Silas (1965)',
 'Sousa',
 'Souza',
 'Souza',
 'Souza',
 'Souza',
 'Steven',
 'Tavares',
 'Tiago',
 'Toledo',
 'Toy',
 'Victor',
 'Walker',
 'Wando',
 'Carlos Alberto (1944)',
 'Sergio Alejandro',
 'Marcos Alonso (1959)',
 'Hamit Altintop',
 'Geraldo Alves',
 'Joao Alves (1952)',
 'Gustaf Andersson (1979)',
 'Emilio Avarez',
 'Eyup Aydin',
 'Gabriel Miguel Bordi',
 'Dick Van Burik',
 'Renato Cappellini (1914)',
 'Ze Carlos (1968)',
 'Ze Carlos (1962)',
 'Julio Cesar (1986)',
 'Papiss Cisse',
 'Mike Clegg',
 'Ricardo Costa (1985)',
 'Sir Kenny Dalglish',
 'Cata Diaz',
 'Octavio Diaz',
 'Borislav Djordjevic',
 'Manuel Ferreira',
 'Javier Garcia',
 'Tom Geisler',
 'Kevin Groskreutz',
 'Uli Hoenes',
 'Sebastian Kneisl',
 'Andre Luis (1977)',
 'Patricio Margetic',
 'Pity Martinez',
 'Floribert Ngalula',
 'Juan Jose Olalla',
 'Samu Omorodion',
 'Emerson Palmieri',
 'Rodrigo de Paul',
 'Joao Paulo (1989)',
 'Joao Pedro (1996)',
 'Renato Portaluppi',
 'Diego Sacomam',
 'Andre Santos (1985)',
 'Burkhard Segler',
 'Roberto Sosa (1935)',
 'Luis Suarez (1935)',
 'Serdar Tasci',
 'Anderson Thiago',
 'Rob Ullathorne',
 'Jesus Enrique Velasco',
 'Gunther Weis',
 'Josef Weis']

In [17]:
transfer_jsons = []
for index, row in players_df.iterrows():
    player_id = row[0]
    transfer_jsons.append(requests.get(f"http://localhost:8000/players/{player_id}/transfers").json())
    if index%20==0: print(row[1])
with open("transfers.json", "w") as f: json.dump(transfer_jsons, f)

/var/folders/kw/kcr50hsd6zq1ldzcm_9h_m840000gn/T/ipykernel_12792/844003225.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  player_id = row[0]
/var/folders/kw/kcr50hsd6zq1ldzcm_9h_m840000gn/T/ipykernel_12792/844003225.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if index%20==0: print(row[1])

Abelardo
Amaral
Bernardo
Cafu
Chicao
Cristiano
Digao
Edcarlos
Everson
Florentino
Gilmar (1959)
Jailson (1995)
Jorginho (1977)
Kelvin
Lica
Mantorras
Marvel
Naldo
Oseas
Peque
Renato
Romulo (1987)
Silvino
Valdeir
Wellington
Christian Abbiati
Sebastian Abreu
Seyi Adeleke
Andrea Agostinelli
Pablo Aimar
Lucas Alario
Romain Alessandrini
Max Alleyne
Juanito Alonso
Vana Alves
Nicolas Amodio
Sonny Anderson
Jose Leandro Andrade
Miguel Angel Angulo
Roberto Antonelli
Jose Araquistain
Franco Armani
Andrey Arshavin
Gai Assulin
Carmelo Augliera
Ruben Ayala
Celestine Babayaro
Junior Baiano
James Balagizi
Salva Ballesta
Gordon Banks
Franco Baresi
Evaristo Barrera
Joey Barton
Jose Basualdo
Russell Beardsmore
Valon Behrami
Bruno Bellone
Simone Benedetti
Emanuel Bentil
Gonzalo Bergessio
Antonino Bernardini
Antonio Betancort
Walter Bianchi
Dragisa Binic
Stig Inge Bjornebye
Danny Blind
Jules Bocande
Winston Bogarde
Samuele Dalla Bona
Filippo Boniperti
Sebastiaan Bornauw
Alberto Botia
Robert van Boxel
Frederic Brando
Shay Brennan
John van den Brom
Matteo Bruscagin
Ottavio Bugatti
Pietro Buscaglia
Fabian Caballero
Jake Cain
Isacio Calleja
Alessandro Cambalhota
Enrico Candiani
Emiliano Capella
Yrius Roberto Carboni
Chiquinho Carlos
Lluis Carreras
Fabio Carvalho
Lewis Cass
Luca Castellazzi
Steven Caulker
Luca Ceccarelli
Julio Cesar (1978)
Lionel Charbonnier
Stephane Chevalier
Davide Chiumiento
Amato Ciciretti
Lee Clark
David Cobeno
Carlton Cole
Keba Coly
Andrea Conti
Ante Coric
Anthony Da Costa
Alessandro Costacurta
Patrick Cregg
Thomas Cruise
Emil Cuello
Dario Cvitanich
Colin Dagba
Antonio Pio Daniele
Peter Davenport
Mathieu Debuchy
Liam Delap
Moussa Dembele
Timothy Derijck
Moussa Diaby
Ruben Dias
Paul Dickov
Roberto Dinamite
Tiago Djalo
Jean-Pierre Dogliani
Marco Donadel
Diego Dorta
Mels van Driel
Guy Dufour
Michel Dussuyer
Richard Eckersley
Joel Ekstrand
Bartug Elmaz
Robert Enke
Guillermo Escalada
Felipe Estrella
Ivan Moreno y Fabianesi
Mark Falco
Ricardo Faty
Nicolas Feldhahn
Matheus Fernandes
Matias Fernandez
Demetrius Ferreira
Luciano Figueroa
Mark Flekken
Youssouf Fofana (1966)
Alessandro Fontanarosa
Laurent Fournier
Olivier Frapolli
Marco Friedl
Ryan Fulton
Roberto Gagliardini
Luciano Galletti
Maurizio Ganz
Martin Garcia
Mane Garrincha
Franck Gava
Grigoris Georgatos
Anwar El Ghazi
Lewis Gibson
Charlie Gilmour
Gael Givet
Lino Golin
Jose Luis Gomez
Jersson Gonzalez
Sergio Gori
Fernand Goyvaerts
Guido Gratton
Clement Grenier
Marko Grujic
Vincent Guerin
Peter Gulacsi
Danny Guthrie
Gheorghe Hagi
Micah Hamilton
Tammo Harder
Mark Hateley
Filip Helander
Luis Henrique
Hector Herrera
Fernando Hierro
Glenn Hoddle
Chris Holland
Stewart Houston
Dean Huijsen
Tobias Hysen
Julio Iglesias
Eike Immel
Emiliano Insua
Mauricio Isla
Ivan Jaime
Anton Janssen
Elias Jelert
David Jimenez
Andy Johnson
John de Jong
Diogo Jota
Rubens Junior
Oliver Kahn
Abdoulaye Kamara
Chris Kanu
Jesper Karlstrom
Gerrit Keizer
Harry Kewell
Frank Kinkel
Wolfgang Kleff
Gregor Kobel
Vincent Kompany
Roman Kosecki
Jurgen Kramny
Petar Krpan
Marash Kumbulla
Alexandre Lacazette
Frank Lampard
Manuel Lanzini
Juanmi Latasa
Nikola Lazetic
Benjamin van Leer
Yves Lenaerts
Rafael Lesmes
Matthijs de Ligt
Alec Lindsay
Adem Ljajic
Renan Lodi
Glenn Loovens
Jordi Lopez
Mamadou Loum
Celio Lucio
Ali Lukunku
Oleg Luzhnyi
Paulo Machado
Guido Magherini
Ainsley Maitland-Niles
Donyell Malen
Sadio Mane
Pier Paolo Manservisi
Marco Marchionni
Marko Marin
Luca Marrone
Emiliano Martinez
Carlos Martins
Jordi Masip
Pedro Miguel Matias
Emmanuel Matuta
Pasquale Mazzocchi
Benni McCarthy
Steve McManaman
German Medina
Neil Mellor
Edouard Mendy
Alexander Merkel
Alexander Arnold Mezan
Oscar Miguez
Danny Mills
Antonio Mionic
Henrikh Mkhitaryan
Cristian Molinaro
Daniel Montenegro
Rodrigo Mora
Gleison Moreira
Francesco Moriero
Jean Mota
Fabrice Muamba
Phil Mulryne
Anthony Musaba
Mame N'Diaye
Amara Nallo
David Navarro
David Needham
Luis Neto
Serif Nhaga
Peter Nielsen
Eddie Nketiah
Alex Notman
Pedro Nuno
Raphael Obermair
Perica Ognjenovic
Ivica Olic
Marco Olivieri
Hervin Ongenda
Andrea Orlandi
Victor Osimhen
Sergey Ovchinnikov
Antonio Pacheco
Boudewijn Pahlplatz
Cole Palmer
Michele Paolucci
Paul Parker
Manuel Pasqual
Veljko Paunovic
Steinar Pedersen
Marco Pellegrino
Luca Percassi
Moises Pereiro
Patricio Perez
Angelo Peruzzi
Djordje Petrovic
Lucas Piazon
Gabriele Pin
Luca Pinton
Claudio Pitbull
Julio Pleguezuelo
Dennis van de Poll
Samuel Portugal
Carl Aage Praest
Davy Propper
Ray Putterill
Ibrahim Rabiu
Sebastian Rambert
Mathyas Randriamamy
Ante Rebic
Knut Reinhardt
Maurice Revelli
Lars Ricken
Joe Riley
Claudio Rivalta
Braian Robert
Marc Roca
Clemente Rodriguez
Marko Rog
Piet Romeijn
Giacomo La Rosa
Paolo Rossi
Marco Ruben
Geronimo Rulli
Abdelilah Saber
Moussa Saib
Edgar Salli
Alexis Sanchez
Jose Sand
Mario Santana
Manuel dos Santos
Amadou Sarr
Franck Sauzee
Stijn Schaars
Kasper Schmeichel
Sam Schreck
Riccardo Scimeca
Georgios Seitaridis
Marcos Senna
Pedro Sernagiotto
Ryan Shawcross
Alfonso Sierra
Gilberto Silva
Alcides Silveira
Juan Simon
Davide Sinigaglia
Milan Skriniar
Dario Smoje
Ola Solbakken
Jan Derek Sorensen
Jose Luis Soto
Robert Spehar
Luca Stanga
Paul Steiner
Paul Stewart
Rico Strieder
Hyun-jun Suk
Mattias Svanberg
Dominik Szoboszlai
Lamine Tall
Oussama Targhalline
Slobodan Tedic
Jordan Teze
Morten Thomsen
Guus Til
Corentin Tolisso
Alberto Toril
John Toshack
Chaka Traore
Pedro Troglio
Chris Turner
Samuel Umtiti
Claudio Vagheggi
Patrick Valery
Raphael Varane
Rafa Martin Vazquez
Nick van der Velden
Lambert Verdonk
Birger Verstraete
Manuel Vidal
Jose Antonio Vilaseca
Giovanni Vincenzi
Nelson Vivas
Ricardo La Volpe
Zlatko Vujovic
Sam Walker
Steve Watson
Niclas Weiland
Niels van Wetten
Owen Wijndal
Joe Willock
Peter Withe
Scott Wootton
Hakan Yakin
Amin Younes
Yassine Zakir
Rolando Zarate
Alessio Zerbin
Paolo Ziliani
Kurt Zouma

In [35]:
transfer_df = pd.DataFrame()
for row in transfer_jsons:
    transfer_df = pd.concat([transfer_df, pd.DataFrame([row])], ignore_index=True)
transfer_df

,id,transfers,updatedAt,youthClubs
0,8036,"[{'id': '66520', 'from': {'clubID': '1108', 'c...",2024-12-05T18:41:38.027375,NaN
1,258051,"[{'id': '2344155', 'from': {'clubID': '4907', ...",2024-12-05T18:41:38.930084,NaN
2,18699,"[{'id': '1717445', 'from': {'clubID': '42814',...",2024-12-05T18:41:41.608076,[Esporte Clube Vitória (1995-2002)]
3,311030,"[{'id': '2482034', 'from': {'clubID': '3332', ...",2024-12-05T18:41:42.257932,NaN
4,34495,"[{'id': '4346062', 'from': {'clubID': '515', '...",2024-12-05T18:41:42.976276,NaN
...,...,...,...,...
7972,289493,"[{'id': '2204177', 'from': {'clubID': '11831',...",2024-12-05T21:46:11.654140,NaN
7973,37941,"[{'id': '2160984', 'from': {'clubID': '8172', ...",2024-12-05T21:46:12.436444,[Atlético Nacional]
7974,250911,"[{'id': '1610643', 'from': {'clubID': '6062', ...",2024-12-05T21:46:13.113237,NaN
7975,892973,"[{'id': '5093758', 'from': {'clubID': '122', '...",2024-12-05T21:46:14.047180,"[NK Koprivnica (-2017), Slaven Belupo Koprivni..."
7976,4538,"[{'id': '2437147', 'from': {'clubID': '132', '...",2024-12-05T21:46:14.600820,"[RKAV Volendam, FC Volendam]"

In [36]:
players_df[players_df.id==49131]

        id     player_name
344  49131  Mazinho (1966)
345  49131  Mazinho (1965)

In [150]:
players_df = players_df.drop(index=344, axis=0).reset_index(drop=True)
players_df[players_df.id==49131]

        id     player_name
321  49131  Mazinho (1965)

In [41]:
transfer_df = transfer_df.drop(index=322, axis=0).reset_index(drop=True)
transfer_df

,id,transfers,updatedAt,youthClubs
0,8036,"[{'id': '66520', 'from': {'clubID': '1108', 'c...",2024-12-05T18:41:38.027375,NaN
1,258051,"[{'id': '2344155', 'from': {'clubID': '4907', ...",2024-12-05T18:41:38.930084,NaN
2,18699,"[{'id': '1717445', 'from': {'clubID': '42814',...",2024-12-05T18:41:41.608076,[Esporte Clube Vitória (1995-2002)]
3,311030,"[{'id': '2482034', 'from': {'clubID': '3332', ...",2024-12-05T18:41:42.257932,NaN
4,34495,"[{'id': '4346062', 'from': {'clubID': '515', '...",2024-12-05T18:41:42.976276,NaN
...,...,...,...,...
7971,289493,"[{'id': '2204177', 'from': {'clubID': '11831',...",2024-12-05T21:46:11.654140,NaN
7972,37941,"[{'id': '2160984', 'from': {'clubID': '8172', ...",2024-12-05T21:46:12.436444,[Atlético Nacional]
7973,250911,"[{'id': '1610643', 'from': {'clubID': '6062', ...",2024-12-05T21:46:13.113237,NaN
7974,892973,"[{'id': '5093758', 'from': {'clubID': '122', '...",2024-12-05T21:46:14.047180,"[NK Koprivnica (-2017), Slaven Belupo Koprivni..."
7975,4538,"[{'id': '2437147', 'from': {'clubID': '132', '...",2024-12-05T21:46:14.600820,"[RKAV Volendam, FC Volendam]"

In [151]:
players_df.to_csv('players_large.csv', index=False)

In [63]:
nan_rows = transfer_df[transfer_df["transfers"].isna()]

for row in nan_rows.iterrows():
    print(players_df[players_df.id==int(row[1]["id"])])

         id player_name
44  1089961      Bigode
         id player_name
449  245327     Santana
          id   player_name
1262  409156  Ben Bettahar
          id    player_name
1321  625174  Michael Black
          id          player_name
1635  474379  Bram Van Caelenberg
           id    player_name
2785  1026956  Ricardo Felix
          id         player_name
2798  244848  Humberto Fernandes
          id player_name
2925  642365   Ryan Ford
          id     player_name
3130  549110  Jerome Geffroy
          id         player_name
3438  616510  Kenneth Gustavsson
          id    player_name
3788  569163  Carlin Itonga
          id player_name
4070  241396    Bert Kik
          id    player_name
4165  764535  Emmanuel Koum
          id   player_name
4246  732926  Rogerio Lage
           id            player_name
4791  1071841  Ruben Martinez (1984)
           id           player_name
4990  1155408  Richard Oteng Mensah
           id      player_name
5117  1224079  Emiliano Molina
           id   player_name
5622  1155492  Gezim Osmani
          id            player_name
6281  858443  Christian M'pon A Rim
          id    player_name
6486  891340  James Russell
           id     player_name
6876  1015963  Vinicius Silva
           id    player_name
7834  1155405  Marc Winqvist

In [64]:
transfer_df = transfer_df.dropna(subset="transfers")

In [147]:
transfer_df.iloc[321, ]

id                                                       302788
transfers     [{'id': '2725786', 'from': {'clubID': '2350', ...
updatedAt                            2024-12-05T18:48:35.265309
youthClubs                   [Barriga Verde Futebol Clube (SC)]
Name: 322, dtype: object

In [89]:
transfer_df.loc[4972]

id                                                       303939
transfers     [{'id': '4806741', 'from': {'clubID': '1283', ...
updatedAt                            2024-12-05T20:32:40.276221
youthClubs                                                  NaN
Name: 4972, dtype: object

In [152]:
transfers = transfer_df[['transfers']]
formatted_transfers_df = pd.DataFrame(columns=["player_id", "team_name", "start_date", "end_date"])
for i, row in transfers.iterrows():
    row = row[0]
    for j, transfer in enumerate(row):
        new_row_dict = {}
        if transfer["to"]["clubName"] not in ["Retired", "Without Club", "Career break", "Unknown"]: 
            new_row_dict["player_id"] = int(players_df.iloc[i]["id"])
            new_row_dict["team_name"] = transfer["to"]["clubName"]
            if "date" not in transfer: new_row_dict["start_date"] = new_row_dict["end_date"] = np.nan
            else:
                new_row_dict["start_date"] = transfer["date"]
                if j>0: new_row_dict["end_date"] = row[j-1]["date"]
                else: new_row_dict["end_date"] = np.nan
            formatted_transfers_df = pd.concat([formatted_transfers_df, pd.DataFrame([new_row_dict])], ignore_index=True)
formatted_transfers_df

/var/folders/kw/kcr50hsd6zq1ldzcm_9h_m840000gn/T/ipykernel_12792/3633106890.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  row = row[0]

      player_id       team_name    start_date      end_date
0          8036          Alavés   Jul 1, 2002   Jul 1, 2005
1          8036       Barcelona   Jul 1, 1994   Jul 1, 2002
2          8036  Sporting Gijón   Jul 1, 1989   Jul 1, 1994
3          8036   Sporting Atl.   Jul 1, 1988   Jul 1, 1989
4        258051       Madureira  Dec 30, 1995   Jul 1, 1996
...         ...             ...           ...           ...
76525      4538    RKC Waalwijk   Aug 1, 2007  Jun 30, 2008
76526      4538      AZ Alkmaar  Jun 30, 2007   Aug 1, 2007
76527      4538       Excelsior   Jul 1, 2006  Jun 30, 2007
76528      4538      AZ Alkmaar   Jul 1, 2001   Jul 1, 2006
76529      4538     FC Volendam   Jul 1, 2000   Jul 1, 2001

[76530 rows x 4 columns]

In [149]:
formatted_transfers_df.loc[3523] #Mazinho

player_id           49131
team_name     Atlético-PR
start_date    Jan 1, 1989
end_date      Jan 1, 1990
Name: 3523, dtype: object

In [153]:
formatted_transfers_df[formatted_transfers_df.player_id==28003]

      player_id    team_name    start_date      end_date
48123     28003        Miami  Jul 15, 2023           NaN
48124     28003     Paris SG  Aug 10, 2021  Jul 15, 2023
48125     28003    Barcelona   Jul 1, 2005  Aug 10, 2021
48126     28003  Barcelona B   Mar 5, 2004   Jul 1, 2005
48127     28003  Barcelona C  Nov 28, 2003   Mar 5, 2004
48128     28003    Barça U19  Sep 13, 2003  Nov 28, 2003
48129     28003    Barça U16   Jul 1, 2002  Sep 13, 2003
48130     28003  Barça Youth   Jul 1, 2000   Jul 1, 2002

In [103]:
formatted_transfers_df[formatted_transfers_df.team_name=="Iraty"]

      player_id team_name    start_date     end_date
572       14948     Iraty  Jun 30, 2002  Jul 1, 2002
574       14948     Iraty   Jul 1, 2001  Jan 1, 2002
2496     122946     Iraty   May 1, 2008  Oct 1, 2008
2498     122946     Iraty   Dec 1, 2007  Jan 1, 2008
2500     122946     Iraty   Jul 1, 2006  Jun 1, 2007
43158     60561     Iraty   Jul 1, 2004  Aug 1, 2005
65917     56810     Iraty  Jun 30, 2008  Aug 1, 2008
65919     56810     Iraty   Oct 1, 2005  Jan 1, 2006

In [154]:
formatted_transfers_df["team_name"].value_counts()

team_name
Juventus       943
Inter          915
AS Roma        679
Benfica        645
FC Porto       624
              ...
Sestao           1
Aurrera          1
Mensajero        1
Liberia Mía      1
De Dijk          1
Name: count, Length: 7218, dtype: int64

In [155]:
formatted_transfers_df["team_name"] = formatted_transfers_df["team_name"].replace("Milan", "AC Milan")

In [156]:
formatted_transfers_cleaned_ids = formatted_transfers_df.copy()
counts = formatted_transfers_df["team_name"].value_counts().rank(method="first", ascending=False).astype(int)
formatted_transfers_cleaned_ids["team_name"] = formatted_transfers_cleaned_ids["team_name"].map(counts)
formatted_transfers_cleaned_ids.rename(columns={'team_name': 'team_id'}, inplace=True)
formatted_transfers_cleaned_ids

      player_id  team_id    start_date      end_date
0          8036      153   Jul 1, 2002   Jul 1, 2005
1          8036       18   Jul 1, 1994   Jul 1, 2002
2          8036      292   Jul 1, 1989   Jul 1, 1994
3          8036     2596   Jul 1, 1988   Jul 1, 1989
4        258051      524  Dec 30, 1995   Jul 1, 1996
...         ...      ...           ...           ...
76525      4538      198   Aug 1, 2007  Jun 30, 2008
76526      4538       78  Jun 30, 2007   Aug 1, 2007
76527      4538      344   Jul 1, 2006  Jun 30, 2007
76528      4538       78   Jul 1, 2001   Jul 1, 2006
76529      4538      509   Jul 1, 2000   Jul 1, 2001

[76530 rows x 4 columns]

In [157]:
formatted_transfers_cleaned_ids["start_date"] = pd.to_datetime(formatted_transfers_cleaned_ids["start_date"]).dt.strftime('%m/%d/%Y')
formatted_transfers_cleaned_ids["end_date"] = pd.to_datetime(formatted_transfers_cleaned_ids["end_date"]).dt.strftime('%m/%d/%Y')

In [158]:
formatted_transfers_cleaned_ids

      player_id  team_id  start_date    end_date
0          8036      153  07/01/2002  07/01/2005
1          8036       18  07/01/1994  07/01/2002
2          8036      292  07/01/1989  07/01/1994
3          8036     2596  07/01/1988  07/01/1989
4        258051      524  12/30/1995  07/01/1996
...         ...      ...         ...         ...
76525      4538      198  08/01/2007  06/30/2008
76526      4538       78  06/30/2007  08/01/2007
76527      4538      344  07/01/2006  06/30/2007
76528      4538       78  07/01/2001  07/01/2006
76529      4538      509  07/01/2000  07/01/2001

[76530 rows x 4 columns]

In [179]:
formatted_transfers_cleaned_ids.to_csv('players_and_teams_large.csv', index=True, index_label="id")

In [160]:
counts = formatted_transfers_df["team_name"].value_counts().rank(method="first", ascending=False).astype(int)
counts

team_name
Juventus          1
AC Milan          2
Inter             3
AS Roma           4
Benfica           5
               ...
Sestao         7213
Aurrera        7214
Mensajero      7215
Liberia Mía    7216
De Dijk        7217
Name: count, Length: 7217, dtype: int64

In [164]:
counts[:20]

team_name
Juventus            1
AC Milan            2
Inter               3
AS Roma             4
Benfica             5
FC Porto            6
Chelsea             7
Man Utd             8
Napoli              9
Lazio              10
Liverpool          11
Arsenal            12
Marseille          13
Monaco             14
Paris SG           15
Man City           16
Real Madrid        17
Barcelona          18
Ajax               19
Atlético Madrid    20
Name: count, dtype: int64

In [165]:
teams_df = pd.DataFrame({
    "id": counts.values,
    "team_name": counts.index
}).sort_values(by="id").reset_index(drop=True)
teams_df.to_csv('teams_large.csv', index=False)

In [166]:
teams_df

        id    team_name
0        1     Juventus
1        2     AC Milan
2        3        Inter
3        4      AS Roma
4        5      Benfica
...    ...          ...
7212  7213       Sestao
7213  7214      Aurrera
7214  7215    Mensajero
7215  7216  Liberia Mía
7216  7217      De Dijk

[7217 rows x 2 columns]

In [167]:
formatted_transfers_df[formatted_transfers_df["team_name"]=="AC Milan"]

      player_id team_name    start_date      end_date
197      237723  AC Milan  Jul 30, 1963   Jul 1, 1967
639        5937  AC Milan   Jun 9, 2003   Jul 1, 2008
1206       5800  AC Milan  Jun 30, 2002   Jul 1, 2010
1208       5800  AC Milan  Jun 30, 2000   Sep 1, 2001
1210       5800  AC Milan   Jul 1, 1999   Jul 2, 1999
...         ...       ...           ...           ...
75931    145526  AC Milan  Jun 30, 1972   Jul 1, 1972
75932    145526  AC Milan   Jul 1, 1971  Jun 30, 1972
76067      6794  AC Milan   Jul 1, 2001   Aug 1, 2001
76099     23194  AC Milan   Jul 1, 1997   Jul 1, 1998
76200       916  AC Milan   Jul 1, 1997   Jul 1, 1999

[927 rows x 4 columns]

In [168]:
formatted_transfers_df[formatted_transfers_df["player_id"]==8198]

      player_id        team_name    start_date      end_date
61579      8198         Al-Nassr   Jan 1, 2023           NaN
61580      8198          Man Utd  Aug 31, 2021  Nov 22, 2022
61581      8198         Juventus  Jul 10, 2018  Aug 31, 2021
61582      8198      Real Madrid   Jul 6, 2009  Jul 10, 2018
61583      8198          Man Utd  Aug 12, 2003   Jul 6, 2009
61584      8198      Sporting CP   Jul 1, 2002  Aug 12, 2003
61585      8198     Sporting U19   Jul 1, 2000   Jul 1, 2002
61586      8198     Sporting U17   Jul 1, 1998   Jul 1, 2000
61587      8198  Sporting Sub-15   Jul 1, 1997   Jul 1, 1998
61588      8198     Nacional U15   Jul 1, 1996   Jul 1, 1997
61589      8198    Nacional Yth.   Jul 1, 1995   Jul 1, 1996

In [169]:
players_df[players_df['id'].isin(players_df['id'][players_df['id'].duplicated()])]

Empty DataFrame
Columns: [id, player_name]
Index: []

In [266]:
from datetime import datetime, timedelta
threshold_date = datetime.now() - timedelta(days=15*365)
for index, row in formatted_transfers_cleaned_ids.iterrows():
    if pd.isna(row['end_date']) and pd.to_datetime(row['start_date'], format='%m/%d/%Y')  <= threshold_date:
        print(f"Row {index} for player {row["player_id"]} -- {players_df[players_df.id==row["player_id"]].player_name.values[0]} -- {row['start_date']}")

NameError: name 'formatted_transfers_cleaned_ids' is not defined

In [174]:
formatted_transfers_cleaned_ids.iloc[1068,]

player_id          43002
team_id             1141
start_date    08/01/2007
end_date             NaN
Name: 1068, dtype: object

In [177]:
nan_dates = formatted_transfers_cleaned_ids[formatted_transfers_cleaned_ids["start_date"].isna() & formatted_transfers_cleaned_ids["end_date"].isna()]
nan_dates

      player_id  team_id start_date end_date
1290     216040       84        NaN      NaN
1291     216040     1911        NaN      NaN
1292     216040      524        NaN      NaN
1293     216040      621        NaN      NaN
1294     216040       50        NaN      NaN
1295     216040       51        NaN      NaN
1296     216040       42        NaN      NaN
1297     216040       94        NaN      NaN
1298     216040       10        NaN      NaN
1299     216040      134        NaN      NaN
1300     216040      928        NaN      NaN
1301     216040       40        NaN      NaN
8283      54574     1318        NaN      NaN
12381    292923        4        NaN      NaN
12382    292923        1        NaN      NaN
15618      3802      184        NaN      NaN
15883     12808     3630        NaN      NaN
16148    226414        3        NaN      NaN
17030     56620     3312        NaN      NaN
26340    253990      317        NaN      NaN
26341    253990      772        NaN      NaN
26342    253990      337        NaN      NaN
26343    253990      910        NaN      NaN
36418      6164      276        NaN      NaN
44948    308279     3344        NaN      NaN
47265    170381        8        NaN      NaN
47266    170381      567        NaN      NaN
49814    510184      573        NaN      NaN

In [178]:
formatted_transfers_cleaned_ids = formatted_transfers_cleaned_ids[~(formatted_transfers_cleaned_ids["start_date"].isna() & formatted_transfers_cleaned_ids["end_date"].isna())]
nan_dates = formatted_transfers_cleaned_ids[formatted_transfers_cleaned_ids["start_date"].isna() & formatted_transfers_cleaned_ids["end_date"].isna()]
nan_dates

Empty DataFrame
Columns: [player_id, team_id, start_date, end_date]
Index: []

In [187]:
players_df[players_df.id==8036].player_name.values[0]

'Abelardo'

In [19]:
players_large = pd.read_csv("../players_large.csv")
players_medium = pd.read_csv("../players_medium.csv")

          id     player_name
0       8036        Abelardo
1     258051          Acacio
2      18699        Adailton
3     311030   Ademir (1951)
4      34495  Adriano (1984)
...      ...             ...
7972  289493  Adolfo Zumelzu
7973   37941   Camilo Zuniga
7974  250911  Rafael Zuviria
7975  892973  Lovro Zvonarek
7976    4538  Theo Zwarthoed

[7977 rows x 2 columns]

In [23]:
def is_similar(name, reference_names):
    return any(name.lower() in ref.lower() or ref.lower() in name.lower() for ref in reference_names)

reference_names = players_large['player_name'].tolist()
names_to_add = players_medium[~players_medium['player_name'].apply(lambda name: is_similar(name, reference_names))]

In [24]:
names_to_add

         id     player_name
21   174987      Lev Yashin
29   151244  Florian Albert
43   117372    Oleg Blokhin
54   117619            Zico
60   135269  Kenny Dalglish
..      ...             ...
954   42783      Andre Hahn
960   98349  Romain Hamouma
964  104904        Ruel Fox
966  187492   Julian Brandt
970   79642  Shinji Okazaki

[305 rows x 2 columns]

In [33]:
transfer_df_added = pd.DataFrame()
for index, row in names_to_add.iterrows():
    player_id = row.iloc[0]
    transfer_json = requests.get(f"http://localhost:8000/players/{player_id}/transfers").json()
    transfer_df_added = pd.concat([transfer_df_added, pd.DataFrame([transfer_json])], ignore_index=True)
    if index%20==0: print(row.iloc[1])

Kenny Dalglish
Jan Tomaszewski
Dragoslav Sekularac
Juan Manuel Asensi
Horst Nemec
Gerard Janvion
Anatoliy Byshovets
Vladislav Bogicevic
Kees Rijvers
Julio Botelho
Ezio Pascutti
Gilbert Gress
Vahid Halilhodzic
Ally McCoist
Jussi Jaaskelainen
Rene Adler
Romain Hamouma

In [34]:
transfer_df_added

,id,transfers,youthClubs,updatedAt
0,174987,"[{'id': '627853', 'from': {'clubID': '121', 'c...","[Krasny Oktyabr (Tushino, Moscow) - 1945]",2025-01-08T23:27:10.818027
1,151244,"[{'id': '425935', 'from': {'clubID': '279', 'c...",[Ferencváros Budapest],2025-01-08T23:27:11.908146
2,117372,"[{'id': '311592', 'from': {'clubID': '10586', ...",NaN,2025-01-08T23:27:13.169217
3,117619,"[{'id': '359084', 'from': {'clubID': '2241', '...",[Clube de Regatas do Flamengo],2025-01-08T23:27:14.007329
4,135269,"[{'id': '366022', 'from': {'clubID': '31', 'cl...",NaN,2025-01-08T23:27:14.873443
...,...,...,...,...
300,42783,"[{'id': '5190933', 'from': {'clubID': '1431', ...","[TSV Otterndorf (1997-2003), Leher TS Bremerha...",2025-01-08T23:32:30.713975
301,98349,"[{'id': '4567242', 'from': {'clubID': '1147', ...","[JS Luronnes, Belfort]",2025-01-08T23:32:31.687985
302,104904,"[{'id': '277006', 'from': {'clubID': '984', 'c...",NaN,2025-01-08T23:32:33.360381
303,187492,"[{'id': '2482926', 'from': {'clubID': '15', 'c...","[SC Borgfeld (2001-2009), FC Oberneuland (2009...",2025-01-08T23:32:34.077935
304,79642,"[{'id': '4909451', 'from': {'clubID': '475', '...",[Takarazuka Junior FC],2025-01-08T23:32:34.999116

In [41]:
names_to_add[names_to_add.id==200375]

         id         player_name
719  200375  Karl-Heinz Forster

In [40]:
transfer_df_added[transfer_df_added.transfers.isna()]

         id transfers youthClubs                   updatedAt
224  200375       NaN        NaN  2025-01-08T23:31:03.130323

In [129]:
transfers = transfer_df_added[['transfers']]
formatted_added_transfers_df = pd.DataFrame(columns=["player_id", "team_name", "start_date", "end_date"])
for i, row in transfers.iterrows():
    row = row.iloc[0]
    if isinstance(row, float): continue
    for j, transfer in enumerate(row):
        new_row_dict = {}
        if transfer["to"]["clubName"] not in ["Retired", "Without Club", "Career break", "Unknown"]: 
            new_row_dict["player_id"] = int(names_to_add.iloc[i]["id"])
            new_row_dict["team_name"] = transfer["to"]["clubName"]
            if "date" not in transfer: new_row_dict["start_date"] = new_row_dict["end_date"] = np.nan
            else:
                new_row_dict["start_date"] = transfer["date"]
                if j>0: new_row_dict["end_date"] = row[j-1]["date"]
                else: new_row_dict["end_date"] = np.nan
            formatted_added_transfers_df = pd.concat([formatted_added_transfers_df, pd.DataFrame([new_row_dict])], ignore_index=True)
formatted_added_transfers_df

     player_id        team_name    start_date      end_date
0       174987    Dinamo Moscow   Jan 1, 1949   Jan 1, 1971
1       151244      Ferencváros   Jul 1, 1958   Jul 1, 1974
2       117372    Aris Limassol   Jul 1, 1989   Jul 1, 1990
3       117372   Vorwärts Steyr   Mar 1, 1988   Jul 1, 1989
4       117372      Dynamo Kyiv   Jan 1, 1969   Mar 1, 1988
...        ...              ...           ...           ...
1632     79642        Málaga CF  Jul 30, 2019   Sep 4, 2019
1633     79642        Leicester   Jul 1, 2015  Jul 30, 2019
1634     79642   1.FSV Mainz 05   Jul 1, 2013   Jul 1, 2015
1635     79642    VfB Stuttgart  Jan 30, 2011   Jul 1, 2013
1636     79642  Shimizu S-Pulse   Feb 1, 2005  Jan 30, 2011

[1637 rows x 4 columns]

In [121]:
teams_df = pd.read_csv("../teams_large.csv")
teams_df

        id       team_name
0        1        Juventus
1        2        AC Milan
2        3           Inter
3        4         AS Roma
4        5         Benfica
...    ...             ...
7362  7364   Leher TS Jgd.
7363  7365     Besançon RC
7364  7366   Wolfsburg U19
7365  7367   Wolfsburg U17
7366  7368  Oberneul. Yth.

[7367 rows x 2 columns]

In [133]:
reference_teams = teams_df.team_name.tolist()
new_teams = formatted_added_transfers_df[~formatted_added_transfers_df['team_name'].isin(teams_df['team_name'])]["team_name"].unique()
new_teams

array(['Celtic U20', 'Spartak Brno', 'Újpesti Dózsa', 'AS Excelsior',
       'SKA Rostov', 'Spartak Praha', 'Vasas Izzó', 'Etar',
       'Bohemians CKD', 'LIAZ Jablonec', 'Toronto Falcons',
       'ŠK Bratislava', 'Spartak Sofia', 'Bayer 05', 'Zenit Leningrad',
       'Budapesti Vasas ', 'Locomotiva B.', 'Red Star ZH',
       'Iskra Bratislava', 'FC Locomotive', 'Lusitano FC', 'Vard',
       'Dimitrovgrad', 'Internapoli', 'Sparta Praha', 'Vancouver 86ers',
       'FCM Brasov', 'Neret. Metkovic', 'Rizespor', 'Venados II',
       'Atlas U17', 'Anger', 'Toluca U20', 'Valle de Bravo', 'Toluca U17',
       'Le Mans FC B', 'SC Interwetten', 'St. Pölten U17',
       'St. Pölten U15', 'St. Pölten Jgd'], dtype=object)

In [132]:
formatted_added_transfers_df["team_name"] = formatted_added_transfers_df["team_name"].replace("Milan", "AC Milan")
formatted_added_transfers_df["team_name"] = formatted_added_transfers_df["team_name"].replace("Swansea Town", "Swansea")
formatted_added_transfers_df["team_name"] = formatted_added_transfers_df["team_name"].replace("Bor. Dortmund", "Borussia Dortmund")

In [134]:
new_teams_df = pd.DataFrame()
for i, team in enumerate(new_teams): 
    new_row_dict = {"id": i+7369, "team_name": team}
    new_teams_df = pd.concat([new_teams_df, pd.DataFrame([new_row_dict])], ignore_index=True)
new_teams_df

      id         team_name
0   7369        Celtic U20
1   7370      Spartak Brno
2   7371     Újpesti Dózsa
3   7372      AS Excelsior
4   7373        SKA Rostov
5   7374     Spartak Praha
6   7375        Vasas Izzó
7   7376              Etar
8   7377     Bohemians CKD
9   7378     LIAZ Jablonec
10  7379   Toronto Falcons
11  7380     ŠK Bratislava
12  7381     Spartak Sofia
13  7382          Bayer 05
14  7383   Zenit Leningrad
15  7384  Budapesti Vasas
16  7385     Locomotiva B.
17  7386       Red Star ZH
18  7387  Iskra Bratislava
19  7388     FC Locomotive
20  7389       Lusitano FC
21  7390              Vard
22  7391      Dimitrovgrad
23  7392       Internapoli
24  7393      Sparta Praha
25  7394   Vancouver 86ers
26  7395        FCM Brasov
27  7396   Neret. Metkovic
28  7397          Rizespor
29  7398        Venados II
30  7399         Atlas U17
31  7400             Anger
32  7401        Toluca U20
33  7402    Valle de Bravo
34  7403        Toluca U17
35  7404      Le Mans FC B
36  7405    SC Interwetten
37  7406    St. Pölten U17
38  7407    St. Pölten U15
39  7408    St. Pölten Jgd

In [135]:
new_teams_df.to_csv('teams_extra.csv', index=False)

In [96]:
teams_df[teams_df.team_name=="Juventus"]["id"]

0    1
Name: id, dtype: int64

In [136]:
teams_df = pd.read_csv("../teams_large.csv")
formatted_added_transfers_cleaned_ids = formatted_added_transfers_df.copy()

In [137]:
teams_df

        id       team_name
0        1        Juventus
1        2        AC Milan
2        3           Inter
3        4         AS Roma
4        5         Benfica
...    ...             ...
7402  7404    Le Mans FC B
7403  7405  SC Interwetten
7404  7406  St. Pölten U17
7405  7407  St. Pölten U15
7406  7408  St. Pölten Jgd

[7407 rows x 2 columns]

In [138]:
formatted_added_transfers_cleaned_ids['team_name'] = formatted_added_transfers_cleaned_ids['team_name'].map(teams_df.set_index('team_name')['id'])

In [139]:
formatted_added_transfers_cleaned_ids

     player_id  team_name    start_date      end_date
0       174987        446   Jan 1, 1949   Jan 1, 1971
1       151244        902   Jul 1, 1958   Jul 1, 1974
2       117372       1168   Jul 1, 1989   Jul 1, 1990
3       117372       3816   Mar 1, 1988   Jul 1, 1989
4       117372        529   Jan 1, 1969   Mar 1, 1988
...        ...        ...           ...           ...
1632     79642        155  Jul 30, 2019   Sep 4, 2019
1633     79642         88   Jul 1, 2015  Jul 30, 2019
1634     79642         91   Jul 1, 2013   Jul 1, 2015
1635     79642        127  Jan 30, 2011   Jul 1, 2013
1636     79642       1343   Feb 1, 2005  Jan 30, 2011

[1637 rows x 4 columns]

In [171]:
formatted_added_transfers_cleaned_ids["start_date"] = pd.to_datetime(formatted_added_transfers_cleaned_ids["start_date"]).dt.strftime('%m/%d/%Y')
formatted_added_transfers_cleaned_ids["end_date"] = pd.to_datetime(formatted_added_transfers_cleaned_ids["end_date"]).dt.strftime('%m/%d/%Y')

In [143]:
formatted_added_transfers_cleaned_ids

     player_id  team_name  start_date    end_date
0       174987        446  01/01/1949  01/01/1971
1       151244        902  07/01/1958  07/01/1974
2       117372       1168  07/01/1989  07/01/1990
3       117372       3816  03/01/1988  07/01/1989
4       117372        529  01/01/1969  03/01/1988
...        ...        ...         ...         ...
1632     79642        155  07/30/2019  09/04/2019
1633     79642         88  07/01/2015  07/30/2019
1634     79642         91  07/01/2013  07/01/2015
1635     79642        127  01/30/2011  07/01/2013
1636     79642       1343  02/01/2005  01/30/2011

[1637 rows x 4 columns]

In [146]:
formatted_added_transfers_cleaned_ids.index = pd.RangeIndex(start=76532, stop=76532 + len(formatted_added_transfers_cleaned_ids), step=1)
formatted_added_transfers_cleaned_ids.to_csv('players_and_teams_extra.csv', index=True, index_label="id")

In [148]:
names_to_add.to_csv("players_extra.csv", index=False)

In [149]:
formatted_added_transfers_df

     player_id        team_name    start_date      end_date
0       174987    Dinamo Moscow   Jan 1, 1949   Jan 1, 1971
1       151244      Ferencváros   Jul 1, 1958   Jul 1, 1974
2       117372    Aris Limassol   Jul 1, 1989   Jul 1, 1990
3       117372   Vorwärts Steyr   Mar 1, 1988   Jul 1, 1989
4       117372      Dynamo Kyiv   Jan 1, 1969   Mar 1, 1988
...        ...              ...           ...           ...
1632     79642        Málaga CF  Jul 30, 2019   Sep 4, 2019
1633     79642        Leicester   Jul 1, 2015  Jul 30, 2019
1634     79642   1.FSV Mainz 05   Jul 1, 2013   Jul 1, 2015
1635     79642    VfB Stuttgart  Jan 30, 2011   Jul 1, 2013
1636     79642  Shimizu S-Pulse   Feb 1, 2005  Jan 30, 2011

[1637 rows x 4 columns]

In [154]:
#Select all players that have played on the major European teams in the past 30 years
major_clubs = ["Real Madrid", "Barcelona", "Atlético Madrid", "Chelsea", "Man Utd", "Man City", 
               "Arsenal", "Liverpool", "Tottenham", "Bayern Munich", "Borussia Dortmund", "Paris SG", 
               "Juventus", "AC Milan", "Inter", "Ajax", "AS Roma"]
major_club_ids = teams_df[teams_df['team_name'].isin(major_clubs)]['id'].tolist()
major_club_ids

[1, 2, 3, 4, 7, 8, 11, 12, 15, 16, 17, 18, 19, 20, 22, 27, 30]

In [242]:
best_player_ids = players_and_teams[players_and_teams['team_id'].isin(major_club_ids)]["player_id"].unique().tolist()
best_player_ids

[8036,
 34495,
 5876,
 3622,
 3835,
 4151,
 117634,
 105470,
 385271,
 62619,
 214158,
 135743,
 237723,
 6234,
 31645,
 277179,
 602105,
 44699,
 31422,
 28008,
 135738,
 153427,
 207834,
 9813,
 516716,
 52947,
 246277,
 5937,
 245262,
 16306,
 38893,
 117606,
 50935,
 304914,
 26101,
 9826,
 87469,
 312862,
 145707,
 16136,
 8564,
 109,
 42352,
 5800,
 137264,
 17563,
 109038,
 20392,
 58426,
 238223,
 51751,
 5343,
 26717,
 34159,
 20053,
 74600,
 70,
 971570,
 1056993,
 8128,
 110,
 1396,
 225693,
 117621,
 156501,
 26267,
 51174,
 191614,
 237191,
 7609,
 179897,
 341705,
 33481,
 430418,
 18734,
 20386,
 7530,
 607224,
 52897,
 13886,
 85288,
 2758,
 224104,
 53309,
 134936,
 34156,
 102017,
 17166,
 170715,
 81999,
 7776,
 7542,
 7647,
 202890,
 3366,
 68821,
 281404,
 14123,
 17221,
 37758,
 3365,
 74229,
 3189,
 145511,
 102586,
 77,
 18301,
 323704,
 15291,
 9822,
 64484,
 44501,
 273236,
 53288,
 668268,
 181767,
 170710,
 4317,
 49131,
 4329,
 35198,
 33357,
 15460,
 282727,
 33706,
 7901,
 184495,
 29091,
 111819,
 68290,
 70934,
 7916,
 85314,
 160400,
 3623,
 57229,
 683840,
 65278,
 99189,
 48930,
 14132,
 135098,
 64339,
 33947,
 102583,
 54170,
 411295,
 7349,
 12151,
 627226,
 378710,
 47653,
 3372,
 15511,
 357565,
 412363,
 401527,
 27300,
 7942,
 3373,
 3140,
 37598,
 743591,
 7976,
 9829,
 5819,
 84511,
 8019,
 111961,
 3359,
 353162,
 15978,
 7535,
 412669,
 7557,
 7528,
 26542,
 151248,
 223767,
 4328,
 52769,
 7607,
 52119,
 95417,
 223330,
 16631,
 221662,
 3507,
 28002,
 5283,
 24721,
 331726,
 71318,
 481928,
 40688,
 164478,
 131075,
 214164,
 28238,
 44062,
 5774,
 258878,
 102,
 8883,
 85563,
 395236,
 48974,
 15760,
 872380,
 7821,
 28862,
 22832,
 118258,
 180478,
 569384,
 247421,
 26399,
 384807,
 236490,
 30710,
 251912,
 25484,
 284730,
 682032,
 177476,
 969192,
 197642,
 59016,
 69751,
 3390,
 117597,
 128220,
 145362,
 15452,
 116143,
 126716,
 60444,
 748319,
 42710,
 284854,
 9804,
 314353,
 134926,
 7700,
 149247,
 34334,
 149945,
 3266,
 81396,
 237855,
 176672,
 51452,
 207929,
 534033,
 618405,
 5792,
 5890,
 16621,
 47594,
 7868,
 170709,
 112515,
 7476,
 5548,
 31571,
 116678,
 576024,
 76077,
 15951,
 249219,
 348470,
 7496,
 3167,
 5818,
 4294,
 300072,
 16810,
 20896,
 4429,
 104046,
 1263,
 4150,
 73472,
 287579,
 8062,
 145374,
 4619,
 116679,
 148344,
 3500,
 117188,
 15351,
 81569,
 191,
 3277,
 7491,
 36356,
 3226,
 89669,
 122695,
 51776,
 30670,
 433181,
 333227,
 145518,
 55854,
 1145504,
 45565,
 301773,
 6792,
 5935,
 33821,
 305402,
 395693,
 569385,
 5975,
 3279,
 5957,
 135744,
 27492,
 238652,
 513970,
 480267,
 28260,
 368051,
 116144,
 135800,
 120629,
 18900,
 348929,
 120443,
 84921,
 3525,
 73786,
 7770,
 41384,
 116128,
 19182,
 3282,
 580193,
 192279,
 15378,
 7451,
 9487,
 63531,
 21880,
 296622,
 543771,
 72047,
 57275,
 18310,
 7654,
 14244,
 176290,
 87210,
 5500,
 170711,
 2887,
 186997,
 33324,
 58864,
 54896,
 256339,
 85968,
 264956,
 585982,
 84550,
 7570,
 127032,
 428016,
 748601,
 295313,
 117485,
 7565,
 143470,
 180337,
 938146,
 57500,
 40205,
 5815,
 3850,
 224884,
 4831,
 3153,
 192,
 16135,
 306917,
 5972,
 463603,
 54659,
 5843,
 4153,
 116682,
 164897,
 8016,
 117189,
 286384,
 5761,
 864799,
 53602,
 354898,
 182618,
 198589,
 7935,
 361065,
 102187,
 35640,
 641537,
 134497,
 238752,
 21901,
 176349,
 39381,
 575998,
 6900,
 135908,
 9423,
 63,
 3693,
 296422,
 6034,
 503770,
 45146,
 187019,
 21876,
 183334,
 12899,
 189691,
 12249,
 37846,
 116145,
 32612,
 15952,
 221899,
 4191,
 44787,
 244275,
 15773,
 249916,
 255942,
 42049,
 235928,
 8063,
 131978,
 306376,
 3222,
 67250,
 176493,
 120379,
 3216,
 32522,
 671915,
 176896,
 3290,
 58516,
 176676,
 108757,
 3291,
 55907,
 3289,
 226437,
 3292,
 99922,
 13778,
 40979,
 7109,
 2,
 461883,
 33951,
 74471,
 315853,
 12142,
 5959,
 117477,
 179184,
 373963,
 120391,
 102151,
 16474,
 216443,
 290162,
 102030,
 176624,
 10384,
 20584,
 72347,
 3139,
 288255,
 12145,
 108,
 8124,
 145779,
 33873,
 45566,
 6060,
 3297,
 357992,
 191217,
 7829,
 581678,
 380111,
 3115,
 135782,
 3639,
 167727,
 5782,
 167791,
 3300,
 201040,
 45124,
 7858,
 29993,
 34557,
 387636,
 99923,
 135783,
 245343,
 308709,
 337027,
 351816,
 13239,
 354362,
 50201,
 3205,
 18922,
 872171,
 177843,
 289304,
 65,
 215891,
 61812,
 91241,
 3823,
 541231,
 4312,
 3218,
 116129,
 4479,
 129554,
 3187,
 107860,
 490606,
 866246,
 284165,
 480364,
 197300,
 19436,
 126719,
 395512,
 21752,
 57,
 102473,
 99227,
 237856,
 40611,
 381370,
 174986,
 255302,
 300543,
 116648,
 389628,
 152724,
 45567,
 7688,
 7927,
 482296,
 155070,
 254422,
 20726,
 228534,
 56693,
 427197,
 287247,
 56,
 26721,
 145523,
 28009,
 124555,
 5753,
 176443,
 3601,
 32950,
 3302,
 24661,
 441986,
 787912,
 93844,
 618415,
 7797,
 102510,
 13992,
 134414,
 128898,
 176007,
 95548,
 3113,
 5483,
 495621,
 94044,
 6090,
 29835,
 12282,
 101044,
 227996,
 3095,
 3354,
 31393,
 31110,
 119213,
 122696,
 26485,
 16922,
 89545,
 661207,
 104,
 141231,
 42678,
 452997,
 221211,
 27305,
 39373,
 3518,
 581604,
 3519,
 475413,
 3155,
 55247,
 521,
 69642,
 3571,
 176210,
 222969,
 60979,
 49521,
 3515,
 4291,
 22188,
 7587,
 57280,
 5856,
 121088,
 176742,
 17173,
 117229,
 293486,
 399600,
 126265,
 145375,
 130347,
 104220,
 19119,
 196048,
 39983,
 81808,
 215581,
 237858,
 116685,
 192594,
 96754,
 176781,
 5825,
 258879,
 4582,
 14216,
 22449,
 3249,
 4376,
 26239,
 88542,
 4327,
 4489,
 106893,
 36358,
 5418,
 126412,
 562049,
 176900,
 176901,
 88262,
 4176,
 16731,
 719166,
 624258,
 165411,
 135000,
 405303,
 95732,
 169692,
 156521,
 40423,
 106846,
 3771,
 371247,
 135270,
 409209,
 5339,
 16056,
 13766,
 21838,
 176216,
 459128,
 217797,
 3682,
 5868,
 407009,
 209645,
 26804,
 229088,
 6105,
 473169,
 5812,
 148378,
 3191,
 245805,
 13509,
 127996,
 3405,
 156617,
 104635,
 88721,
 407848,
 56618,
 88755,
 74956,
 620,
 33439,
 5023,
 174157,
 293086,
 421940,
 465955,
 3802,
 104233,
 3417,
 145342,
 7745,
 215583,
 59027,
 176293,
 5791,
 177825,
 120392,
 134927,
 65230,
 439629,
 106,
 294,
 3543,
 38003,
 4740,
 176035,
 12808,
 19948,
 29434,
 102423,
 186195,
 116689,
 224103,
 54935,
 348602,
 27511,
 37834,
 262523,
 502821,
 226414,
 197470,
 106973,
 126414,
 223458,
 176036,
 216078,
 61253,
 10006,
 481173,
 106847,
 5474,
 300938,
 640428,
 7520,
 5762,
 21782,
 42411,
 131248,
 3198,
 380098,
 3274,
 119296,
 12149,
 313735,
 66106,
 182712,
 5939,
 448946,
 25488,
 6242,
 10367,
 3699,
 7562,
 5775,
 34604,
 12000,
 300075,
 601877,
 7486,
 145345,
 63494,
 6030,
 245233,
 146752,
 177667,
 3389,
 7566,
 731491,
 787618,
 72648,
 5570,
 443222,
 16811,
 3570,
 176022,
 217801,
 13444,
 178738,
 7518,
 412255,
 73858,
 120380,
 214766,
 5691,
 3597,
 140776,
 23348,
 811778,
 16593,
 3878,
 39118,
 3534,
 14555,
 145782,
 341049,
 138927,
 559263,
 9828,
 622380,
 224044,
 15447,
 176085,
 107,
 27486,
 3979,
 102485,
 300076,
 150434,
 21859,
 5962,
 301236,
 16975,
 91915,
 54929,
 215892,
 237864,
 6058,
 62358,
 195171,
 13872,
 224007,
 176682,
 15882,
 121280,
 128882,
 503485,
 53231,
 472699,
 48280,
 430280,
 15799,
 166640,
 319745,
 5658,
 44709,
 21146,
 7521,
 251075,
 348795,
 21748,
 287539,
 134974,
 22412,
 2943,
 30945,
 5557,
 3159,
 59631,
 3658,
 128900,
 346314,
 19085,
 14000,
 215118,
 5805,
 43458,
 3501,
 1519,
 140749,
 174874,
 107083,
 721227,
 98322,
 3602,
 120395,
 251037,
 484318,
 29260,
 224550,
 341092,
 316125,
 18875,
 5745,
 301769,
 123261,
 17332,
 4314,
 344830,
 45660,
 9682,
 6741,
 196948,
 401922,
 5569,
 25732,
 395251,
 307563,
 159902,
 146227,
 7812,
 3796,
 3966,
 3800,
 57515,
 243800,
 97099,
 559794,
 188518,
 130301,
 13406,
 73484,
 7449,
 114091,
 101322,
 85177,
 102427,
 37906,
 3508,
 5198,
 35462,
 130987,
 705270,
 33648,
 176107,
 249436,
 3238,
 3182,
 3179,
 3876,
 491705,
 4441,
 282722,
 107065,
 116697,
 106811,
 6150,
 120523,
 487843,
 43411,
 5836,
 415454,
 243714,
 237867,
 236049,
 7279,
 487474,
 7912,
 176295,
 181373,
 5759,
 6748,
 39717,
 111227,
 116698,
 25318,
 5808,
 7771,
 13404,
 5986,
 74869,
 16633,
 5772,
 321665,
 96630,
 5921,
 ...]

In [243]:
best_players = players_df[players_df['id'].isin(best_player_ids)]["player_name"].tolist()
best_players

['Abelardo',
 'Adriano (1984)',
 'Adriano (1982)',
 'Agostinho',
 'Alcides',
 'Aldair',
 'Alemao',
 'Alisson',
 'Allan (1997)',
 'Aloisio',
 'Amador',
 'Amancio',
 'Amarildo (1939)',
 'Amauri',
 'Anderson',
 'Angelino',
 'Antony',
 'Antunes',
 'Athirson',
 'Babu',
 'Baltazar',
 'Bebe',
 'Bono',
 'Bosingwa',
 'Bremer',
 'Breno',
 'Burgui',
 'Cafu',
 'Canario',
 'Casemiro',
 'Ceara',
 'Chendo',
 'Chicharito',
 'Chinesinho',
 'Cicinho',
 'Costinha (1974)',
 'Cote',
 'Dalbert',
 'Danilo (1991)',
 'Dante',
 'Deco',
 'Dede',
 'Denilson (1988)',
 'Dida (1973)',
 'Didi',
 'Dimas',
 'Dodo (1992)',
 'Doni',
 'Douglas (1990)',
 'Ederson (1993)',
 'Edinho (1979)',
 'Edmilson (1976)',
 'Edmilson (1971)',
 'Eduardo',
 'Elano',
 'Elias',
 'Emerson (1976)',
 'Endrick',
 'Estevao',
 'Eusebio (1964)',
 'Evanilson (1975)',
 'Ewerthon',
 'Fabinho (1993)',
 'Falcao',
 'Felipe',
 'Fernandinho',
 'Fernando',
 'Fred',
 'Gallego',
 'Geovanni',
 'Geraldao',
 'Gerson (1997)',
 'Gervinho',
 'Ghito',
 'Gilberto (1976)',
 'Gladstone',
 'Guti',
 'Hannibal',
 'Hernanes',
 'Hilario',
 'Isco',
 'Jaime',
 'Jair (1940)',
 'Jeffren',
 'Jese',
 'Jo',
 'Jorginho (1991)',
 'Jorginho (1964)',
 'Joseito',
 'Joselu',
 'Josemi',
 'Juanfran',
 'Juanito (1976)',
 'Juary',
 'Kaka',
 'Keirrison',
 'Kenedy (1996)',
 'Kenedy (1974)',
 'Kennedy',
 'Kerlon',
 'Kleberson',
 'Koke',
 'Lauren',
 'Leivinha',
 'Leonardo',
 'Lucio',
 'Maicon (1981)',
 'Malcom',
 'Mancini',
 'Maniche',
 'Manucho',
 'Marcelo',
 'Marlon',
 'Marquinho',
 'Marquinhos (2003)',
 'Marquinhos (1994)',
 'Marquitos',
 'Maxwell',
 'Mazinho (1965)',
 'Mido',
 'Mineiro',
 'Miranda',
 'Mista',
 'Monchu',
 'Nani',
 'Nano',
 'Nayim',
 'Nene (1981)',
 'Neto',
 'Neymar',
 'Nolito',
 'Oleguer',
 'Oscar',
 'Pachin',
 'Pauleta',
 'Paulinho (1988)',
 'Pedri',
 'Pedro (1987)',
 'Pele (1991)',
 'Pele (1987)',
 'Pepe (1983)',
 'Pirri',
 'Pizzi',
 'Rafinha (1985)',
 'Rai',
 'Ramires',
 'Raphinha',
 'Raul',
 'Reinaldo (1979)',
 'Reinier',
 'Richarlison',
 'Rincon',
 'Rivaldo',
 'Robinho',
 'Rodri',
 'Rodrygo',
 'Rogerio',
 'Rolando',
 'Romario',
 'Ronaldinho',
 'Ronaldo (1976)',
 'Rubinho',
 'Savinho',
 'Savio',
 'Secretario',
 'Serginho',
 'Silvio',
 'Simao',
 'Suso',
 'Sylvinho',
 'Tilico',
 'Tinga',
 'Tote',
 'Trincao',
 'Vagner',
 'Valdo',
 'Vampeta',
 'Vava',
 'Vitor',
 'Wamberto',
 'Willian',
 'Xavi',
 'Patrick van Aanholt',
 'Einar Jan Aas',
 'Beniamino Abate',
 'Ignazio Abate',
 'Eduard Abazaj',
 'Christian Abbiati',
 'Damia Abella',
 'Eric Abidal',
 'Stanley Aborah',
 'Tammy Abraham',
 'Rudiger Abramczik',
 'Manuel Abreu',
 'Fabrice Abriel',
 'Mohammed Abu',
 'Francesco Acerbi',
 'Juan Acosta',
 'Tony Adams',
 'Antonio Adan',
 'Daniele Adani',
 'Tosin Adarabioyo',
 'Otto Addo',
 'Emmanuel Adebayor',
 'Dominic Adiyiah',
 'Yacine Adli',
 'Luiz Adriano',
 'Ibrahim Afellay',
 'Felix Afena-Gyan',
 'David Aganzo',
 'Michael Agazzi',
 'Daniel Agger',
 'Luigi De Agostini',
 'Massimo Agostini',
 'Lucien Agoume',
 'Juan Aguero',
 'Sergio Aguero',
 'Thomas Agyepong',
 'Ola Aina',
 'Ismail Aissati',
 'Semi Ajayi',
 'Olasunkanmi Akande Ajide',
 'Manuel Akanji',
 'Marley Ake',
 'Nathan Ake',
 'Ebenezer Akinsanmiro',
 'Chuba Akpom',
 'David Alaba',
 'Jordi Alba',
 'Demetrio Albertini',
 'Julio Alberto',
 'Luis Alberto',
 'Enrico Albertosi',
 'Raul Albiol',
 'Arthur Albiston',
 'Paco Alcacer',
 'Thiago Alcantara',
 'Carlos Alcaraz',
 'Toby Alderweireld',
 'Carles Alena',
 'Dmitriy Alenichev',
 'Trent Alexander-Arnold',
 'Jose Ramon Alexanko',
 'Pablo Alfaro',
 'Rob Alflen',
 'Enrico Alfonso',
 'Jimmy Algerino',
 'Jeremie Aliadiere',
 'Denis Alibec',
 'Luigi Allemandi',
 'Clive Allen',
 'Joe Allen',
 'Dele Alli',
 'Alexis Mac Allister',
 'Teddy Alloh',
 'Matias Almeyda',
 'Sergio Almiron (1980)',
 'Manuel Almunia',
 'Zlatan Alomerovic',
 'Diego Alonso',
 'Juanito Alonso',
 'Marcos Alonso (1990)',
 'Xabi Alonso',
 'Jerome Alonzo',
 'Jose Altafini',
 'Alessandro Altobelli',
 'Julian Alvarez',
 'Ricardo Alvarez',
 'Dani Alves',
 'Amedeo Amadei',
 'Alfredo Amarillo',
 'Jose Amavisca',
 'Gabriele Ambrosetti',
 'Massimo Ambrosini',
 'Marco Ambrosio',
 'Claudio Ambu',
 'Marco Amelia',
 'Raffaele Ametrano',
 'Matthew Amoah',
 'Guillermo Amor',
 'Marcio Amoroso',
 'Nicola Amoruso',
 'Ben Amos',
 'Sofyan Amrabat',
 'Emmanuel Amunike',
 'Pietro Anastasi',
 'Giannis Anastasiou',
 'Carlo Ancelotti',
 'Lucas Andersen',
 'Sonny Anderson',
 'Viv Anderson',
 'Andreas Andersson',
 'Bjorn Andersson',
 'Patrik Andersson',
 'Darren Anderton',
 'Jorge Andrade (1978)',
 'Marco Andreolli',
 'Nicolas Anelka',
 'Antonio Angelillo',
 'Martin Angha',
 'Jocelyn Angloma',
 'Vurnon Anita',
 'Tino Anjorin',
 'Silvio Anocic',
 'Angelo Anquilletti',
 'Cristian Ansaldi',
 'Aaron Anselmino',
 'Luca Antonelli',
 'Roberto Antonelli',
 'Luca Antonini',
 'Francesco Antonioli',
 'Godwin Antwi',
 'Eduardo Anzarda',
 'Houssem Aouar',
 'Adil Aouchiche',
 'Stephen Appiah',
 'Michael Appleton',
 'Alberto Aquilani',
 'Luis Aragones',
 'Sergio Aragoneses',
 'Jose Araquistain',
 'Julian Araujo',
 'Ronald Araujo',
 'Alvaro Arbeloa',
 'Pietro Arcari',
 'Steve Archibald',
 'Osvaldo Ardiles',
 'Alphonse Areola',
 'Hatem Ben Arfa',
 'Fernando Argila',
 'Santiago Arias',
 'Lorenzo Ariaudo',
 'Sylvain Armand',
 'Pablo Armero',
 'Francesc Arnau',
 'Marko Arnautovic',
 'Frank Arnesen',
 'Salvatore Aronica',
 'Pegguy Arphexad',
 'Bright Arrey-Mbi',
 'Kepa Arrizabalaga',
 'Andrey Arshavin',
 'Mikel Arteta',
 'Shota Arveladze',
 'Kwadwo Asamoah',
 'Diego De Ascentis',
 'Marco Asensio',
 'Kristjan Asllani',
 'Iago Aspas',
 'Oussama Assaidi',
 'Benoit Assou-Ekotto',
 'Marcos Assuncao',
 'Paulo Assuncao',
 'John Aston',
 'Davide Astori',
 'Jean-Hugues Ateba',
 'Angel Atienza',
 'Thimothee Atouba',
 'Christian Atsu',
 'Catilina Aubameyang',
 'Pierre-Emerick Aubameyang',
 'William-Fils Aubameyang',
 'Emil Audero',
 'Klaus Augenthaler',
 'Jean-Kevin Augustin',
 'Carlos Augusto',
 'Raimond Aumann',
 'Fabio Aurelio',
 'Serge Aurier',
 'Brandon Austin',
 'Gaston Avila',
 'Taiwo Awoniyi',
 'William Ayache',
 'Roberto Ayala',
 'Ruben Ayala',
 'Sardar Azmoun',
 'Adam Aznou',
 'Cesar Azpilicueta',
 'Demba Ba',
 'Ibrahim Ba',
 'Espen Baardsen',
 'Abdul Rahman Baba',
 'Tijani Babangida',
 'Celestine Babayaro',
 'Markus Babbel',
 'Ryan Babel',
 'Giancarlo Bacci',
 'Jonathan Bachini',
 'Benoit Badiashile',
 'Holger Badstuber',
 'Dino Baggio',
 'Roberto Baggio',
 'Salvatore Bagni',
 'Jean-Christophe Bahebeck',
 'Vitor Baia',
 'Gary Bailey',
 'Eric Bailly',
 'Davide Baiocco',
 'Stefan Bajcetic',
 'Marvin Bakalorz',
 'Axel Bakayoko',
 'Tiemoue Bakayoko',
 'Lewis Baker',
 'Jose Mari Bakero',
 'Mitchel Bakker',
 'Abel Balbo',
 'Javier Balboa',
 'Tommaso Baldanzi',
 'Ibrahima Balde',
 'Keita Balde',
 'Francesco Baldini',
 'Tommy Baldwin',
 'Gareth Bale',
 'Leonardo Balerdi',
 'Elvir Baljic',
 'Alan Ball',
 'Michael Ball',
 'Michael Ballack',
 'Salva Ballesta',
 'Fode Ballo-Toure',
 'Marco Ballotta',
 'Folarin Balogun',
 'Mario Balotelli',
 'Gert Bals',
 'Federico Balzaretti',
 'Patrick Bamford',
 'Zoran Ban',
 'Jannik Bandowski',
 'Ever Banega',
 'Albert Baning',
 'Eamonn Bannon',
 'Helder Baptista',
 'Julio Baptista',
 'Leo Baptistao',
 'Ruben Baraja',
 'Nacer Barazite',
 'Gabriel Barbosa',
 'Phil Bardsley',
 'Larbi Ben Barek',
 'Nicolo Barella',
 'Franco Baresi',
 'Paolo Barison',
 'Sergi Barjuan',
 'Ross Barkley',
 'Mario Barluzzi',
 'Nick Barmby',
 'Michael Barnes',
 'Peter Barnes',
 'Marco Baroni',
 'Milan Baros',
 'Antonio Barragan',
 'Enzo Barrenechea',
 'Colin Barrett',
 'Graham Barrett',
 'Lucas Barrios',
 'Paul Barron',
 'Rui Barros',
 'Gareth Barry',
 'Gustavo Bartelt',
 'Fabien Barthez',
 'Agostino Di Bartolomei',
 'Joey Barton',
 'Marc Bartra',
 'Vince Bartram',
 'Ahmed Barusso',
 'Andrea Barzagli',
 'Mario Basler',
 'Calvin Bassey',
 'Sebastien Bassong',
 'Marco van Basten',
 'Alessandro Bastoni',
 'Michel Bastos',
 'Gabriel Batistuta',
 'Joel Bats',
 'Michy Batshuayi',
 'Celso Battaia',
 'Sergio Battistini',
 'Hans Bauer',
 'Alexander Baumjohann',
 'Riechedly Bazoer',
 'Gastone Bean',
 'Peter Beardsley',
 'Russell Beardsmore',
 'Dave Beasant',
 'DaMarcus Beasley',
 'Franz Beckenbauer',
 'David Beckham',
 'Donny van de Beek',
 'Milan Berck Beelenkamp',
 'Wolfgang de Beer',
 'Txiki Begiristain',
 'Jim Beglin',
 'Asmir Begovic',
 'Tijani Belaid',
 'Emanuele Belardi',
 'Craig Bellamy',
 'Raoul Bellanova',
 'Hector Bellerin',
 'Juliano Belletti',
 'Jude Bellingham',
 'Savino Bellini',
 'David Bellion',
 'Mauro Bellugi',
 'Djamel Belmadi',
 'Andrea Belotti',
 'Emre Belozoglu',
 'Stefano Beltrame',
 'Ali Benarbia',
 'Marco Benassi',
 'Medhi Benatia',
 'Yossi Benayoun',
 'Sven Bender',
 'Nicklas Bendtner',
 'Cesare Benedetti',
 'Simone Benedetti',
 'Romeo Benetti',
 'Victor Benites',
 'Julio Cesar Benitez',
 'Fabian Benko',
 'Ismael Bennacer',
 'Darren Bent',
 'Rodrigo Bentancur',
 'Christian Benteke',
 'David Bentley',
 'Karim Benzema',
 'Lucas Beraldo',
 'Domenico Berardi',
 'Javier Berasaluce',
 'Dimitar Berbatov',
 'Giancarlo Bercellino',
 'Yuri Berchiche',
 'Giacomo Beretta',
 'Henning Berg',
 'Sepp van den Berg',
 'Andre Bergdolmo',
 'Patrik Berger',
 'Klaus Berggreen',
 'Dave van den Bergh',
 'Steven Berghuis',
 'Dennis Bergkamp',
 'Giuseppe Bergomi',
 'Lucas Bergstrom',
 'Lucas Bergvall',
 'Steven Bergwijn',
 'Daniel Bernard',
 'Federico Bernardeschi',
 'Antonino Bernardini',
 'Juan Bernat',
 'Antoine Bernede',
 'Tommaso Berni',
 'Thomas Berthold',
 'Nicola Berti',
 'Andrea Bertolacci',
 'Luigi Bertolini',
 'Ryan Bertrand',
 'Pietro Beruatto',
 'George Best',
 'Aldo Bet',
 'Antonio Betancort',
 'Marcus Bettinelli',
 'Lorenzo Bettini',
 'Giovanni Bia',
 'Jonathan Biabiany',
 'Leo Biagini',
 'Luigi Di Biagio',
 'Armando Bianchi',
 'Carlos Bianchi',
 'Ottavio Bianchi',
 'Rolando Bianchi',
 'Walter Bianchi',
 'Raffaele Bianco',
 'William Bianda',
 'Krystian Bielik',
 'Oliver Bierhoff',
 'Lucas Biglia',
 'Alberto Bigon',
 'Jonatan Binotto',
 'Cristiano Biraghi',
 'Alessandro Birindelli',
 'Garry Birtles',
 'Igor Biscan',
 'Amaury Bischoff',
 'Mikkel Bischoff',
 'Milan Bisevac',
 'Yann Bisseck',
 'El Chadaille Bitshiabu',
 'Leonardo Bittencourt',
 'Nathan Bitumazala',
 'Albano Bizzarri',
 'Stig Inge Bjornebye',
 'Tommy Black',
 'Tyler Blackett',
 'Jamal Blackman',
 'Clayton Blackmore',
 'Ramiro Blacut',
 'Laurent Blanc',
 'Jocelyn Blanchard',
 'Antonio Blanco',
 'Horst Blankenburg',
 'Manuele Blasi',
 'Jakub Blaszczykowski',
 'Daley Blind',
 'Danny Blind',
 'Luther Blissett',
 'Jesper Blomqvist',
 'Jonathan Blondel',
 'Sandro Bloudek',
 'Emmanuel Boakye',
 'Richmond Boakye',
 'Daniel Boateng',
 'Jerome Boateng',
 'Kevin-Prince Boateng',
 'Zvonimir Boban',
 'Oscar Bobb',
 'Fredi Bobic',
 'Jules Bocande',
 'Salvatore Bocchetti',
 'Peter Bodak',
 'Luciano Bodini',
 'Mathieu Bodmer',
 'Darko Bodul',
 'Frank de Boer',
 'Pietro Boer',
 'Ronald de Boer',
 'Sacha Boey',
 'Winston Bogarde',
 'Adam Bogdan',
 'Rade Bogdanovic',
 'Nicolai Boilesen',
 'Alen Boksic',
 'Bob Bolder',
 'Simone Boldini',
 'Yannick Boli',
 'Francesco Bolzoni',
 'Mark van Bommel',
 'Samuele Dalla Bona',
 'Massimo Bonanni',
 'Roberto Bonano',
 'Giacomo Bonaventura',
 'Daniele Bonera',
 'Dario Bonetti',
 'Peter Bonetti',
 'Riccardo Bonetto',
 'Zbigniew Boniek',
 'Antoine Bonifaci',
 'Enrico Boniforti',
 'Massimo Bonini',
 'Roberto Boninsegna',
 'Filippo Boniperti',
 'Hendrik Bonmann',
 'Landry Bonnefoi',
 'Franco Bontadini',
 'Leonardo Bonucci',
 'Wilfried Bony',
 'Ivano Bordon',
 'Felice Borel',
 'Claudio Borghi',
 'Stefano Borgonovo',
 'Fabio Borini',
 'Petar Borota',
 'Marco Borriello',
 'Cameron Borthwick-Jackson',
 'Sander Boschker',
 'Denis Boshnjaku',
 'John Bosman',
 'Mark Bosnich',
 'Paul Bosvelt',
 'Pedro Botelho',
 'Ruben Botta',
 'Nourdin Boukhari',
 'Khalid Boulahrouz',
 'Steve Bould',
 'Daniel Maa Boumsong',
 'Jean-Alain Boumsong',
 'Ouasim Bouy',
 'Edoardo Bove',
 'Stan Bowles',
 'Ian Bowyer',
 'Dedryck Boyata',
 'Valeri Bozhinov',
 'Edson Braafheid',
 'Adolfo Bracero',
 'Conor Bradley',
 'Liam Brady',
 'Abel Braga',
 'Giorgio Braglia',
 'Martin Braithwaite',
 'Marco Branca',
 'Laurentiu Branescu',
 'Claudio Bravo',
 'Daniel Bravo',
 'Raul Bravo',
 'Gabriel Brazao',
 'Alan Brazil',
 'Derek Brazil',
 'Jeremie Brechet',
 'Andreas Brehme',
 'Paul Breitner',
 'Julien Brellier',
 'Shay Brennan',
 'Marco Brescianini',
 'Massimo Briaschi',
 'Wayne Bridge',
 'Matteo Brighi',
 'Francesco Brignani',
 'Sergio Brio',
 'Andrea Briotti',
 'Francois Brisson',
 'Drazen Brncic',
 'Brian Brobbey',
 'Cristian Brocchi',
 'John van den Brom',
 'Giovanni van Bronckhorst',
 'Izzy Brown',
 'Michael Brown',
 'Reece Brown',
 'Wes Brown',
 'Marcelo Brozovic',
 'Steve Bruce',
 'Jeffrey Bruma',
 'Luigi Brunella',
 'Matteo Bruscagin',
 'Kevin De Bruyne',
 'Marcel Buchel',
 'Delron Buckley',
 'Carlos Bueno',
 'Gianluigi Buffon',
 'Lorenzo Buffon',
 'Ottavio Bugatti',
 'Gianni Bui',
 'Marcin Bulka',
 'Goran Bunjevcevic',
 'Guillermo Burdisso',
 'Nicolas Burdisso',
 'Tarcisio Burgnich',
 'German Burgos',
 'Ruben Buriani',
 'Roman Burki',
 'Francis Burns',
 'Okan Buruk',
 'Pietro Buscaglia',
 'Renato Buso',
 'Carles Busquets',
 'Sergio Busquets',
 'Nahuel Bustos',
 'Vladimir But',
 'Hans Jorg Butt',
 'Nicky Butt',
 'Alexander Buttner',
 'Daniel Van Buyten',
 'Gerry Byrne',
 'Fabian Caballero',
 'Willy Caballero',
 'Yohan Cabaye',
 'Leandro Cabrera',
 'Negro Cabrera',
 'Antonio Cabrini',
 'Massimo Cacciatori',
 'Martin Caceres',
 'Florencio Caffaratti',
 'Gary Cahill',
 'Felipe Caicedo',
 'Davide Calabria',
 'Riccardo Calafiori',
 'Fabio Calcaterra',
 'Mattia Caldara',
 'Gabriel Calderon',
 'Hakan Calhanoglu',
 'Umberto Caligaris',
 'Ian Callaghan',
 'Isacio Calleja',
 'Jose Callejon',
 'Garcia Calvo',
 'Mady Camara',
 'Titi Camara',
 'Zoumana Camara',
 'Joel Camargo',
 'Eduardo Camavinga',
 'Esteban Cambiasso',
 'Mauro Camoranesi',
 'Hugo Campagnaro',
 'Fraizer Campbell',
 'Joel Campbell',
 'Sol Campbell',
 'Salvatore Campilongo',
 'Ivan Campo',
 'Emre Can',
 'Lorik Cana',
 'Jose Canal',
 'Sergio Canales',
 'Joao Cancelo',
 'Vincent Candela',
 'Enrico Candiani',
 'Antonio Candreva',
 'Marco Caneira',
 'Claudio Caniggia',
 'Paolo Di Canio',
 'Santiago Canizares',
 'Fabio Cannavaro',
 'Lee Canoville',
 'Eric Cantona',
 'Nazzareno Canuti',
 'Luan Capanni',
 'Joan Capdevila',
 'Fabio Capello',
 'Etienne Capoue',
 'Massimiliano Cappellini',
 'Renato Cappellini (1943)',
 'Gianluca Caprari',
 'Angelo Carbone',
 'Benny Carbone',
 'Amedeo Carboni',
 'Franco Carboni',
 'Valentin Carboni',
 'Mathias Cardacio',
 'Martin Cardetti',
 'Marc Cardona',
 'Giuseppe Cardone',
 'John Carew',
 'Brian Carey',
 'Nicola Caricola',
 'Fabian Carini',
 'Juan Carlos',
 'Roberto Carlos',
 'Pietro Carmignani',
 'Adria Carmona',
 'Andrea Carnevale',
 'Stefano Carobbi',
 'Bruno Carotti',
 'Jamie Carragher',
 'Yannick Carrasco',
 'Massimo Carrera',
 'Alvaro Carreras',
 'Lluis Carreras',
 'Michael Carrick',
 'Juan Pablo Carrizo',
 'Roy Carroll',
 'Scott Carson',
 'Jimmy Carter',
 'Cameron Carter-Vickers',
 'Daniel Carvajal',
 'Fabio Carvalho',
 'Ricardo Carvalho',
 'Cesare Casadei',
 'Tiago Casasola',
 'Tony Cascarino',
 'Jimmy Case',
 'Conor Casey',
 'Kiko Casilla',
 'Iker Casillas',
 'Pierluigi Casiraghi',
 'Domenico Caso',
 'Chris Casper',
 'Mattia Cassani',
 'Antonio Cassano',
 'Francesco Cassata',
 'Marco Cassetti',
 'Luc Castaignos',
 'Leandro Castan',
 'Ernesto Castano',
 'Armando Castellazzi',
 'Luca Castellazzi',
 'Luca Castiglia',
 'Samu Castillejo',
 'Ze Castro',
 'Sauro Catellani',
 'Tommy Caton',
 'Benoit Cauet',
 'Steven Caulker',
 'Franco Causio',
 'Alexandro Cavagnera',
 'Diego Cavalieri',
 'Filippo Cavalli',
 'Edinson Cavani',
 'Hans Nicolussi Caviglia',
 'Santi Cazorla',
 'Cristian Ceballos',
 'Dani Ceballos',
 'Petr Cech',
 'Paolo De Ceglie',
 'Sebastian Cejas',
 'Albert Celades',
 'Zeki Celik',
 'Giovani Lo Celso',
 'Alessio Cerci',
 'Carlo Ceresoli',
 'Toninho Cerezo',
 'Julio Cesar (1979)',
 'Julio Cesar (1978)',
 'Julio Cesar (1963)',
 'Paulo Cesar (1978)',
 'Valerio Di Cesare',
 'Nacer Chadli',
 'Luke Chadwick',
 'Nathaniel Chalobah',
 'Trevoh Chalobah',
 'Marouane Chamakh',
 'Alec Chamberlain',
 'Calum Chambers',
 'Jose Chamot',
 'Clement Chantome',
 'Stephane Chapuisat',
 'Angelos Charisteas',
 'John Charles',
 'Sir Bobby Charlton',
 'Laurent Charvet',
 'Luigi Cherubini',
 'Denis Cheryshev',
 'Bruno Cheyrou',
 'Alberto Di Chiara',
 'Luciano Chiarugi',
 'John Chiedozie',
 'Giorgio Chiellini',
 'Odoacre Chierico',
 'Federico Chiesa',
 'Ben Chilwell',
 'Pascal Chimbonda',
 'Antonio Chimenti',
 'Stefano Chiodi',
 'Vlad Chiriches',
 'Davide Chiumiento',
 'Cristian Chivu',
 'Tahith Chong',
 'Eric-Maxim Choupo-Moting',
 'Lampros Choutos',
 'Philippe Christanval',
 'Andreas Christensen',
 'Samuel Chukwueze',
 'Aloisio Chulapa',
 'Dmytro Chygrynskyi',
 'Sebastien Cibois',
 'Nicola Ciccolo',
 'Amato Ciciretti',
 'Jasper Cillessen',
 'Dragan Ciric',
 'Aliou Cisse',
 'Djibril Cisse',
 'Edouard Cisse',
 'Aly Cissokho',
 'Filippo Citterio',
 'Nico Claesen',
 'Jack Clarke',
 'Ray Clarke',
 'Ray Clemence',
 'Tim de Cler',
 'Tom Cleverley',
 'Gael Clichy',
 'Conor Clifford',
 'Nigel Clough',
 'Nathaniel Clyne',
 'Sebastian Coates',
 'David Cobeno',
 'Francesco Coco',
 'Phillip Cocu',
 'Jordi Codina',
 'Ludo Coeck',
 'Humberto Coelho',
 'Fabio Coentrao',
 'Avi Cohen',
 'Gino Colaussi',
 'Andy Cole',
 'Ashley Cole',
 'Carlton Cole',
 'Joe Cole',
 'Facundo Colidio',
 'Jurgen Colin',
 'Alex Collado',
 'Patrick Colleter',
 'Fulvio Collovati',
 'Stan Collymore',
 'Fabricio Coloccini',
 'Angelo Colombo',
 'Lorenzo Colombo',
 'Roberto Colombo',
 'Francesco Colonnese',
 'Keba Coly',
 'Kingsley Coman',
 'Gianpiero Combi',
 'Nestor Combin',
 'Flavio Conceicao',
 'Francisco Conceicao',
 'Sergio Conceicao',
 'John Connelly',
 'Antoine Conte',
 'Antonio Conte',
 'Mirko Conte',
 'Diego Contento',
 'Andrea Conti',
 'Bruno Conti',
 'Matteo Contini',
 'Cosmin Contra',
 'Pedro Contreras',
 'Terry Cooke',
 'Ferdinando Coppola',
 'Francis Coquelin',
 'Alex Cordaz',
 'Ivan Cordoba',
 'Franco Cordova',
 'Ante Coric',
 'Eugenio Corini',
 ...]

In [167]:
from datetime import datetime, date

In [172]:
formatted_added_transfers_cleaned_ids.dtypes

player_id     object
team_name      int64
start_date    object
end_date      object
dtype: object

In [244]:
recent_best_players_ids = players_and_teams[players_and_teams['player_id'].isin(best_player_ids)]
oldest_start_dates = pd.DataFrame(recent_best_players_ids.groupby('player_id')['start_date'].min())
threshold_date = datetime.now() - timedelta(days=30 * 365.25)
valid_ids = oldest_start_dates[pd.to_datetime(oldest_start_dates['start_date']) >= threshold_date].index.tolist()
recent_best_players = players_df[players_df['id'].isin(valid_ids)]["player_name"].tolist()
recent_best_players

['Adriano (1984)',
 'Adriano (1982)',
 'Agostinho',
 'Alcides',
 'Alisson',
 'Allan (1997)',
 'Amauri',
 'Anderson',
 'Angelino',
 'Antony',
 'Antunes',
 'Athirson',
 'Babu',
 'Bebe',
 'Bono',
 'Bosingwa',
 'Bremer',
 'Breno',
 'Burgui',
 'Cafu',
 'Casemiro',
 'Ceara',
 'Chicharito',
 'Cicinho',
 'Costinha (1974)',
 'Cote',
 'Dalbert',
 'Danilo (1991)',
 'Dante',
 'Deco',
 'Dede',
 'Denilson (1988)',
 'Dimas',
 'Dodo (1992)',
 'Doni',
 'Douglas (1990)',
 'Ederson (1993)',
 'Edinho (1979)',
 'Eduardo',
 'Elano',
 'Elias',
 'Endrick',
 'Estevao',
 'Evanilson (1975)',
 'Ewerthon',
 'Fabinho (1993)',
 'Felipe',
 'Fernandinho',
 'Fernando',
 'Fred',
 'Geovanni',
 'Gerson (1997)',
 'Gervinho',
 'Gilberto (1976)',
 'Gladstone',
 'Guti',
 'Hannibal',
 'Hernanes',
 'Hilario',
 'Isco',
 'Jaime',
 'Jeffren',
 'Jese',
 'Jo',
 'Jorginho (1991)',
 'Joselu',
 'Josemi',
 'Juanfran',
 'Juanito (1976)',
 'Kaka',
 'Keirrison',
 'Kenedy (1996)',
 'Kenedy (1974)',
 'Kennedy',
 'Kerlon',
 'Kleberson',
 'Koke',
 'Lauren',
 'Lucio',
 'Maicon (1981)',
 'Malcom',
 'Mancini',
 'Maniche',
 'Manucho',
 'Marcelo',
 'Marlon',
 'Marquinho',
 'Marquinhos (2003)',
 'Marquinhos (1994)',
 'Maxwell',
 'Mido',
 'Mineiro',
 'Miranda',
 'Mista',
 'Monchu',
 'Nani',
 'Nano',
 'Nene (1981)',
 'Neto',
 'Neymar',
 'Nolito',
 'Oleguer',
 'Oscar',
 'Paulinho (1988)',
 'Pedri',
 'Pedro (1987)',
 'Pele (1991)',
 'Pele (1987)',
 'Pepe (1983)',
 'Pizzi',
 'Rafinha (1985)',
 'Ramires',
 'Raphinha',
 'Reinaldo (1979)',
 'Reinier',
 'Richarlison',
 'Rincon',
 'Robinho',
 'Rodri',
 'Rodrygo',
 'Rogerio',
 'Rolando',
 'Ronaldinho',
 'Rubinho',
 'Savinho',
 'Silvio',
 'Simao',
 'Suso',
 'Tinga',
 'Tote',
 'Trincao',
 'Vagner',
 'Valdo',
 'Wamberto',
 'Willian',
 'Xavi',
 'Patrick van Aanholt',
 'Ignazio Abate',
 'Eduard Abazaj',
 'Christian Abbiati',
 'Damia Abella',
 'Eric Abidal',
 'Stanley Aborah',
 'Tammy Abraham',
 'Fabrice Abriel',
 'Mohammed Abu',
 'Francesco Acerbi',
 'Antonio Adan',
 'Tosin Adarabioyo',
 'Emmanuel Adebayor',
 'Dominic Adiyiah',
 'Yacine Adli',
 'Luiz Adriano',
 'Ibrahim Afellay',
 'Felix Afena-Gyan',
 'David Aganzo',
 'Michael Agazzi',
 'Daniel Agger',
 'Massimo Agostini',
 'Lucien Agoume',
 'Sergio Aguero',
 'Thomas Agyepong',
 'Ola Aina',
 'Ismail Aissati',
 'Semi Ajayi',
 'Olasunkanmi Akande Ajide',
 'Manuel Akanji',
 'Marley Ake',
 'Nathan Ake',
 'Ebenezer Akinsanmiro',
 'Chuba Akpom',
 'David Alaba',
 'Jordi Alba',
 'Demetrio Albertini',
 'Luis Alberto',
 'Raul Albiol',
 'Paco Alcacer',
 'Thiago Alcantara',
 'Carlos Alcaraz',
 'Toby Alderweireld',
 'Carles Alena',
 'Trent Alexander-Arnold',
 'Pablo Alfaro',
 'Enrico Alfonso',
 'Jimmy Algerino',
 'Jeremie Aliadiere',
 'Denis Alibec',
 'Joe Allen',
 'Dele Alli',
 'Alexis Mac Allister',
 'Teddy Alloh',
 'Matias Almeyda',
 'Sergio Almiron (1980)',
 'Manuel Almunia',
 'Zlatan Alomerovic',
 'Diego Alonso',
 'Marcos Alonso (1990)',
 'Xabi Alonso',
 'Julian Alvarez',
 'Ricardo Alvarez',
 'Dani Alves',
 'Gabriele Ambrosetti',
 'Massimo Ambrosini',
 'Marco Ambrosio',
 'Marco Amelia',
 'Raffaele Ametrano',
 'Matthew Amoah',
 'Guillermo Amor',
 'Nicola Amoruso',
 'Ben Amos',
 'Sofyan Amrabat',
 'Giannis Anastasiou',
 'Lucas Andersen',
 'Marco Andreolli',
 'Nicolas Anelka',
 'Martin Angha',
 'Vurnon Anita',
 'Tino Anjorin',
 'Silvio Anocic',
 'Cristian Ansaldi',
 'Aaron Anselmino',
 'Luca Antonelli',
 'Luca Antonini',
 'Godwin Antwi',
 'Houssem Aouar',
 'Adil Aouchiche',
 'Stephen Appiah',
 'Michael Appleton',
 'Alberto Aquilani',
 'Sergio Aragoneses',
 'Julian Araujo',
 'Ronald Araujo',
 'Alvaro Arbeloa',
 'Alphonse Areola',
 'Hatem Ben Arfa',
 'Santiago Arias',
 'Lorenzo Ariaudo',
 'Sylvain Armand',
 'Pablo Armero',
 'Marko Arnautovic',
 'Salvatore Aronica',
 'Pegguy Arphexad',
 'Bright Arrey-Mbi',
 'Kepa Arrizabalaga',
 'Andrey Arshavin',
 'Mikel Arteta',
 'Kwadwo Asamoah',
 'Diego De Ascentis',
 'Marco Asensio',
 'Kristjan Asllani',
 'Iago Aspas',
 'Oussama Assaidi',
 'Benoit Assou-Ekotto',
 'Marcos Assuncao',
 'Paulo Assuncao',
 'Davide Astori',
 'Jean-Hugues Ateba',
 'Thimothee Atouba',
 'Christian Atsu',
 'Catilina Aubameyang',
 'Pierre-Emerick Aubameyang',
 'William-Fils Aubameyang',
 'Emil Audero',
 'Jean-Kevin Augustin',
 'Carlos Augusto',
 'Fabio Aurelio',
 'Serge Aurier',
 'Brandon Austin',
 'Gaston Avila',
 'Taiwo Awoniyi',
 'Roberto Ayala',
 'Sardar Azmoun',
 'Adam Aznou',
 'Cesar Azpilicueta',
 'Demba Ba',
 'Ibrahim Ba',
 'Espen Baardsen',
 'Abdul Rahman Baba',
 'Tijani Babangida',
 'Ryan Babel',
 'Jonathan Bachini',
 'Benoit Badiashile',
 'Holger Badstuber',
 'Dino Baggio',
 'Jean-Christophe Bahebeck',
 'Vitor Baia',
 'Eric Bailly',
 'Davide Baiocco',
 'Stefan Bajcetic',
 'Marvin Bakalorz',
 'Axel Bakayoko',
 'Tiemoue Bakayoko',
 'Lewis Baker',
 'Jose Mari Bakero',
 'Mitchel Bakker',
 'Javier Balboa',
 'Tommaso Baldanzi',
 'Ibrahima Balde',
 'Keita Balde',
 'Francesco Baldini',
 'Gareth Bale',
 'Leonardo Balerdi',
 'Elvir Baljic',
 'Michael Ball',
 'Salva Ballesta',
 'Fode Ballo-Toure',
 'Folarin Balogun',
 'Mario Balotelli',
 'Federico Balzaretti',
 'Patrick Bamford',
 'Zoran Ban',
 'Jannik Bandowski',
 'Ever Banega',
 'Albert Baning',
 'Helder Baptista',
 'Julio Baptista',
 'Leo Baptistao',
 'Nacer Barazite',
 'Gabriel Barbosa',
 'Phil Bardsley',
 'Nicolo Barella',
 'Ross Barkley',
 'Nick Barmby',
 'Michael Barnes',
 'Milan Baros',
 'Antonio Barragan',
 'Enzo Barrenechea',
 'Graham Barrett',
 'Lucas Barrios',
 'Gareth Barry',
 'Fabien Barthez',
 'Joey Barton',
 'Marc Bartra',
 'Vince Bartram',
 'Ahmed Barusso',
 'Andrea Barzagli',
 'Calvin Bassey',
 'Sebastien Bassong',
 'Alessandro Bastoni',
 'Michel Bastos',
 'Michy Batshuayi',
 'Alexander Baumjohann',
 'Riechedly Bazoer',
 'Peter Beardsley',
 'DaMarcus Beasley',
 'David Beckham',
 'Donny van de Beek',
 'Milan Berck Beelenkamp',
 'Asmir Begovic',
 'Tijani Belaid',
 'Emanuele Belardi',
 'Craig Bellamy',
 'Raoul Bellanova',
 'Hector Bellerin',
 'Jude Bellingham',
 'David Bellion',
 'Djamel Belmadi',
 'Andrea Belotti',
 'Emre Belozoglu',
 'Stefano Beltrame',
 'Marco Benassi',
 'Medhi Benatia',
 'Yossi Benayoun',
 'Sven Bender',
 'Nicklas Bendtner',
 'Simone Benedetti',
 'Fabian Benko',
 'Ismael Bennacer',
 'Darren Bent',
 'Rodrigo Bentancur',
 'Christian Benteke',
 'David Bentley',
 'Karim Benzema',
 'Lucas Beraldo',
 'Domenico Berardi',
 'Dimitar Berbatov',
 'Yuri Berchiche',
 'Giacomo Beretta',
 'Sepp van den Berg',
 'Andre Bergdolmo',
 'Dave van den Bergh',
 'Steven Berghuis',
 'Lucas Bergstrom',
 'Lucas Bergvall',
 'Steven Bergwijn',
 'Federico Bernardeschi',
 'Antonino Bernardini',
 'Juan Bernat',
 'Antoine Bernede',
 'Tommaso Berni',
 'Thomas Berthold',
 'Nicola Berti',
 'Andrea Bertolacci',
 'Ryan Bertrand',
 'Pietro Beruatto',
 'Marcus Bettinelli',
 'Jonathan Biabiany',
 'Leo Biagini',
 'Luigi Di Biagio',
 'Rolando Bianchi',
 'Raffaele Bianco',
 'William Bianda',
 'Krystian Bielik',
 'Lucas Biglia',
 'Jonatan Binotto',
 'Cristiano Biraghi',
 'Amaury Bischoff',
 'Mikkel Bischoff',
 'Milan Bisevac',
 'Yann Bisseck',
 'El Chadaille Bitshiabu',
 'Leonardo Bittencourt',
 'Nathan Bitumazala',
 'Albano Bizzarri',
 'Tommy Black',
 'Tyler Blackett',
 'Jamal Blackman',
 'Antonio Blanco',
 'Manuele Blasi',
 'Jakub Blaszczykowski',
 'Daley Blind',
 'Jonathan Blondel',
 'Sandro Bloudek',
 'Emmanuel Boakye',
 'Richmond Boakye',
 'Daniel Boateng',
 'Jerome Boateng',
 'Kevin-Prince Boateng',
 'Oscar Bobb',
 'Fredi Bobic',
 'Salvatore Bocchetti',
 'Mathieu Bodmer',
 'Darko Bodul',
 'Frank de Boer',
 'Pietro Boer',
 'Ronald de Boer',
 'Sacha Boey',
 'Winston Bogarde',
 'Adam Bogdan',
 'Rade Bogdanovic',
 'Nicolai Boilesen',
 'Yannick Boli',
 'Francesco Bolzoni',
 'Mark van Bommel',
 'Samuele Dalla Bona',
 'Massimo Bonanni',
 'Giacomo Bonaventura',
 'Daniele Bonera',
 'Riccardo Bonetto',
 'Filippo Boniperti',
 'Hendrik Bonmann',
 'Landry Bonnefoi',
 'Leonardo Bonucci',
 'Wilfried Bony',
 'Fabio Borini',
 'Marco Borriello',
 'Cameron Borthwick-Jackson',
 'Denis Boshnjaku',
 'Mark Bosnich',
 'Pedro Botelho',
 'Ruben Botta',
 'Nourdin Boukhari',
 'Khalid Boulahrouz',
 'Daniel Maa Boumsong',
 'Jean-Alain Boumsong',
 'Ouasim Bouy',
 'Edoardo Bove',
 'Dedryck Boyata',
 'Valeri Bozhinov',
 'Edson Braafheid',
 'Conor Bradley',
 'Martin Braithwaite',
 'Laurentiu Branescu',
 'Claudio Bravo',
 'Raul Bravo',
 'Gabriel Brazao',
 'Jeremie Brechet',
 'Julien Brellier',
 'Marco Brescianini',
 'Wayne Bridge',
 'Matteo Brighi',
 'Andrea Briotti',
 'Drazen Brncic',
 'Brian Brobbey',
 'Cristian Brocchi',
 'John van den Brom',
 'Izzy Brown',
 'Michael Brown',
 'Reece Brown',
 'Wes Brown',
 'Marcelo Brozovic',
 'Jeffrey Bruma',
 'Matteo Bruscagin',
 'Kevin De Bruyne',
 'Marcel Buchel',
 'Delron Buckley',
 'Carlos Bueno',
 'Marcin Bulka',
 'Goran Bunjevcevic',
 'Guillermo Burdisso',
 'Nicolas Burdisso',
 'Roman Burki',
 'Sergio Busquets',
 'Nahuel Bustos',
 'Nicky Butt',
 'Alexander Buttner',
 'Daniel Van Buyten',
 'Fabian Caballero',
 'Willy Caballero',
 'Yohan Cabaye',
 'Leandro Cabrera',
 'Martin Caceres',
 'Gary Cahill',
 'Felipe Caicedo',
 'Davide Calabria',
 'Riccardo Calafiori',
 'Mattia Caldara',
 'Hakan Calhanoglu',
 'Jose Callejon',
 'Garcia Calvo',
 'Mady Camara',
 'Titi Camara',
 'Zoumana Camara',
 'Eduardo Camavinga',
 'Esteban Cambiasso',
 'Mauro Camoranesi',
 'Hugo Campagnaro',
 'Fraizer Campbell',
 'Joel Campbell',
 'Sol Campbell',
 'Salvatore Campilongo',
 'Ivan Campo',
 'Emre Can',
 'Lorik Cana',
 'Sergio Canales',
 'Joao Cancelo',
 'Vincent Candela',
 'Antonio Candreva',
 'Marco Caneira',
 'Paolo Di Canio',
 'Fabio Cannavaro',
 'Lee Canoville',
 'Luan Capanni',
 'Joan Capdevila',
 'Etienne Capoue',
 'Gianluca Caprari',
 'Angelo Carbone',
 'Benny Carbone',
 'Franco Carboni',
 'Valentin Carboni',
 'Mathias Cardacio',
 'Martin Cardetti',
 'Marc Cardona',
 'Giuseppe Cardone',
 'John Carew',
 'Fabian Carini',
 'Adria Carmona',
 'Bruno Carotti',
 'Jamie Carragher',
 'Yannick Carrasco',
 'Alvaro Carreras',
 'Michael Carrick',
 'Juan Pablo Carrizo',
 'Scott Carson',
 'Cameron Carter-Vickers',
 'Daniel Carvajal',
 'Fabio Carvalho',
 'Ricardo Carvalho',
 'Cesare Casadei',
 'Tiago Casasola',
 'Conor Casey',
 'Kiko Casilla',
 'Iker Casillas',
 'Chris Casper',
 'Mattia Cassani',
 'Antonio Cassano',
 'Francesco Cassata',
 'Marco Cassetti',
 'Luc Castaignos',
 'Leandro Castan',
 'Luca Castellazzi',
 'Luca Castiglia',
 'Samu Castillejo',
 'Ze Castro',
 'Benoit Cauet',
 'Steven Caulker',
 'Alexandro Cavagnera',
 'Diego Cavalieri',
 'Edinson Cavani',
 'Hans Nicolussi Caviglia',
 'Santi Cazorla',
 'Cristian Ceballos',
 'Dani Ceballos',
 'Petr Cech',
 'Paolo De Ceglie',
 'Sebastian Cejas',
 'Albert Celades',
 'Zeki Celik',
 'Giovani Lo Celso',
 'Alessio Cerci',
 'Julio Cesar (1979)',
 'Julio Cesar (1978)',
 'Julio Cesar (1963)',
 'Paulo Cesar (1978)',
 'Valerio Di Cesare',
 'Nacer Chadli',
 'Luke Chadwick',
 'Nathaniel Chalobah',
 'Trevoh Chalobah',
 'Marouane Chamakh',
 'Calum Chambers',
 'Jose Chamot',
 'Clement Chantome',
 'Angelos Charisteas',
 'Laurent Charvet',
 'Luigi Cherubini',
 'Denis Cheryshev',
 'Bruno Cheyrou',
 'Giorgio Chiellini',
 'Federico Chiesa',
 'Ben Chilwell',
 'Pascal Chimbonda',
 'Antonio Chimenti',
 'Vlad Chiriches',
 'Davide Chiumiento',
 'Cristian Chivu',
 'Tahith Chong',
 'Eric-Maxim Choupo-Moting',
 'Lampros Choutos',
 'Philippe Christanval',
 'Andreas Christensen',
 'Samuel Chukwueze',
 'Dmytro Chygrynskyi',
 'Sebastien Cibois',
 'Amato Ciciretti',
 'Jasper Cillessen',
 'Dragan Ciric',
 'Aliou Cisse',
 'Djibril Cisse',
 'Edouard Cisse',
 'Aly Cissokho',
 'Jack Clarke',
 'Tim de Cler',
 'Tom Cleverley',
 'Gael Clichy',
 'Conor Clifford',
 'Nigel Clough',
 'Nathaniel Clyne',
 'Sebastian Coates',
 'David Cobeno',
 'Francesco Coco',
 'Jordi Codina',
 'Fabio Coentrao',
 'Andy Cole',
 'Ashley Cole',
 'Carlton Cole',
 'Joe Cole',
 'Facundo Colidio',
 'Jurgen Colin',
 'Alex Collado',
 'Fabricio Coloccini',
 'Lorenzo Colombo',
 'Roberto Colombo',
 'Francesco Colonnese',
 'Keba Coly',
 'Kingsley Coman',
 'Francisco Conceicao',
 'Sergio Conceicao',
 'Antoine Conte',
 'Mirko Conte',
 'Diego Contento',
 'Andrea Conti',
 'Matteo Contini',
 'Cosmin Contra',
 'Pedro Contreras',
 'Terry Cooke',
 'Ferdinando Coppola',
 'Francis Coquelin',
 'Alex Cordaz',
 'Ante Coric',
 'Vedran Corluka',
 'Bernardo Corradi',
 'Angel Correa',
 'Joaquin Correa',
 'Nicola Corrent',
 'Diego Costa',
 'Douglas Costa',
 'Joao Costa',
 'Paulo Costa',
 'Tony Coton',
 'Soumaila Coulibaly',
 'Gregory Coupet',
 'Thibaut Courtois',
 'Philippe Coutinho',
 'Yan Couto',
 'Patrick Cregg',
 'Domenico Criscito',
 'Lorenzo Crisetig',
 'Bryan Cristante',
 'Helder Cristovao',
 'Ronan Le Crom',
 'Marc Crosas',
 'Peter Crouch',
 'Jason Crowe',
 'Jordi Cruyff',
 'Daniel Cruz',
 'Julio Cruz',
 'Roque Santa Cruz',
 'Juan Cuadrado',
 'Eric Cubilier',
 'Marc Cucurella',
 'Carlo Cudicini',
 'Isaac Cuenca',
 'Leandro Cufre',
 'Michael Cuisance',
 'Jason Culina',
 'Nick Culkin',
 'Matheus Cunha',
 'Andrea Cupi',
 'Dennis Curatolo',
 'Gianluca Curci',
 'John Curtis',
 'Patrick Cutrone',
 'Dario Cvitanich',
 'Pascal Cygan',
 "Gaetano D'Agostino",
 "Danilo D'Ambrosio",
 'Ousmane Dabo',
 'Olivier Dacourt',
 'Colin Dagba',
 'Samuel Dahl',
 'Daniele Daino',
 'Stephane Dalmat',
 'Diogo Dalot',
 'Cristian Daminuta',
 'Jelle Van Damme',
 'Tomas Danilevicius',
 'Arnaut Danjuma',
 'Tiago Dantas',
 'Mohamed Daramy',
 'Ebrima Darboe',
 'Stephen Darby',
 'Matteo Darmian',
 'Aliyu Datti',
 'Ayub Daud',
 'Umit Davala',
 'Peter Davenport',
 'Edgar Davids',
 'Alphonso Davies',
 'Ben Davies (1995)',
 'Ben Davies (1993)',
 'Simon Davies',
 'Jimmy Davis',
 'Sean Davis',
 'Michael Dawson',
 'Mathieu Debuchy',
 'Rodrigo Defendi',
 'Jermain Defoe',
 'Gregoire Defrel',
 'Philipp Degen',
 'Matej Delac',
 'Thomas Delaney',
 'Traianos Dellas',
 'Laurent Delorge',
 'Fabian Delph',
 'Marco Delvecchio',
 'Mousa Dembele',
 'Moussa Dembele',
 'Ousmane Dembele',
 'Guy Demel',
 'Martin Demichelis',
 'Yusuf Demir',
 'Merih Demiral',
 'Jason Denayer',
 'Memphis Depay',
 'Dorian Dervite',
 'Remy Descamps',
 'Stefano Desideri',
 'Mattia Desole',
 'Sergino Dest',
 'Mattia Destro',
 'Gerard Deulofeu',
 'Alfie Devine',
 'Vikash Dhorasoo',
 'Abou Diaby',
 'Moussa Diaby',
 'Mbaye Diagne',
 'Abdou Diallo',
 'Amad Diallo',
 'Amara Diane',
 'Salif Diao',
 'Abdoulaye Diarra',
 'Alou Diarra',
 'Lassana Diarra',
 'Mahamadou Diarra',
 'Ruben Dias',
 'Tiago Dias',
 'Mory Diaw',
 'Amadou Diawara',
 'Kaba Diawara',
 'Brahim Diaz',
 'Luis Diaz',
 'Mariano Diaz',
 'Paul Dickov',
 'Joey Didulica',
 'Oumar Dieng',
 'Eric Dier',
 'Fraser Digby',
 'Lucas Digne',
 'Virgil van Dijk',
 'Spase Dilevski',
 'Federico Dimarco',
 'Marcus Diniz',
 'Carlos Diogo',
 'Bernard Diomede',
 'El-Hadji Diouf',
 'Mame Diouf',
 'Axel Disasi',
 'Sylvain Distin',
 'Kerry Dixon',
 'Tiago Djalo',
 'Franck Dja Djedje',
 'Eric Djemba Djemba',
 'Papy Djilobodji',
 'Bojan Djordjic',
 'Youri Djorkaeff',
 'Johan Djourou',
 'Ben Doak',
 'Matt Doherty',
 'Jeremy Doku',
 'Kasper Dolberg',
 'Jose Dominguez',
 'Maurizio Domizzi',
 'Cyril Domoraud',
 'Marco Donadel',
 'Roberto Donadoni',
 'Giulio Donati',
 'Massimo Donati',
 'Fangzhuo Dong',
 'Isaac Donkor',
 'Antonio Donnarumma',
 'Gianluigi Donnarumma',
 'Landon Donovan',
 'Javier Dorado',
 'Niklas Dorsch',
 'Andrea Dossena',
 'Nicolas Douchez',
 'Seydou Doumbia',
 'Stewart Downing',
 'Tommy Doyle',
 'Radu Dragusin',
 'Boukary Drame',
 'Julian Draxler',
 'Royston Drenthe',
 'Danny Drinkwater',
 'Didier Drogba',
 'Leo Duarte',
 'Lerin Duarte',
 'Dion Dublin',
 'Martin Dubravka',
 'Marvin Ducksch',
 'Jerzy Dudek',
 'Jeremy Dudziak',
 'Damien Duff',
 'Christophe Dugarry',
 'Denzel Dumfries',
 'Alfred Duncan',
 'Julien Duranville',
 'Marco Duravia',
 'Erik Durm',
 'Richard Dutruel',
 'Paulo Dybala',
 'Edin Dzeko',
 'Chris Eagles',
 'Craig Eastmond',
 'Junior Dina Ebimbe',
 'Emmanuel Eboue',
 'Nathan Eccleston',
 'Claudio Echeverri',
 'Erik Edman',
 'Odsonne Edouard',
 'Stefan Effenberg',
 'Thomas Eisfeld',
 'Ovie Ejaria',
 'Albin Ekdal',
 'Ronnie Ekelund',
 'Mehmet Ekici',
 'Hugo Ekitike',
 'Anthony Elanga',
 'Giovane Elber',
 'Dimitrios Eleftheropoulos',
 'Eljero Elia',
 'Isah Eliakwu',
 'Harvey Elliott',
 'Mohamed Elneny',
 'Rodrigo Ely',
 'Urby Emanuelson',
 'Jay Emmanuel-Thomas',
 'Xian Emmers',
 'Wataru Endo',
 'Robert Enke',
 'Eyong Enoh',
 'Jose Enrique',
 'Stefano Eranio',
 'Mevlut Erdinc',
 'Christian Eriksen',
 'Caner Erkin',
 'Harvey Esajas',
 'Julien Escude',
 'Juan Esnaider',
 'Dennis Esposito',
 'Mauro Esposito',
 'Sebastiano Esposito',
 'Simone Esposito',
 'Oussama Essabr',
 'Michael Essien',
 'Marcelo Estigarribia',
 "Samuel Eto'o",
 'Dickson Etuhu',
 'Alberico Evani',
 'Jonny Evans',
 'Patrice Evra',
 'Santiago Ezquerro',
 'Abde Ezzalzouli',
 'Lukasz Fabianski',
 'Cesc Fabregas',
 'Bandiougou Fadiga',
 'Khalilou Fadiga',
 'Daniel Fagiani',
 'Nicolo Fagioli',
 'Radamel Falcao',
 'Iago Falque',
 'Davide Faraoni',
 'Javier Farinos',
 'Ansu Fati',
 'Ricardo Faty',
 'Julien Faubert',
 'Andrea Favilli',
 'Mikayil Faye',
 'Federico Fazio',
 'Giovanni Federico',
 'Enzo Le Fee',
 'Adrian Fein',
 'Joao Felix',
 'Marouane Fellaini',
 'Les Ferdinand',
 'Rio Ferdinand',
 'Gedson Fernandes',
 'Gelson Fernandes',
 'Matheus Fernandes',
 'Augusto Fernandez',
 'Borja Fernandez',
 'Enzo Fernandez',
 'Jesus Fernandez',
 'Juan Fernandez',
 'Matias Fernandez',
 'Marco Ferrante',
 'Matteo Ferrari',
 'Paulo Ferreira',
 'Markus Feulner',
 'Attila Filkor',
 'Steve Finnan',
 'Fabrice Fiorese',
 'Roberto Firmino',
 'Junior Firpo',
 'Viktor Fischer',
 'Mathieu Flamini',
 'Jon Flanagan',
 'Darren Fletcher',
 'Alessandro Florenzi',
 'Tim Flowers',
 'Johannes Focher',
 'Phil Foden',
 'David Datro Fofana',
 'Wesley Fofana',
 'Youssouf Fofana (1999)',
 'Pasquale Foggia',
 'Daniel Fonseca',
 'Matias Fonseca',
 'Alberto Fontana',
 'Alessandro Fontanarosa',
 'Andreu Fontas',
 'Carlos Forbs',
 'Diego Forlan',
 'Mikael Forssell',
 'Quinton Fortune',
 'Ben Foster',
 'Timothy Fosu-Mensah',
 'Robbie Fowler',
 'Robbie Foy',
 'Juan Foyth',
 'Gianluca Frabotta',
 'Eusebio Di Francesco',
 'Francesco De Francesco',
 'Denis Franchi',
 'Leo Franco',
 'Alessandro Frara',
 'Davide Frattesi',
 'Alessandro Frau',
 'Alex Frei',
 ...]

In [247]:
recent_best_df = players_and_teams[players_and_teams['team_id'].isin(major_club_ids)][players_and_teams['player_id'].isin(valid_ids)]

/var/folders/kw/kcr50hsd6zq1ldzcm_9h_m840000gn/T/ipykernel_51276/3630856585.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  recent_best_df = players_and_teams[players_and_teams['team_id'].isin(major_club_ids)][players_and_teams['player_id'].isin(valid_ids)]

In [248]:
recent_best_df['end_date'] = recent_best_df['end_date'].fillna(datetime.now().strftime("%m/%d/%Y"))
recent_best_df

          id  player_id  team_id  start_date    end_date
32        32      34495       18  07/14/2010  07/29/2016
39        39       5876        4  07/01/2010  03/25/2011
41        41       5876        3  06/30/2008  05/06/2009
43        43       5876        3  01/21/2004  01/01/2008
45        45       5876        3  06/30/2002  07/01/2002
...      ...        ...      ...         ...         ...
77866  77894       3146       16  02/01/2009  07/19/2011
77954  77982      27577       22  08/31/2012  08/03/2013
78033  78061       3880       11  11/27/1990  08/30/1994
78087  78115      16624       27  07/01/2007  08/27/2008
78128  78156     187492       30  07/01/2019  01/09/2025

[7254 rows x 5 columns]

In [256]:
recent_best_df["start_date"] = pd.to_datetime(recent_best_df["start_date"])
recent_best_df["end_date"] = pd.to_datetime(recent_best_df["end_date"])
date_ranges = recent_best_df.groupby('player_id').agg(
    min_start_date=('start_date', 'min'),
    max_end_date=('end_date', 'max')
)
date_ranges['date_diff_years'] = round((pd.to_datetime(date_ranges['max_end_date']) - pd.to_datetime(date_ranges['min_start_date'])).dt.days/365)
date_ranges

          min_start_date max_end_date  date_diff_years
player_id
4             1995-07-04   1999-07-01              4.0
10            2007-07-01   2011-07-01              4.0
26            2002-07-01   2018-07-01             16.0
51            1996-07-01   1999-07-01              3.0
57            1989-07-01   1993-07-01              4.0
...                  ...          ...              ...
1041614       2024-07-01   2025-01-09              1.0
1056993       2025-07-01   2025-01-09             -0.0
1082850       2023-08-24   2025-01-09              1.0
1086636       2024-01-25   2025-01-09              1.0
1145504       2024-08-08   2025-01-09              0.0

[2817 rows x 3 columns]

In [257]:
date_ranges[date_ranges['date_diff_years']<0]

Empty DataFrame
Columns: [min_start_date, max_end_date, date_diff_years]
Index: []

In [261]:
valid_ids_experienced = date_ranges[date_ranges['date_diff_years'] >= 5].index
recent_best_players = players_df[players_df['id'].isin(valid_ids_experienced)]["player_name"].tolist()
recent_best_players

['Adriano (1984)',
 'Adriano (1982)',
 'Alisson',
 'Anderson',
 'Angelino',
 'Antony',
 'Antunes',
 'Breno',
 'Cafu',
 'Casemiro',
 'Ceara',
 'Chicharito',
 'Cicinho',
 'Dalbert',
 'Danilo (1991)',
 'Deco',
 'Dede',
 'Denilson (1988)',
 'Dodo (1992)',
 'Doni',
 'Douglas (1990)',
 'Ederson (1993)',
 'Evanilson (1975)',
 'Fabinho (1993)',
 'Fernandinho',
 'Fred',
 'Geovanni',
 'Gervinho',
 'Gilberto (1976)',
 'Guti',
 'Hilario',
 'Isco',
 'Jaime',
 'Jese',
 'Jorginho (1991)',
 'Kaka',
 'Keirrison',
 'Kenedy (1996)',
 'Koke',
 'Lauren',
 'Lucio',
 'Maicon (1981)',
 'Mancini',
 'Marcelo',
 'Marquinhos (1994)',
 'Maxwell',
 'Mido',
 'Miranda',
 'Nani',
 'Neto',
 'Neymar',
 'Oleguer',
 'Paulinho (1988)',
 'Pedri',
 'Pedro (1987)',
 'Pepe (1983)',
 'Rafinha (1985)',
 'Ramires',
 'Reinier',
 'Robinho',
 'Rodri',
 'Rodrygo',
 'Ronaldinho',
 'Silvio',
 'Simao',
 'Suso',
 'Wamberto',
 'Willian',
 'Xavi',
 'Patrick van Aanholt',
 'Ignazio Abate',
 'Christian Abbiati',
 'Eric Abidal',
 'Tammy Abraham',
 'Francesco Acerbi',
 'Antonio Adan',
 'Emmanuel Adebayor',
 'Yacine Adli',
 'Ibrahim Afellay',
 'David Aganzo',
 'Daniel Agger',
 'Massimo Agostini',
 'Lucien Agoume',
 'Sergio Aguero',
 'Thomas Agyepong',
 'Manuel Akanji',
 'Nathan Ake',
 'Chuba Akpom',
 'David Alaba',
 'Jordi Alba',
 'Demetrio Albertini',
 'Thiago Alcantara',
 'Toby Alderweireld',
 'Trent Alexander-Arnold',
 'Pablo Alfaro',
 'Enrico Alfonso',
 'Jimmy Algerino',
 'Jeremie Aliadiere',
 'Dele Alli',
 'Manuel Almunia',
 'Marcos Alonso (1990)',
 'Xabi Alonso',
 'Dani Alves',
 'Massimo Ambrosini',
 'Marco Amelia',
 'Guillermo Amor',
 'Nicola Amoruso',
 'Marco Andreolli',
 'Nicolas Anelka',
 'Cristian Ansaldi',
 'Luca Antonelli',
 'Luca Antonini',
 'Alberto Aquilani',
 'Sergio Aragoneses',
 'Alvaro Arbeloa',
 'Alphonse Areola',
 'Sylvain Armand',
 'Marko Arnautovic',
 'Kepa Arrizabalaga',
 'Mikel Arteta',
 'Kwadwo Asamoah',
 'Marco Asensio',
 'Benoit Assou-Ekotto',
 'Davide Astori',
 'Thimothee Atouba',
 'Pierre-Emerick Aubameyang',
 'Emil Audero',
 'Fabio Aurelio',
 'Serge Aurier',
 'Taiwo Awoniyi',
 'Cesar Azpilicueta',
 'Ibrahim Ba',
 'Abdul Rahman Baba',
 'Tijani Babangida',
 'Ryan Babel',
 'Holger Badstuber',
 'Jean-Christophe Bahebeck',
 'Eric Bailly',
 'Tiemoue Bakayoko',
 'Lewis Baker',
 'Jose Mari Bakero',
 'Gareth Bale',
 'Salva Ballesta',
 'Mario Balotelli',
 'Federico Balzaretti',
 'Patrick Bamford',
 'Ever Banega',
 'Julio Baptista',
 'Phil Bardsley',
 'Nicolo Barella',
 'Ross Barkley',
 'Nick Barmby',
 'Graham Barrett',
 'Gareth Barry',
 'Marc Bartra',
 'Ahmed Barusso',
 'Andrea Barzagli',
 'Alessandro Bastoni',
 'Michy Batshuayi',
 'Peter Beardsley',
 'David Beckham',
 'Donny van de Beek',
 'Asmir Begovic',
 'Craig Bellamy',
 'Hector Bellerin',
 'Djamel Belmadi',
 'Emre Belozoglu',
 'Medhi Benatia',
 'Yossi Benayoun',
 'Sven Bender',
 'Nicklas Bendtner',
 'Ismael Bennacer',
 'Rodrigo Bentancur',
 'David Bentley',
 'Karim Benzema',
 'Dimitar Berbatov',
 'Sepp van den Berg',
 'Andre Bergdolmo',
 'Steven Bergwijn',
 'Federico Bernardeschi',
 'Juan Bernat',
 'Tommaso Berni',
 'Nicola Berti',
 'Andrea Bertolacci',
 'Ryan Bertrand',
 'Jonathan Biabiany',
 'Luigi Di Biagio',
 'Raffaele Bianco',
 'Krystian Bielik',
 'Jonatan Binotto',
 'Cristiano Biraghi',
 'Jamal Blackman',
 'Manuele Blasi',
 'Jakub Blaszczykowski',
 'Daley Blind',
 'Sandro Bloudek',
 'Jerome Boateng',
 'Kevin-Prince Boateng',
 'Frank de Boer',
 'Ronald de Boer',
 'Winston Bogarde',
 'Nicolai Boilesen',
 'Mark van Bommel',
 'Samuele Dalla Bona',
 'Giacomo Bonaventura',
 'Daniele Bonera',
 'Riccardo Bonetto',
 'Landry Bonnefoi',
 'Leonardo Bonucci',
 'Fabio Borini',
 'Marco Borriello',
 'Pedro Botelho',
 'Dedryck Boyata',
 'Laurentiu Branescu',
 'Claudio Bravo',
 'Raul Bravo',
 'Gabriel Brazao',
 'Julien Brellier',
 'Wayne Bridge',
 'Matteo Brighi',
 'Cristian Brocchi',
 'Michael Brown',
 'Wes Brown',
 'Marcelo Brozovic',
 'Kevin De Bruyne',
 'Goran Bunjevcevic',
 'Nicolas Burdisso',
 'Roman Burki',
 'Sergio Busquets',
 'Nicky Butt',
 'Daniel Van Buyten',
 'Willy Caballero',
 'Martin Caceres',
 'Gary Cahill',
 'Felipe Caicedo',
 'Davide Calabria',
 'Mattia Caldara',
 'Hakan Calhanoglu',
 'Garcia Calvo',
 'Zoumana Camara',
 'Esteban Cambiasso',
 'Mauro Camoranesi',
 'Joel Campbell',
 'Sol Campbell',
 'Ivan Campo',
 'Emre Can',
 'Joao Cancelo',
 'Vincent Candela',
 'Antonio Candreva',
 'Paolo Di Canio',
 'Fabio Cannavaro',
 'Gianluca Caprari',
 'Angelo Carbone',
 'Giuseppe Cardone',
 'Fabian Carini',
 'Jamie Carragher',
 'Yannick Carrasco',
 'Michael Carrick',
 'Scott Carson',
 'Cameron Carter-Vickers',
 'Daniel Carvajal',
 'Ricardo Carvalho',
 'Iker Casillas',
 'Chris Casper',
 'Antonio Cassano',
 'Marco Cassetti',
 'Leandro Castan',
 'Luca Castiglia',
 'Benoit Cauet',
 'Steven Caulker',
 'Edinson Cavani',
 'Santi Cazorla',
 'Dani Ceballos',
 'Petr Cech',
 'Paolo De Ceglie',
 'Albert Celades',
 'Giovani Lo Celso',
 'Alessio Cerci',
 'Julio Cesar (1979)',
 'Julio Cesar (1963)',
 'Paulo Cesar (1978)',
 'Luke Chadwick',
 'Nathaniel Chalobah',
 'Calum Chambers',
 'Jose Chamot',
 'Clement Chantome',
 'Laurent Charvet',
 'Giorgio Chiellini',
 'Antonio Chimenti',
 'Cristian Chivu',
 'Eric-Maxim Choupo-Moting',
 'Lampros Choutos',
 'Andreas Christensen',
 'Jasper Cillessen',
 'Edouard Cisse',
 'Tim de Cler',
 'Tom Cleverley',
 'Gael Clichy',
 'Nigel Clough',
 'Nathaniel Clyne',
 'Francesco Coco',
 'Fabio Coentrao',
 'Andy Cole',
 'Ashley Cole',
 'Carlton Cole',
 'Joe Cole',
 'Fabricio Coloccini',
 'Roberto Colombo',
 'Francesco Colonnese',
 'Kingsley Coman',
 'Diego Contento',
 'Andrea Conti',
 'Pedro Contreras',
 'Terry Cooke',
 'Ferdinando Coppola',
 'Francis Coquelin',
 'Alex Cordaz',
 'Ante Coric',
 'Vedran Corluka',
 'Bernardo Corradi',
 'Angel Correa',
 'Diego Costa',
 'Douglas Costa',
 'Tony Coton',
 'Thibaut Courtois',
 'Philippe Coutinho',
 'Yan Couto',
 'Bryan Cristante',
 'Peter Crouch',
 'Jordi Cruyff',
 'Julio Cruz',
 'Roque Santa Cruz',
 'Juan Cuadrado',
 'Marc Cucurella',
 'Carlo Cudicini',
 'Leandro Cufre',
 'Jason Culina',
 'Gianluca Curci',
 "Gaetano D'Agostino",
 "Danilo D'Ambrosio",
 'Ousmane Dabo',
 'Olivier Dacourt',
 'Colin Dagba',
 'Daniele Daino',
 'Stephane Dalmat',
 'Diogo Dalot',
 'Cristian Daminuta',
 'Matteo Darmian',
 'Edgar Davids',
 'Alphonso Davies',
 'Ben Davies (1993)',
 'Simon Davies',
 'Michael Dawson',
 'Jermain Defoe',
 'Philipp Degen',
 'Matej Delac',
 'Marco Delvecchio',
 'Mousa Dembele',
 'Ousmane Dembele',
 'Guy Demel',
 'Martin Demichelis',
 'Memphis Depay',
 'Stefano Desideri',
 'Sergino Dest',
 'Gerard Deulofeu',
 'Abou Diaby',
 'Abdou Diallo',
 'Salif Diao',
 'Alou Diarra',
 'Lassana Diarra',
 'Kaba Diawara',
 'Brahim Diaz',
 'Mariano Diaz',
 'Paul Dickov',
 'Eric Dier',
 'Fraser Digby',
 'Lucas Digne',
 'Virgil van Dijk',
 'Federico Dimarco',
 'Marcus Diniz',
 'Sylvain Distin',
 'Kerry Dixon',
 'Bojan Djordjic',
 'Johan Djourou',
 'Marco Donadel',
 'Roberto Donadoni',
 'Massimo Donati',
 'Fangzhuo Dong',
 'Antonio Donnarumma',
 'Gianluigi Donnarumma',
 'Nicolas Douchez',
 'Julian Draxler',
 'Royston Drenthe',
 'Danny Drinkwater',
 'Didier Drogba',
 'Jerzy Dudek',
 'Erik Durm',
 'Richard Dutruel',
 'Paulo Dybala',
 'Edin Dzeko',
 'Chris Eagles',
 'Emmanuel Eboue',
 'Stefan Effenberg',
 'Giovane Elber',
 'Mohamed Elneny',
 'Urby Emanuelson',
 'Eyong Enoh',
 'Jose Enrique',
 'Stefano Eranio',
 'Christian Eriksen',
 'Juan Esnaider',
 'Dennis Esposito',
 'Sebastiano Esposito',
 'Oussama Essabr',
 'Michael Essien',
 "Samuel Eto'o",
 'Alberico Evani',
 'Jonny Evans',
 'Patrice Evra',
 'Santiago Ezquerro',
 'Lukasz Fabianski',
 'Cesc Fabregas',
 'Khalilou Fadiga',
 'Radamel Falcao',
 'Iago Falque',
 'Javier Farinos',
 'Federico Fazio',
 'Joao Felix',
 'Marouane Fellaini',
 'Les Ferdinand',
 'Rio Ferdinand',
 'Matteo Ferrari',
 'Paulo Ferreira',
 'Markus Feulner',
 'Attila Filkor',
 'Steve Finnan',
 'Roberto Firmino',
 'Mathieu Flamini',
 'Jon Flanagan',
 'Darren Fletcher',
 'Alessandro Florenzi',
 'Phil Foden',
 'Daniel Fonseca',
 'Diego Forlan',
 'Mikael Forssell',
 'Quinton Fortune',
 'Ben Foster',
 'Timothy Fosu-Mensah',
 'Robbie Fowler',
 'Leo Franco',
 'Salvatore Fresi',
 'Steffen Freund',
 'Sebastien Frey',
 'Christian Fruchtl',
 'Marton Fulop',
 'Matteo Gabbia',
 'Roberto Gagliardini',
 'Fernando Gago',
 'Tomas Galasek',
 'Giuseppe Galderisi',
 'Alberto Gallinetta',
 'Enzo Gambaro',
 'Kevin Gameiro',
 'Maurizio Ganz',
 'Dani Garcia',
 'Eric Garcia',
 'Javi Garcia',
 'Luis Garcia',
 'Oscar Garcia',
 'Pablo Garcia',
 'Ryan Garry',
 'Daniele Gastaldello',
 'David de Gea',
 'Njitap Geremi',
 'Steven Gerrard',
 'Giuseppe Giannini',
 'Kieran Gibbs',
 'Kerrea Gilbert',
 'Jose Maria Gimenez',
 'Marco van Ginkel',
 'Sebastian Giovinco',
 'Olivier Giroud',
 'Ludovic Giuly',
 'Serge Gnabry',
 'Assane Demoya Gnoukouri',
 'Shaun Goater',
 'Diego Godin',
 'Jon Andoni Goikoetxea',
 'Heurelho Gomes',
 'Joe Gomez',
 'Sergio Gomez',
 'Leon Goretzka',
 'Andreas Gorlitz',
 'Mario Gotze',
 'Raimond van der Gouw',
 'Mattia Graffiedi',
 'Esteban Granero',
 'Danny Granville',
 'Xavier Gravelaine',
 'Ryan Gravenberch',
 'Mason Greenwood',
 'Michele Di Gregorio',
 'Antoine Griezmann',
 'Gilles Grimandi',
 'David Grondin',
 'Jesper Gronkjaer',
 'Gabriele Grossi',
 'Fabio Grosso',
 'Marko Grujic',
 'Zdenek Grygera',
 'Pep Guardiola',
 'Eidur Gudjohnsen',
 'Raphael Guerreiro',
 'Andres Guglielminpietro',
 'John Guidetti',
 'Peter Gulacsi',
 'Cedric van der Gun',
 'Ilkay Gundogan',
 'Tomas Guzman',
 'Erling Haaland',
 'Achraf Hakimi',
 'Alen Halilovic',
 'Dietmar Hamann',
 'Mounir El Hamdaoui',
 'Samir Handanovic',
 'Owen Hargreaves',
 'Steve Harkness',
 'Joe Hart',
 'Eden Hazard',
 'Thorgan Hazard',
 'Tom Heaton',
 'Jorg Heinrich',
 'Gabriel Heinze',
 'Johnny Heitinga',
 'Stephane Henchoz',
 'Jordan Henderson',
 'Thierry Henry',
 'Mario Hermoso',
 'Lucas Hernandez',
 'Theo Hernandez',
 'Ander Herrera',
 'Gonzalo Higuain',
 'Aleksandr Hleb',
 'Guillaume Hoarau',
 'Peter Hoekstra',
 'Graeme Hogg',
 'Pierre-Emile Hojbjerg',
 'Rob Holding',
 'Gavin Hoyte',
 'Justin Hoyte',
 'Tom Huddlestone',
 'Callum Hudson-Odoi',
 'Mark Hughes',
 'Mats Hummels',
 'Klaas-Jan Huntelaar',
 'Vincenzo Iaquinta',
 'Zlatan Ibrahimovic',
 'Mauro Icardi',
 'Pius Ikedia',
 'Luka Ilic',
 'Ciro Immobile',
 'Paul Ince',
 'Andres Iniesta',
 'Emiliano Insua',
 'Andreas Isaksson',
 'Mark Iuliano',
 'Branislav Ivanovic',
 'Christophe Jallet',
 'David James',
 'Reece James (1999)',
 'Carsten Jancker',
 'Robert Jarni',
 'Jermaine Jenas',
 'Carl Jenkinson',
 'Gabriel Jesus',
 'Juan Jesus (1991)',
 'Glen Johnson',
 'Sam Johnstone',
 'Curtis Jones',
 'Phil Jones',
 'Frenkie de Jong',
 'Nigel de Jong',
 'Siem de Jong',
 'Albert Jorquera',
 'Diogo Jota',
 'Luka Jovic',
 'Charly Musonda Jr.',
 'Fabio Junior',
 'Vinicius Junior',
 'Jose Manuel Jurado',
 'Younes Kaboul',
 'Shinji Kagawa',
 'Gael Kakuta',
 'Kakhaber Kaladze',
 'Patrick Kalambay',
 'Tomas Kalas',
 'Salomon Kalou',
 'Pierre Kalulu',
 'Harry Kane',
 'Todd Kane',
 "N'Golo Kante",
 'Chris Kanu',
 'Nwankwo Kanu',
 'Aitor Karanka',
 'Loris Karius',
 'Talal El Karkouri',
 'Rick Karsdorp',
 'Moise Kean',
 'Robbie Keane',
 'Roy Keane',
 'Sebastian Kehl',
 'Naby Keita',
 'Seydou Keita',
 'Caoimhin Kelleher',
 'Martin Kelly',
 'Mark Kennedy',
 'Martin Keown',
 'Franck Kessie',
 'Harry Kewell',
 'Mateja Kezman',
 'Houssine Kharja',
 'Sami Khedira',
 'Joshua Kimmich',
 'Presnel Kimpembe',
 'Ledley King',
 'Chris Kirkland',
 'Jovan Kirovski',
 'Simon Kjaer',
 'Davy Klaassen',
 'Jurgen Klinsmann',
 'Stefan Klos',
 'Justin Kluivert',
 'Richard Knopper',
 'Aleksandar Kolarov',
 'Sead Kolasinac',
 'Jan Koller',
 'Vincent Kompany',
 'Paul Konchesky',
 'Geoffrey Kondogbia',
 'Laurent Koscielny',
 'Robert Kovac',
 'Mateo Kovacic',
 'Rene Krhin',
 'Florian Kringe',
 'Rasmus Kristensen',
 'Bojan Krkic',
 'Toni Kroos',
 'Rade Krunic',
 'Marc-Andre Kruska',
 'Samuel Kuffour',
 'Dejan Kulusevski',
 'Layvin Kurzawa',
 'Tomasz Kuszczak',
 'Dirk Kuyt',
 'Alexandre Lacazette',
 'Philipp Lahm',
 'Adam Lallana',
 'Erik Lamela',
 'Frank Lampard',
 'Mitchell Langerak',
 'Aymeric Laporte',
 'Luigi Lavecchia',
 'Diego Laxalt',
 'Hugo Leal',
 'Rafael Leao',
 'Nicola Legrottaglie',
 'Jens Lehmann',
 'Moritz Leitner',
 'Lucas Leiva',
 'Christian Lell',
 'Thomas Lemar',
 'Clement Lenglet',
 'Aaron Lennon',
 'Jerome Leroy',
 'Joleon Lescott',
 'Lionel Letizi',
 'Robert Lewandowski',
 'Stephan Lichtsteiner',
 'Matthijs de Ligt',
 'Anders Lindegaard',
 'Victor Lindelof',
 'Rasmus Lindgren',
 'Jesse Lingard',
 'Bixente Lizarazu',
 'Francis Llacer',
 'Diego Llorente',
 'Fernando Llorente',
 'Marcos Llorente',
 'Hugo Lloris',
 'Bogdan Lobont',
 'Manuel Locatelli',
 'Ruben Loftus-Cheek',
 'Diego Lopez (1981)',
 'Gerard Lopez',
 'Maxi Lopez',
 'Pau Lopez',
 'Fabrizio Lorieri',
 'Dejan Lovren',
 'Peter Luccin',
 'Filipe Luis',
 'David Luiz',
 'Douglas Luiz',
 'Romelu Lukaku',
 'Andriy Lunin',
 'Peguy Luyindula',
 'Matt Macey',
 'Federico Macheda',
 'Jon Macken',
 'Harry Maguire',
 'Riyad Mahrez',
 'Mike Maignan',
 'Giampiero Maini',
 'Ainsley Maitland-Niles',
 'Florent Malouda',
 'Rey Manaj',
 'Michael Mancienne',
 'Gianluca Mancini',
 'Rolando Mandragora',
 'Mario Mandzukic',
 'Sadio Mane',
 'Christian Manfredini',
 'Eliaquim Mangala',
 'Alexander Manninger',
 'Vito Mannone',
 'Konstantinos Manolas',
 'Massimo Marazzina',
 'Claudio Marchisio',
 'Enzo Maresca',
 'Jose Mari',
 'Pablo Mari',
 'Angel Di Maria',
 'Lazar Markovic',
 'Rafa Marquez',
 'Luca Marrone',
 'Anthony Martial',
 'Gabriel Martinelli',
 'Emiliano Martinez',
 'Javi Martinez',
 'Jorge Martinez',
 'Lautaro Martinez',
 'Lisandro Martinez',
 'Javier Mascherano',
 'Juan Mata',
 'Nemanja Matic',
 'Joel Matip',
 'Alessandro Matri',
 'Lothar Matthaus',
 'Blaise Matuidi',
 'David May',
 'Borja Mayoral',
 'Noussair Mazraoui',
 'Kylian Mbappe',
 'Patrick Mboma',
 'Josh McEachran',
 'Pat McGibbon',
 'Scott McTominay',
 'Mario Melchiot',
 'Arthur Melo',
 'Felipe Melo',
 'Tiago Mendes',
 'Alberto Mendez',
 'Benjamin Mendy',
 'Bernard Mendy',
 'Ferland Mendy',
 'Jeremy Menez',
 'Fran Merida',
 'Mikel Merino',
 'Per Mertesacker',
 'Lionel Messi',
 'Christoph Metzelder',
 'Thomas Meunier',
 'Philippe Mexes',
 'Andy van der Meyde',
 'Luca Mezzano',
 'Fabrizio Miccoli',
 'Simon Mignolet',
 'John Obi Mikel',
 'Arkadiusz Milik',
 'Eder Militao',
 'Diego Milito',
 'Danny Mills',
 'James Milner',
 'Oscar Minambres',
 'Antonio Mirante',
 'Nicolae Mitea',
 'Henrikh Mkhitaryan',
 'Luka Modric',
 'Luca Mondini',
 'Nacho Monreal',
 'Vincenzo Montella',
 'Riccardo Montolivo',
 'Alvaro Morata',
 'Fabrice Moreau',
 'Andre Moreira',
 'Alberto Moreno',
 'Mateu Morey',
 'Domenico Morfeo',
 'Fernando Morientes',
 'Victor Moses',
 'Marco Motta',
 'Thiago Motta',
 'Mason Mount',
 'Lucas Moura',
 'Thomas Muller',
 'Sulley Muntari',
 'Jamal Musiala',
 'Adrian Mutu',
 "David N'Gog",
 "Bruno N'Gotty",
 'Yuto Nagatomo',
 'Radja Nainggolan',
 'Samir Nasri',
 'Stefano Nava',
 'Keylor Navas',
 'Tanguy Ndombele',
 'Alvaro Negredo',
 'Reiss Nelson',
 'David Neres',
 'Manuel Neuer',
 "M'Baye Niang",
 'Steve Nicol',
 'Saul Niguez',
 'Ruud van Nistelrooy',
 'Eddie Nketiah',
 'Christopher Nkunku',
 'Antonio Nocerino',
 'Pascal Nouma',
 'Alexander Nubel',
 "John O'Brien",
 "John O'Kane",
 "John O'Shea",
 'Joel Obi',
 'Jan Oblak',
 'Lucas Ocampos',
 'Massimo Oddo',
 'Martin Odegaard',
 'Alvaro Odriozola',
 'Nnamdi Oduamadi',
 'Sheyi Ojo',
 'Stefano Okaka',
 'Oier Olazabal',
 'Sunday Oliseh',
 'Wallace Oliveira',
 'Ruben Olivera',
 'Kenneth Omeruo',
 'Andre Onana',
 'Andre Ooijer',
 'Divock Origi',
 'Pierluigi Orlandini',
 'Massimo Orlando',
 'Paolo Orlandoni',
 'David Ospina',
 'Nicolas Otamendi',
 'Andreas Ottl',
 'Michael Owen',
 'Patrick Owomoyela',
 'Alex Oxlade-Chamberlain',
 'Mesut Ozil',
 'Daniele Padelli',
 'Rodrigo Palacio',
 'Gabriel Paletta',
 'Gary Pallister',
 'Goran Pandev',
 'Marko Pantelic',
 'Danilo Pantic',
 'Christian Panucci',
 'Sokratis Papastathopoulos',
 'Leandro Paredes',
 'Ji-sung Park',
 'Paul Parker',
 'Scott Parker',
 'Ray Parlour',
 'Matteo Paro',
 'Thomas Partey',
 'Mario Pasalic',
 'Cristian Pasquato',
 'Javier Pastore',
 'Alexandre Pato',
 'Gabriel Paulista',
 'Veljko Paunovic',
 'Benjamin Pavard',
 'Francisco Pavon',
 'Ivan Pelizzoli',
 'Lorenzo Pellegrini',
 'Luca Pellegrini (1999)',
 'Mauricio Pellegrino',
 'Ivan de la Pena',
 'Jermaine Pennant',
 'Simone Pepe',
 'Andreas Pereira',
 'Bruno Peres',
 'Mattia Perin',
 'Ivan Perisic',
 'Diego Perotti',
 'Simone Perrotta',
 'Robin van Persie',
 'Martin Petrov',
 'Nat Phillips',
 'Lucas Piazon',
 'Felice Piccolo',
 'Steven Pienaar',
 'Kevin Pilkington',
 'Andrea Pinamonti',
 'Javier Pinola',
 'Carlo Pinsoglio',
 'Jose Manuel Pinto',
 'Gerard Pique',
 'Robert Pires',
 'Andrea Pirlo',
 'Lukasz Piszczek',
 'Claudio Pizarro',
 'David Pizarro',
 'Fausto Pizzi',
 'Marko Pjaca',
 'Miralem Pjanic',
 'Tommaso Pobega',
 'Lukas Podolski',
 'Paul Pogba',
 'Andrea Poli',
 'Matteo Politano',
 'Pedro Porro',
 'Christian Poulsen',
 'Robert Prosinecki',
 'Christian Pulisic',
 'Carles Puyol',
 'Ricardo Quaresma',
 'Adrien Rabiot',
 'Andrei Radu',
 'Slobodan Rajkovic',
 'Ivan Rakitic',
 'Sergio Ramos',
 'Aaron Ramsey',
 'Andrea Ranocchia',
 'Marcus Rashford',
 'Jamie Redknapp',
 'Sergio Reguilon',
 'Pepe Reina',
 'Knut Reinhardt',
 'Michael Rensing',
 'Marco Reus',
 'Martijn Reuser',
 'Jose Antonio Reyes',
 'Ricardo van Rhijn',
 'Franck Ribery',
 'Micah Richards',
 'Kieran Richardson',
 'Lars Ricken',
 'Sergio Rico',
 'Albert Riera',
 'John Arne Riise',
 'Arjen Robben',
 'Sergi Roberto',
 'Andrew Robertson',
 'Mark Robins',
 'David Rocastle',
 'Tommaso Rocchi',
 'Sebastian Rode',
 'Cristian Rodriguez',
 'James Rodriguez',
 'Maxi Rodriguez',
 'Marcos Rojo',
 'Alessio Romagnoli',
 'Cristian Romero',
 'Sergio Romero',
 'Oriol Romeu',
 'Cristiano Ronaldo',
 'Wayne Rooney',
 'Danny Rose',
 'Tomas Rosicky',
 'Daniele De Rossi',
 'Jerome Rothen',
 'Emerson Royal',
 'Antonio Rudiger',
 'Daniele Rugani',
 'Geronimo Rulli',
 'Ian Rush',
 'Umar Sadiq',
 'Alexis Saelemaekers',
 'Bacary Sagna',
 'Willy Sagnol',
 'Louis Saha',
 'Nuri Sahin',
 'Mamadou Sakho',
 'Mohamed Salah',
 'Michel Salgado',
 'William Saliba',
 'Julio Salinas',
 'Paolo Sammarco',
 'Walter Samuel',
 'Renato Sanches',
 'Alexis Sanchez',
 'Cesar Sanchez',
 'Davinson Sanchez',
 'Hugo Sanchez',
 'Jadon Sancho',
 'Morgan De Sanctis',
 'Alex Sandro',
 'Leroy Sane',
 'Felipe Santana',
 'Davide Santon',
 ...]

In [262]:
len(recent_best_players)

1204

In [271]:
players_df = pd.read_csv("../players_large.csv")
players_and_teams = pd.read_csv("../players_and_teams_large.csv")

In [237]:
players_and_teams.head()

   id  player_id  team_id  start_date    end_date
0   0       8036      153  07/01/2002  07/01/2005
1   1       8036       18  07/01/1994  07/01/2002
2   2       8036      292  07/01/1989  07/01/1994
3   3       8036     2596  07/01/1988  07/01/1989
4   4     258051      524  12/30/1995  07/01/1996

In [264]:
recent_best_players_df = players_df[players_df["player_name"].isin(recent_best_players)]
recent_best_players_df

          id         player_name
4      34495      Adriano (1984)
5       5876      Adriano (1982)
12    105470             Alisson
24     31645            Anderson
25    277179            Angelino
...      ...                 ...
7957  217111        Hakim Ziyech
7968  157509          Kurt Zouma
8022   22412  Julio Cesar Soares
8232  102023        Dan Petrescu
8280  187492       Julian Brandt

[1204 rows x 2 columns]

In [265]:
recent_best_players_df.to_csv("players_game.csv", index=False)

In [272]:
from datetime import datetime, timedelta
threshold_date = datetime.now() - timedelta(days=15*365)
for index, row in players_and_teams.iterrows():
    if pd.isna(row['end_date']) and pd.to_datetime(row['start_date'], format='%m/%d/%Y')  <= threshold_date:
        print(f"Row {index} for player {row["player_id"]} -- {players_df[players_df.id==row["player_id"]].player_name.values[0]} -- {row['start_date']}")

Row 50369 for player 58358 -- Thomas Muller -- 07/01/2009

In [4]:
players_df = pd.read_csv("../players_large.csv")
players_df

          id     player_name
0       8036        Abelardo
1     258051          Acacio
2      18699        Adailton
3     311030   Ademir (1951)
4      34495  Adriano (1984)
...      ...             ...
8277   42783      Andre Hahn
8278   98349  Romain Hamouma
8279  104904        Ruel Fox
8280  187492   Julian Brandt
8281   79642  Shinji Okazaki

[8282 rows x 2 columns]

In [13]:
def get_nationality(id):
    requests.get(f"http://localhost:8000/players/{id}/profile").json()["citizenship"][0]

get_nationality(34495)

'Brazil'

In [32]:
players_with_nation = players_df.copy()

In [33]:
players_with_nation["nationality"] = ""
for i, row in players_df.iterrows():
    id = row.iloc[0]
    profile = requests.get(f"http://localhost:8000/players/{id}/profile").json()
    if "citizenship" not in profile: print(f"{id}: {players_df[players_df[id]]==id} citzenship not given")
    else:
        players_with_nation.at[i, "nationality"] = profile["citizenship"][0]
    if i%800==0: print(f"{i}: {players_df.iloc[i]["player_name"]}")

0: Abelardo
800: Matteo Ardemagni
1600: Vincenzo Caccavale
2400: Dominique van Dijk
3200: Ed de Goey
4000: Neeskens Kebano
4800: Jose Mateo
5600: Marcelo Otero
6400: Uwe Rosler
7200: Kenneth Taylor
8000: Tim Cahill

In [25]:
requests.get("http://localhost:8000/players/53788/profile").json()["citizenship"][0]

'Brazil'

In [43]:
#create table of countries and images
import pycountry
def get_country_code(country_name):
    try:
        country = pycountry.countries.get(name=country_name)
        return country.alpha_2
    except AttributeError:
        print(country_name)
        return None
get_country_code("North Macedonia")

'MK'

In [44]:
players_with_nation["country_code"] = players_with_nation["nationality"].apply(get_country_code)

In [45]:
players_with_nation

          id     player_name nationality country_code
0       8036        Abelardo       Spain           ES
1     258051          Acacio      Brazil           BR
2      18699        Adailton      Brazil           BR
3     311030   Ademir (1951)      Brazil           BR
4      34495  Adriano (1984)      Brazil           BR
...      ...             ...         ...          ...
8277   42783      Andre Hahn     Germany           DE
8278   98349  Romain Hamouma      France           FR
8279  104904        Ruel Fox  Montserrat           MS
8280  187492   Julian Brandt     Germany           DE
8281   79642  Shinji Okazaki       Japan           JP

[8282 rows x 4 columns]

In [46]:
players_with_nation["nationality"].value_counts()

nationality
Italy                   1120
England                  722
Brazil                   661
Spain                    646
France                   600
                        ...
Somalia                    1
United Arab Emirates       1
Bermuda                    1
Korea, North               1
Indonesia                  1
Name: count, Length: 124, dtype: int64

In [89]:
players_with_nation.to_csv("players_with_nation.csv", index=False)

In [48]:
players_with_nation[players_with_nation["nationality"]==""]

Empty DataFrame
Columns: [id, player_name, nationality, country_code]
Index: []

In [86]:
players_with_nation[players_with_nation["country_code"].isnull()]["nationality"].value_counts()

Series([], Name: count, dtype: int64)

In [85]:
def update_country_codes(countries_and_codes):
    for country, countryCode in countries_and_codes:
        players_with_nation.loc[players_with_nation["nationality"]==country, "country_code"] = countryCode

new_countries_and_codes = [["England", "EN"], ["Cote d'Ivoire", "CI"], ["Scotland", "ST"], ["Wales", "WA"], ["Czech Republic", "CZ"], ["Northern Ireland", "NT"], 
                           ["Russia", "RU"], ["Bosnia-Herzegovina", "BA"], ["DR Congo", "CD"], ["Korea, South", "KR"], ["Cape Verde", "CV"], ["Curacao", "CW"], 
                           ["Venezuela", "VE"], ["The Gambia", "GM"], ["Iran", "IR"], ["Kosovo", "XK"], ["Bolivia", "BO"], ["St. Kitts & Nevis", "KN"], 
                           ["Korea, North", "KP"], ["Saint-Martin", "MF"]]
update_country_codes(new_countries_and_codes)

In [88]:
players_with_nation[players_with_nation["country_code"]=="EN"]

          id         player_name nationality country_code
505   331726       Tammy Abraham     England           EN
519    28238          Tony Adams     England           EN
522   258878    Tosin Adarabioyo     England           EN
546    37148  Gabriel Agbonlahor     England           EN
583   197642         Chuba Akpom     England           EN
...      ...                 ...         ...          ...
8256   31835          Mark Noble     England           EN
8262  107792         Tony Cottee     England           EN
8264    9218      Matthew Taylor     England           EN
8265    4114        Kevin Davies     England           EN
8272    4243          David Dunn     England           EN

[722 rows x 4 columns]

In [83]:
players_with_nation

          id     player_name nationality country_code countryCode
0       8036        Abelardo       Spain           ES         NaN
1     258051          Acacio      Brazil           BR         NaN
2      18699        Adailton      Brazil           BR         NaN
3     311030   Ademir (1951)      Brazil           BR         NaN
4      34495  Adriano (1984)      Brazil           BR         NaN
...      ...             ...         ...          ...         ...
8277   42783      Andre Hahn     Germany           DE         NaN
8278   98349  Romain Hamouma      France           FR         NaN
8279  104904        Ruel Fox  Montserrat           MS         NaN
8280  187492   Julian Brandt     Germany           DE         NaN
8281   79642  Shinji Okazaki       Japan           JP         NaN

[8282 rows x 5 columns]